@charset "utf-8";
/*** Global Resets ***/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}
html,body {height:100%}
body {line-height:1;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
nav ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
a {margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent;}
ins {background-color:#ff9; color:#000; text-decoration:none;}
mark {background-color:#ff9; color:#000; font-style:italic; font-weight:bold;}
del {text-decoration:line-through;}
abbr[title], dfn[title] {border-bottom:1px dotted; cursor:help;}
table {border-collapse:collapse; border-spacing:0;}
hr {display:block; height:1px; border:0; border-top:1px solid #cccccc; margin:1em 0; padding:0;}
input, select {vertical-align:middle;}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, p, blockquote, embed, object {padding:0; margin:0;}
body, html {padding:0; margin:0;}
fieldset, img, abbr {border:0;}
ul {list-style:none;}
img {border:none; max-width:100%}
a:focus {outline:0;}
* {outline:none }
a {text-decoration:none; cursor:pointer;}
a:hover {text-decoration:underline;}
input[type=radio] {vertical-align:middle;}
img {border:none;}
.hidden {display:none;}
.clear {clear:both; width:100%; overflow:hidden; height:0; font-size:0}
.redLink {color:#FF3C00}
div.nofloat, .nofloat {float:none}
.flLeft {float:left}
.flRight {float:right}
.reset { list-style:none; padding:0; margin:0 }
a:link {color:#000; text-decoration:none}
a:visited {color:#000; text-decoration:none}
a:active {color:#000; text-decoration:none}
a:hover {color:#000; text-decoration:underline}
/* text TRANSFORMS */
.allCaps,.allCaps a {text-transform:capitalize}
.upperCase, .upperCase a {text-transform:uppercase}
.underlined, .underlined a {text-decoration:underline}
/* text ALIGN & content ALIGN for inline level ELEMENTS */
.centerAll {text-align:center}
.leftAlign {text-align:left}
.rightAlign {text-align:right}
.justified {text-align:justify}
.rel {position:relative;}
/* FIXED PADDINGs - horizontal inner space right/left/top/btm side */
.nopadding {padding:0} .nomargin {margin:0}
/* Add these to a column to append empty space. */
.padrt1 {padding-right:5px} .padrt2 {padding-right:10px} .padrt3 {padding-right:15px} .padrt4 {padding-right:20px} .padrt5 {padding-right:25px} .padrt6 {padding-right:30px}
/* Add these to a column to prepend empty space. */
.padlt1 {padding-left:5px} .padlt2 {padding-left:10px} .padlt3 {padding-left:15px} .padlt4 {padding-left:20px} .padlt5 {padding-left:25px} .padlt6 {padding-left:30px}
/* Add these to a column to prepend top space. */
.padtp1 {padding-top:5px} .padtp2 {padding-top:10px} .padtp3 {padding-top:15px; background:#FFFFFF;} .padtp4 {padding-top:20px} .padtp5 {padding-top:25px} .padtp6 {padding-top:30px}
/* Add these to a column to prepend bottom space. */
.padbtm1 {padding-bottom:5px} .padbtm2 {padding-bottom:10px} .padbtm3 {padding-bottom:15px} .padbtm4 {padding-bottom:20px} .padbtm5 {padding-bottom:25px} .padbtm6 {padding-bottom:30px}

/* FIXED MARGINs - vertical outer space right/left/top/btm side */
/* Add these to a column to prepend empty space. */
.mart1 {margin-right:5px} .mart2 {margin-right:10px} .mart3 {margin-right:15px} .mart4 {margin-right:20px} .mart5 {margin-right:25px} .mart6 {margin-right:30px}
/* Add these to a column to prepend empty space. */
.marlt1 {margin-left:5px} .marlt2 {margin-left:10px} .marlt3 {margin-left:15px} .marlt4 {margin-left:20px} .marlt5 {margin-left:25px} .marlt6 {margin-left:30px}
/* Add these to a column to prepend top space. */
.martp1 {margin-top:5px} .martp2 {margin-top:10px} .martp3 {margin-top:15px} .martp4 {margin-top:20px} .martp5 {margin-top:25px} .martp6 {margin-top:30px}
/* Add these to a column to prepend bottom space. */
.marbtm1 {margin-bottom:5px} .marbtm2 {margin-bottom:10px} .marbtm3 {margin-bottom:15px} .marbtm4 {margin-bottom:20px} .marbtm4 {margin-bottom:25px} .marbtm6 {margin-bottom:30px}

@charset "utf-8";
/* CSS Document */
/*** BODY (GLOBAL SETTING)***/
html {}
body {background:#ecebe8 url(/re-theme/images/bybg.gif) 0 0 repeat-x; font:normal 12px Arial, Helvetica, sans-serif; color:#777; line-height:18px}
html, body {height:100%}
/*** MAIN WRAPPERS ***/
#wrapper {margin:0 auto; width:1220px; margin-bottom:-60px; min-height:100%}
#maincontent {width:100%; height:100%; padding-bottom:75px}
/*** HEADER ***/
#header {height:99px; width:100%}
#header .tpltdiv {width:100%}
#header .tprtdiv {width:425px}
#header .fulldiv {width:100%}
/*** CH - HEADER TOP RIGHT SEARCH BOX ***/
.searchBox {width:325px; margin:23px 0 0; float:right}
.searchBox label {float:left; width:99px; text-transform:uppercase; color:#ccc; margin-top:3px}
.searchBox .searchInner {float:left; width:224px; background:#fff}
.searchBox .serchInput {background:none; border:none; font:normal 12px Arial, Helvetica, sans-serif; color:#999; float:left; width:188px; padding:5px}
.searchBox .searchButton {background:url(/re-theme/images/srchBack.png) 0 0 no-repeat; border:none; font:normal 0 Arial, Helvetica, sans-serif; color:#999; float:right; width:16px; height:16px; display:block; margin:5px; cursor:pointer}
/*** CH - WEBSITE LOGO ***/
#logo {width:154px; height:27px; padding-top:22px; padding-bottom:20px; float:left;}
#logo a, #logo a:hover {display:block; width:154px; height:27px; text-decoration:none; float:left;}
#logo a:hover { opacity:.9; filter: alpha(opacity=90);}
/*** COMMON FOOTER (CF) ***/
#footer {width:100%; background:none; min-height:60px; position:relative;}
/*** MAIN MENU ***/
#nav {margin:0 0 0 -10px}
.mainMenu a {display:block; color:#cbcbcb; font-family:Arial, Helvetica, sans-serif; font-size:12px; text-decoration:none; text-transform:uppercase;}
.mainMenu a:hover, .mainMenu a.active {color:#cb9d25}
.mainMenu, .drop li, .mainMenu ul {list-style:none; margin:0; padding:0; color:#fff;}
.mainMenu {position:relative; z-index:597; float:left;}
.mainMenu li {float:left; line-height:1.3em; vertical-align:middle; zoom:1; padding:5px 10px; text-shadow:1px 1px 1px #333}
.mainMenu li:first-child {border:none}
.mainMenu li.hover, .mainMenu li:hover {position:relative; z-index:599; cursor:default; color:#cb9d25}
.mainMenu ul {background:#5a5a5a; visibility:hidden; position:absolute; top:100%; left:0; z-index:598; width:150px}
.mainMenu ul li {float:none; border:none}
.mainMenu ul ul {top:2px; left:100%;}
.mainMenu li:hover > ul {visibility:visible}
.mainMenu li.drpMenu {background:url(/re-theme/images/icnAll.png) 43px -168px no-repeat; padding-right:15px}
.mainMenu li.drpMenu a {}
.mainMenu li.drpMenu:active, .mainMenu li.drpMenu.active {background-position:43px -188px}
.mainMenu li.drpMenu1 {background:url(/re-theme/images/icnAll.png) 53px -168px no-repeat; padding-right:15px}
.mainMenu li.drpMenu1:active, .mainMenu li.drpMenu1.active {background-position:53px -188px}
.mainMenu li .btn.drpmenugry.icon:before {float:right; margin-right:0; margin-top:2px; margin-left:5px}
.mainMenu li .btn.drpmenugryactive.icon:before {float:right; margin-right:0; margin-top:2px; margin-left:5px}
.mainMenu li .drpmenugryactive {color:#cb9d25}

/*** TOP NAV ***/
.topNav {margin:20px 0 0; width:auto; float:right}
.topNav li {float:left; color:#ccc; padding:0 8px; border-left:1px solid #5a5a5a; text-shadow:1px 1px 1px #000}
.topNav li:first-child {border:none}
.topNav li a {color:#ccc; text-decoration:none}
.topNav li a:hover {color:#cb9d25}
.topNav li a.drpMenu {background:url(/re-theme/images/icnAll.png) 88px -168px no-repeat}
.topNav li a.drpMenu:hover, .topNav li a.drpMenu.active {background-position:88px -188px}
/*** COMMON BUTTON (CF) ***/
.buttonOne {background:url(/re-theme/images/btn1.png) 0 0 repeat-x !important; border:1px solid #bf8d1f !important; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; font:normal 12px Arial, Helvetica, sans-serif; color:#fff !important; padding:5px 10px !important; cursor:pointer; text-shadow: none !important;}
.buttonOne:hover {background-position:0 -39px !important; border:1px solid #bf8d1f !important;}
.buttonTwo {background:url(/re-theme/images/btn2.png) 0 0 repeat-x !important; border:1px solid #565656 !important; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; font:normal 12px Arial, Helvetica, sans-serif; color:#fff !important; padding:5px 10px !important; cursor:pointer; text-shadow: none !important;}
.buttonTwo:hover {background-position:0 -39px !important; border:1px solid #565656 !important;}
/*** COMMON BUTTON ALL ICON (CF) ***/
.btn {font:normal 12px Arial, Helvetica, sans-serif; color:#777; text-decoration:none}
.btn::-moz-focus-inner {padding:0; border:0;}
.btn.icon:before { background: url("/re-theme/images/allIcon.png") no-repeat scroll 0 0 transparent;content: "";float: left;height: 18px; position: relative;top: 1px;width: 18px;}
.btn.star.icon:before {background-position:0 1px;}
.btn.star.icon:hover:before, .btn.star.icon:focus:before, .btn.star.icon:active:before {background-position:0 0;}
.btn.linkedln.icon:before {background-position:-24px 0;}
.btn.linkedln.icon:hover:before, .btn.linkedln.icon:focus:before, .btn.linkedln.icon:active:before {background-position:-24px 0;}
.btn.facebook.icon:before {background-position:-51px 0;}
.btn.facebook.icon:hover:before, .btn.facebook.icon:focus:before, .btn.facebook.icon:active:before {background-position:-51px 0;}
.btn.twitter.icon:before {background-position:-24px -132px;}
.btn.twitter.icon:hover:before, .btn.twitter.icon:focus:before, .btn.twitter.icon:active:before {background-position:-24px -132px;}
.btn.takeaction.icon:before {background-position:-78px 0;}
.btn.takeaction.icon:hover:before, .btn.takeaction.icon:focus:before, .btn.takeaction.icon:active:before {background-position:-78px 0;}
.btn.takeactionmini.icon:before {background-position:-104px 0;}
.btn.takeactionmini.icon:hover:before, .btn.takeactionmini.icon:focus:before, .btn.takeactionmini.icon:active:before {background-position:-104px 0;}
.btn.alert.icon:before {background-position:-127px 0;}
.btn.alert.icon:hover:before, .btn.alert.icon:focus:before, .btn.alert.icon:active:before {background-position:-127px 0;}
.btn.createAlret.icon:before {background-position:-152px 0;}
.btn.createAlret.icon:hover:before, .btn.createAlret.icon:focus:before, .btn.createAlret.icon:active:before {background-position:-152px 0;}
.btn.print.icon:before {background-position:-178px 0;}
.btn.print.icon:hover:before, .btn.print.icon:focus:before, .btn.print.icon:active:before {background-position:-178px 0;}
.btn.export.icon:before {background-position:-205px 0;}
.btn.export.icon:hover:before, .btn.export.icon:focus:before, .btn.export.icon:active:before {background-position:-205px  0;}
.btn.help.icon:before {background-position:-228px 0;}
.btn.help.icon:hover:before, .btn.help.icon:focus:before, .btn.help.icon:active:before {background-position:-228px 0;}
.btn.export.icon:before {background-position:-205px 0;}
.btn.export.icon:hover:before, .btn.export.icon:focus:before, .btn.export.icon:active:before {background-position:-205px 0;}
.btn.search.icon:before {background-position:-255px 0;}
.btn.search.icon:hover:before, .btn.search.icon:focus:before, .btn.search.icon:active:before {background-position:-255px 0;}
.btn.onecolumn.icon:before {background-position:0 -26px;}
.btn.onecolumn.icon:hover:before, .btn.onecolumn.icon:focus:before, .btn.onecolumn.icon:active:before {background-position:0 -26px;}
.btn.twocolumn.icon:before {background-position:-24px -26px;}
.btn.twocolumn.icon:hover:before, .btn.twocolumn.icon:focus:before, .btn.twocolumn.icon:active:before {background-position:-24px -26px;}
.btn.settings.icon:before {background-position:-51px -26px;}
.btn.settings.icon:hover:before, .btn.settings.icon:focus:before, .btn.settings.icon:active:before {background-position:-51px -26px;}
.btn.addwatchlist.icon:before {background-position:-78px -26px;}
.btn.addwatchlist.icon:hover:before, .btn.addwatchlist.icon:focus:before, .btn.addwatchlist.icon:active:before {background-position:-78px -26px;}
.btn.viewprofile.icon:before {background-position:-104px -26px;}
.btn.viewprofile.icon:hover:before, .btn.viewprofile.icon:focus:before, .btn.viewprofile.icon:active:before {background-position:-104px -26px;}
.btn.opennewin.icon:before {background-position:-127px -26px;}
.btn.opennewin.icon:hover:before, .btn.opennewin.icon:focus:before, .btn.opennewin.icon:active:before {background-position:-127px -26px;}
.btn.edit.icon:before {background-position:-152px -26px;}
.btn.edit.icon:hover:before, .btn.edit.icon:focus:before, .btn.edit.icon:active:before {background-position:-152px -26px;}
.btn.exportprofile.icon:before {background-position:-178px -26px;}
.btn.exportprofile.icon:hover:before, .btn.exportprofile.icon:focus:before, .btn.exportprofile.icon:active:before {background-position:-178px -26px;}
.btn.compareprofile.icon:before {background-position:-205px -26px;}
.btn.compareprofile.icon:hover:before, .btn.compareprofile.icon:focus:before, .btn.compareprofile.icon:active:before {background-position:-205px -26px;}
.btn.quickbio.icon:before {background-position:-228px -26px;}
.btn.quickbio.icon:hover:before, .btn.quickbio.icon:focus:before, .btn.quickbio.icon:active:before {background-position:-228px -26px;}
.btn.newsarticle.icon:before {background-position:-255px -26px;}
.btn.newsarticle.icon:hover:before, .btn.newsarticle.icon:focus:before, .btn.newsarticle.icon:active:before {background-position:-255px -26px;}
.btn.verdict.icon:before {background-position:0 -53px;}
.btn.verdict.icon:hover:before, .btn.verdict.icon:focus:before, .btn.verdict.icon:active:before {background-position:0 -53px;}
.btn.decision.icon:before {background-position:-24px -53px;}
.btn.decision.icon:hover:before, .btn.decision.icon:focus:before, .btn.decision.icon:active:before {background-position:-24px -53px;}
.btn.blog.icon:before {background-position:-51px -53px;}
.btn.blog.icon:hover:before, .btn.blog.icon:focus:before, .btn.blog.icon:active:before {background-position:-51px -53px;}
.btn.legalpublic.icon:before {background-position:-78px -53px;}
.btn.legalpublic.icon:hover:before, .btn.legalpublic.icon:focus:before, .btn.legalpublic.icon:active:before {background-position:-78px -53px;}
.btn.tweet.icon:before {background-position:-104px -53px;}
.btn.tweet.icon:hover:before, .btn.tweet.icon:focus:before, .btn.tweet.icon:active:before {background-position:-104px -53px;}
.btn.event.icon:before {background-position:-127px -53px;}
.btn.event.icon:hover:before, .btn.event.icon:focus:before, .btn.event.icon:active:before {background-position:-127px -53px;}
.btn.barchartvert.icon:before {background-position:-152px -53px;}
.btn.barchartvert.icon:hover:before, .btn.barchartvert.icon:focus:before, .btn.barchartvert.icon:active:before {background-position:-152px -53px;}
.btn.barcharthori.icon:before {background-position:-178px -53px;}
.btn.barcharthori.icon:hover:before, .btn.barcharthori.icon:focus:before, .btn.barcharthori.icon:active:before {background-position:-178px -53px;}
.btn.stackedbarchart.icon:before {background-position:-205px -53px;}
.btn.stackedbarchart.icon:hover:before, .btn.stackedbarchart.icon:focus:before, .btn.stackedbarchart.icon:active:before {background-position:-205px -53px;}
.btn.linechartsingle.icon:before {background-position:-228px -53px;}
.btn.linechartsingle.icon:hover:before, .btn.linechartsingle.icon:focus:before, .btn.linechartsingle.icon:active:before {background-position:-228px -53px;}
.btn.linechartmultiple.icon:before {background-position:-255px -53px;}
.btn.linechartmultiple.icon:hover:before, .btn.linechartmultiple.icon:focus:before, .btn.linechartmultiple.icon:active:before {background-position:-255px -53px;}
.btn.piechart.icon:before {background-position:0 -80px;}
.btn.piechart.icon:hover:before, .btn.piechart.icon:focus:before, .btn.piechart.icon:active:before {background-position:0 -80px;}
.btn.mountainchart.icon:before {background-position:-24px -80px;}
.btn.mountainchart.icon:hover:before, .btn.mountainchart.icon:focus:before, .btn.mountainchart.icon:active:before {background-position:-24px -80px;}
.btn.tornadochart.icon:before {background-position:-51px -80px;}
.btn.tornadochart.icon:hover:before, .btn.tornadochart.icon:focus:before, .btn.tornadochart.icon:active:before {background-position:-51px -80px;}
.btn.error.icon:before {background-position:-78px -80px;}
.btn.error.icon:hover:before, .btn.error.icon:focus:before, .btn.error.icon:active:before {background-position:-78px -80px;}
.btn.dropdownarrow.icon:before {background-position:-104px -80px;}
.btn.dropdownarrow.icon:hover:before, .btn.dropdownarrow.icon:focus:before, .btn.dropdownarrow.icon:active:before {background-position:-104px -80px;}
.btn.addpositive.icon:before {background-position:-127px -80px;}
.btn.addpositive.icon:hover:before, .btn.addpositive.icon:focus:before, .btn.addpositive.icon:active:before {background-position:-127px -80px;}
.btn.subtractneg.icon:before {background-position:-152px -80px;}
.btn.subtractneg.icon:hover:before, .btn.subtractneg.icon:focus:before, .btn.subtractneg.icon:active:before {background-position:-152px -80px;}
.btn.tickmark.icon:before {background-position:-178px -80px;}
.btn.tickmark.icon:hover:before, .btn.tickmark.icon:focus:before, .btn.tickmark.icon:active:before {background-position:-178px -80px;}
.btn.elipses.icon:before {background-position:-205px -80px;}
.btn.elipses.icon:hover:before, .btn.elipses.icon:focus:before, .btn.elipses.icon:active:before {background-position:-205px -80px;}
.btn.close.icon:before {background-position:-228px -80px;}
.btn.close.icon:hover:before, .btn.close.icon:focus:before, .btn.close.icon:active:before {background-position:-228px -80px;}
.btn.closemini.icon:before {background-position:-255px -80px;}
.btn.closemini.icon:hover:before, .btn.closemini.icon:focus:before, .btn.closemini.icon:active:before {background-position:-255px -80px;}
.btn.share.icon:before {background-position:0 -106px;}
.btn.share.icon:hover:before, .btn.share.icon:focus:before, .btn.share.icon:active:before {background-position:0 -106px;}
.btn.updates.icon:before {background-position:-24px -106px;}
.btn.updates.icon:hover:before, .btn.updates.icon:focus:before, .btn.updates.icon:active:before {background-position:-24px -106px;}
.btn.updatesmini.icon:before {background-position:-51px -106px;}
.btn.updatesmini.icon:hover:before, .btn.updatesmini.icon:focus:before, .btn.updatesmini.icon:active:before {background-position:-51px -106px;}
.btn.rank1.icon:before {background-position:-78px -106px;}
.btn.rank1.icon:hover:before, .btn.rank1.icon:focus:before, .btn.updates.icon:active:before {background-position:-78px -106px;}
.btn.rank2.icon:before {background-position:-104px -106px;}
.btn.rank2.icon:hover:before, .btn.rank2.icon:focus:before, .btn.rank2.icon:active:before {background-position:-104px -106px;}
.btn.rank3.icon:before {background-position:-127px -106px;}
.btn.rank3.icon:hover:before, .btn.rank3.icon:focus:before, .btn.rank3.icon:active:before {background-position:-127px -106px;}
.btn.rank4.icon:before {background-position:-152px -106px;}
.btn.rank4.icon:hover:before, .btn.rank4.icon:focus:before, .btn.rank4.icon:active:before {background-position:-152px -106px;}
.btn.rank5.icon:before {background-position:-178px -106px;}
.btn.rank5.icon:hover:before, .btn.rank5.icon:focus:before, .btn.rank5.icon:active:before {background-position:-178px -106px;}
.btn.myaccount.icon:before {background-position:-205px -106px;}
.btn.myaccount.icon:hover:before, .btn.myaccount.icon:focus:before, .btn.myaccount.icon:active:before {background-position:-205px -106px;}
.btn.signout.icon:before {background-position:-228px -106px;}
.btn.signout.icon:hover:before, .btn.signout.icon:focus:before, .btn.signout.icon:active:before {background-position:-228px -106px;}
.btn.inprogress.icon:before {background-position:-255px -106px;}
.btn.inprogress.icon:hover:before, .btn.inprogress.icon:focus:before, .btn.inprogress.icon:active:before {background-position:-255px -106px;}
.btn.chalendar.icon:before {background-position:0 -132px;}
.btn.chalendar.icon:hover:before, .btn.chalendar.icon:focus:before, .btn.chalendar.icon:active:before {background-position:0 -132px;}
.btn.settingsgry.icon:before {background-position:-51px -132px;}
.btn.settingsgry.icon:hover:before, .btn.settingsgry.icon:focus:before, .btn.settingsgry.icon:active:before {background-position:-51px -132px;}
.btn.takeactiongry.icon:before {background-position:-78px -132px;}
.btn.takeactiongry.icon:hover:before, .btn.takeactiongry.icon:focus:before, .btn.takeactiongry.icon:active:before {background-position:-78px -132px;}
.btn.closewhite.icon:before {background-position:-104px -132px;}
.btn.closewhite.icon:hover:before, .btn.closewhite.icon:focus:before, .btn.closewhite.icon:active:before {background-position:-104px -132px;}
.btn.closegry.icon:before {background-position:-127px -132px;}
.btn.closegry.icon:hover:before, .btn.closegry.icon:focus:before, .btn.closegry.icon:active:before {background-position:-127px -132px;}
.btn.drpdwngry.icon {color:#fff}
.btn.drpdwngry.icon:before {background-position:-148px -130px; float:right; margin-right:0; height:16px}
.btn.drpdwngry.icon:hover:before, .btn.drpdwngry.icon:focus:before, .btn.drpdwngry.icon:active:before {background-position:-148px -130px;}
.btn.addgry.icon {color:#fff}
.btn.addgry.icon:before {background-position:-178px -133px; height:16px; margin-right:0}
.btn.addgry.icon:hover:before, .btn.addgry.icon:focus:before, .btn.addgry.icon:active:before {background-position:-178px -133px;}
.btn.printgry.icon:before {background-position:-228px -133px}
.btn.printgry.icon:hover:before, .btn.printgry.icon:focus:before, .btn.printgry.icon:active:before {background-position:-228px -133px;}
.btn.exportgry.icon:before {background-position:-205px -130px}
.btn.exportgry.icon:hover:before, .btn.exportgry.icon:focus:before, .btn.exportgry.icon:active:before {background-position:-205px -130px;}
.btn.negry.icon:before {background-position:-255px -130px}
.btn.negry.icon:hover:before, .btn.negry.icon:focus:before, .btn.negry.icon:active:before {background-position:-255px -130px;}

.btn.drpmenugry.icon:before {background-position:0 -158px}
.btn.drpmenugry.icon:hover:before, .btn.drpmenugry.icon:focus:before, .btn.drpmenugry.icon:active:before {background-position:0 -158px;}
.btn.drpmenugryactive.icon:before {background-position:-24px -158px}
.btn.drpmenugryactive.icon:hover:before, .btn.drpmenugryactive.icon:focus:before, .btn.drpmenugryactive.icon:active:before {background-position:-24px -158px;}
/*** HEADING (CF) ***/
h4.heading {font:normal 17px Arial, Helvetica, sans-serif; color:#ba850f; text-transform:uppercase; padding:20px 0 0 0; margin:0;}
/*** BREADCRUMBS (CF) ***/
.breadcrumbs {color:#aaa; font:normal 13px Arial, Helvetica, sans-serif; text-transform:uppercase; margin:10px 0 0 0; width:auto; float:left;}
.breadcrumbs a, .breadcrumbs span {color:#222}
/*** TABS (CF) ***/
#tabs {/*overflow:hidden;*/ margin:0 0 0 0; padding:0; list-style:none; width:auto; float:left;}
#tabs li {float:left; margin:0 -12px 0 0;}
#tabs a {background:url(/re-theme/images/tabBack.png) 0 0 no-repeat; position:relative; padding-left:33px; float:left; text-decoration:none; color:#444; height:35px; line-height:35px}
#tabs a span {background:url(/re-theme/images/tabBack.png) 100% -35px no-repeat; float:left; padding-right:40px; padding-left:8px; height:35px;}
#tabs a:hover, #tabs a.active-menu {background:url(/re-theme/images/tabBack.png) 0 -90px no-repeat; position:relative; color:#CB9D25;}
#tabs a.active-menu { font-weight:bold;}
#tabs a:hover span, #tabs a.active-menu span {background:url(/re-theme/images/tabBack.png) 100% -125px no-repeat; position:relative; text-decoration:underline;}
#tabs a:focus {outline:0;}
/* ------------------------------------------------- */
#content {background:#fff; padding:20px; border:1px solid #dfdfdf; position:relative; z-index:2}
#dropdown #droplist {padding:15px 0px 0px 0px; margin:0px; color:#000; float:left; width:100%; font-family:arial, helvetica, sans-serif; font-size:12px; font-weight:lighter;}
#dropdown #droplist li .rel {z-index:99999}
#dropdown #droplist li label {display:block; width:100%; color:#777777; margin-bottom:2px}
#dropdown #droplist li {padding:0; float:left; margin:0 5px 0 0; display:inline;}
#dropdown #droplist li .srchBox {border:1px solid #ddd; background:#fff; width:147px; float:left; border-right:none}
#dropdown #droplist li .srchBox .input {background:none; border:none; float:left; width94%; padding:5px 5px 6px; height:16px;}
#dropdown #droplist li .srchBox .srchBack {background:url(/re-theme/images/srchBack.png) 0 0 no-repeat; width:16px; height:16px; display:block; float:left; border:none; margin-right:7px; margin-top:6px; cursor:pointer; display:none;}
#dropdown #droplist li .drpDwn {background:url(/re-theme/images/icnlist.png) 0 0 no-repeat; width:30px; height:29px; border:1px solid #ddd; float:right; cursor:pointer; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
#dropdown #droplist li .typeSel {background:url(/re-theme/images/icnlist.png) 0 0 no-repeat; width:30px; height:29px; border:1px solid #ddd; float:right; cursor:pointer; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
#dropdown #droplist li .firmPage, #dropdown ul#droplist li .datePage {border:1px solid #b1b0ae; position:absolute; left:0; top:29px; display:none; padding:15px 10px; color:#777; box-shadow:0 3px 2px 0 #999999;}
#dropdown #droplist li .datePage {width:200px}
/*** GRID ***/
.col, .col4-1, .col4-2, .col4-3, .col3-1, .col3-2, .col2-1, .col3-3,  .col3-4 {float:left}
.col2-1 {width:180px}
.col1-1 {width:80px}
.col1-2 {width:90px}
.col3-1 {width:365px}
.col3-2 {width:305px}
.col3-3 {width:200px}
.col3-4 {width:145px}
/*** LIST NAME ***/
.listView {margin-right:-15px}
.listView li {position:relative; z-index:99}
.listView li a {text-decoration:none}
.listView li .actionSec {background:#fff; border:1px solid #ddd; padding:1px; position:absolute; right:0; top:20px; display:none; width:130px}
.listView li .actionSec h5 { font:bold 12px Arial, Helvetica, sans-serif; color:#333; padding:3px 5px}
.listView li .actionSec ul {margin:7px 13px 10px 5px}
.listView li .actionSec ul li {border:1px solid #ccc; cursor:pointer; display:block; width:100%; color:#666 !important; padding:3px; margin-bottom:5px; text-align:right;}
.listView li .actionSec ul li:hover { text-decoration:underline;}
/*.listView li .actionSec ul li:hover a {color:#333}
.listView li .actionSec ul li a { background:none; padding:0 0 0 5px; text-decoration:none; color:#666}*/
.listView li .actionSec ul li span { float:left; padding:0 0 0 30px;}
.listView li .actionSec ul li span:hover { text-decoration:underline; color:#222;}
.listView li:hover > .actionSec {display:block}
.listView .viewBox {position:absolute; right:-50px; top:18px; width:600px; background:#f0f0f0; border:1px solid #a4a1a1; display:none; padding:10px; -moz-box-shadow:0px 3px 3px #888; -webkit-box-shadow:0px 3px 3px #888; box-shadow:0px 3px 3px #888; color:#222}
.listView .viewBox .btmdiv {border-top:1px solid #c0c0c0; padding-top:5px; margin-top:5px}
.listView li:hover > .viewBox {display:block}
.listView li input[type="checkbox"] {margin-right:4px}

.list2 li {margin:10px 0 5px; display:block; width:100%}
.list2 li input[type="radio"] {vertical-align:middle; float:left; margin-right:10px; margin-top:2px}
.list2 li .btn.onecolumn.icon:before {background-position:0 -23px;}
.list2 li .btn.onecolumn.icon:hover:before, .btn.onecolumn.icon:focus:before, .btn.onecolumn.icon:active:before {background-position:0 -23px;}
.list2 li .btn.twocolumn.icon:before {background-position:-23px -23px;}
.list2 li .btn.twocolumn.icon:hover:before, .btn.twocolumn.icon:focus:before, .btn.twocolumn.icon:active:before {background-position:-23px -23px;}

.list3 {margin:10px 0 0}
.list3 li {float:left; width:300px; padding:5px; margin:0 8px 8px 0; border:1px solid #e0e9f0; min-height:50px}
.list3 li:hover {background:#e9f0f4; cursor:pointer; box-shadow:0 2px 2px 0px #dedede;}
.list3 li h4 {font:normal 14px Arial, Helvetica, sans-serif; color:#222}
.list3 li .imgdiv {float:left; border:1px solid #999; width:20px; height:20px;padding:5px 0 0 5px;}
.list3 li .disc {float:left; width:255px; margin-left:10px}

.list4 {margin:0 0 10px}
.list4 li {margin:10px 0 5px; float:left; margin-left:10px}
.list4 li input[type="radio"] {vertical-align:middle; float:left; margin-right:10px; margin-top:2px}
.list4 li .btn.icon:before {top:3px; margin-right:0}
.list4 li label.label {float:left; margin-top:-3px}

.list5 {margin-top:10px}
.list5 li {margin:0 0 5px; display:block; width:100%; float:none}
/*** VIEW SETTING ***/
.viewSetting {color:#888888; margin-top:10px; position:relative; z-index:999}
.viewSetting h6 {color:#222}
.viewSetting a {text-decoration:none; padding-bottom:15px}
.viewSetting span {padding:2px 0px 3px 0}
.viewSetting span span.btn.dropdownarrow.icon:before {float:right; padding-right:5px; background-position:-98px -75px; color:#888}
.viewSetting .viewBox {position:absolute; right:15px; top:20px; width:180px; background:#f0f0f0; border:1px solid #a4a1a1; display:none; padding:10px; -moz-box-shadow:0px 3px 3px #888; -webkit-box-shadow:0px 3px 3px #888; box-shadow:0px 3px 3px #888;}
.viewSetting .viewBox .btmdiv {border-top:1px solid #c0c0c0; padding-top:5px; margin-top:5px}
.viewSetting .comparisonData {position:absolute; right:5px; top:18px; width:680px; background:#fff; border:1px solid #a4a1a1; display:none; padding:10px; -moz-box-shadow:0px 3px 3px #888; -webkit-box-shadow:0px 3px 3px #888; box-shadow:0px 3px 3px #888; color:#222}
.viewSetting .comparisonData .btmdiv {border-top:1px solid #c0c0c0; padding-top:5px; margin-top:5px}
.viewSetting:hover > .viewBox {display:block}
.resultsec {color:#777}
.resultsec span {color:#888}
/*** FILTER BAR (CF) ***/
.filtersPage .barSec {background:url(/re-theme/images/additinalBack.png) center 0 no-repeat; width:100%; height:24px; margin:10px 0; float:left;}
.filtersPage .dwnBx {display:block; text-align:center; text-decoration:none; color:#fff; padding:5px 0}
.filtersPage .upBx {display:block; text-align:center; text-decoration:none; color:#fff; padding:5px 0}
/*** CONTENT MENU RIGHT (CF) ***/
.menuRight {margin-top:5px}
.menuRight li {float:left; display:block; margin-right:15px; position:relative; z-index:1000}
.menuRight li a {float:left; display:block; padding:0 0 4px 0; color:#777}
.menuRight li a.btn.icon:before {margin-right:5px}
.menuRight li .actionSec {background:#fff; border:1px solid #ddd; padding:1px; position:absolute; right:-5px; top:20px; display:none; width:140px}
.menuRight li .actionSec h5 {background:#CCC; font:bold 12px Arial, Helvetica, sans-serif; color:#333; padding:3px 5px}
.menuRight li .actionSec ul {margin:7px 13px 10px 5px}
.menuRight li .actionSec ul li {border:1px solid #ccc; cursor:pointer; display:block; width:100%; padding:3px; margin-bottom:5px}
.menuRight li .actionSec ul li:hover {background:#ccc}
.menuRight li .actionSec ul li:hover a {color:#333}
.menuRight li .actionSec ul li a {background:none; padding:0 0 0 5px; text-decoration:none}
.menuRight li .actionSec ul li span {float:left; border:1px solid #999; padding:0 4px; line-height:1.3}
.menuRight li:hover > .actionSec {display:block}
/*** Results Details - TABLE (CF) ***/
.detailsPage {background:#fff; padding:20px; border:1px solid #ddd}
.tblOne {margin:10px 0}
.tblOne thead {background:url(/re-theme/images/tbth.gif) 0 0 repeat-x; color:#fff}
.tblOne tr th {vertical-align:middle; padding:0 5px; height:31px}
.tblOne tr.odd td {background:#f6f4f2; padding:10px 0; vertical-align:top}
.tblOne tr.even td {padding:10px 0; vertical-align:top}
.tblOne h6 {font-weight:normal}
.tblOne h6 a {text-decoration:underline}
.tblOne h6 a:hover {text-decoration:none}
.tblOne a {color:#777}
/*** PRINT PAGE (CF) ***/
.printSec {color:#333; padding:20px}
.printSec .topBar {border-bottom:1px solid #ccc; padding-bottom:10px; margin-bottom:10px; width:100%}
.printSec #logo {padding-top:10px}
.printSec .dateSec {font:normal 13px Arial, Helvetica, sans-serif; margin-top:10px}
.printSec h4 {font:normal 15px Arial, Helvetica, sans-serif; margin:10px 0}
.printSec .listOne {font-size:14px}
.printSec .listOne li {float:left; margin-right:20px}
.printSec .listOne li a {color:#333}
.printSec .tplist li {float:left; margin-left:10px; padding-left:10px; border-left:1px solid #ccc; line-height:1.2}
.printSec .tplist li:first-child {border:none}
.printSec .tplist li a {float:left; text-decoration:underline; color:#333}
.printSec .tplist li a:hover {text-decoration:none}
.printSec .tbleTwo {border-top:1px solid #000; margin-top:10px}
.printSec .tbleTwo tr th {padding:10px 5px; text-align:left}
.printSec .tbleTwo tr td {padding:10px 5px}
/*** MANAGE WATCH LISTS (CF) ***/
.manageWatchSec {margin:25px 0 0}
.manageWatchSec h4 {font:normal 18px Arial, Helvetica, sans-serif; color:#222; margin-bottom:10px; text-transform:uppercase}
.manageWatchSec h5 {font:normal 17px Arial, Helvetica, sans-serif; color:#ba850f; margin-bottom:10px; text-transform:uppercase}
.manageWatchSec .leftMenuDiv {width:225px}
.manageWatchSec .firmsRightDiv {width:975px}
.manageWatchSec .mywatchTxt {background:#383838; /* Old browsers *//* IE9 SVG, needs conditional override of 'filter' to 'none' */background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM4MzgzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzJlMmUyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzI1MjUyNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZjFmMWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background:-moz-linear-gradient(top,  #383838 0%, #2e2e2e 50%, #252525 51%, #1f1f1f 100%); /* FF3.6+ */ background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#383838), color-stop(50%,#2e2e2e), color-stop(51%,#252525), color-stop(100%,#1f1f1f)); /* Chrome,Safari4+ */ background:-webkit-linear-gradient(top,  #383838 0%,#2e2e2e 50%,#252525 51%,#1f1f1f 100%); /* Chrome10+,Safari5.1+ */ background:-o-linear-gradient(top,  #383838 0%,#2e2e2e 50%,#252525 51%,#1f1f1f 100%); /* Opera 11.10+ */ background:-ms-linear-gradient(top,  #383838 0%,#2e2e2e 50%,#252525 51%,#1f1f1f 100%); /* IE10+ */ background:linear-gradient(to bottom, #2E2E2E 0px, #252525 35px, #383838 35px, #1F1F1F 100%); /* W3C */ filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#1f1f1f',GradientType=0 ); /* IE6-8 */ border:1px solid #363636; border-bottom:1px solid #141414; color:#b88d2e; text-transform:uppercase; padding:4px 10px 5px}
.manageWatchSec .mywatchTxt span.arw {background:url(/re-theme/images/icnAll.png) 0 -189px no-repeat; padding-left:15px; line-height:2.1; cursor:pointer; font-weight:bold;}
.manageWatchSec .mywatchTxt .newClick {background:#383838; /* Old browsers *//* IE9 SVG, needs conditional override of 'filter' to 'none' */background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM4MzgzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzJlMmUyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzI1MjUyNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZjFmMWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background:-moz-linear-gradient(top,  #383838 0%, #2e2e2e 50%, #252525 51%, #1f1f1f 100%); /* FF3.6+ */ background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#383838), color-stop(50%,#2e2e2e), color-stop(51%,#252525), color-stop(100%,#1f1f1f)); /* Chrome,Safari4+ */ background:-webkit-linear-gradient(top,  #383838 0%,#2e2e2e 50%,#252525 51%,#1f1f1f 100%); /* Chrome10+,Safari5.1+ */ background:-o-linear-gradient(top,  #383838 0%,#2e2e2e 50%,#252525 51%,#1f1f1f 100%); /* Opera 11.10+ */ background:-ms-linear-gradient(top,  #383838 0%,#2e2e2e 50%,#252525 51%,#1f1f1f 100%); /* IE10+ */ background:linear-gradient(to bottom,  #383838 0%,#2e2e2e 50%,#252525 51%,#1f1f1f 100%); /* W3C */ filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#1f1f1f',GradientType=0 ); /* IE6-8 */ border:1px solid #404040; color:#888; padding:2px 5px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; cursor:pointer; margin-top:3px; margin-bottom:0; text-decoration:none}
.manageWatchSec .mywatchTxt span.add {background:url(/re-theme/images/icnAll.png) 0 -438px no-repeat; padding-left:13px}
/* MANAGE WATCH LIST LEFT PAGE SUB MENU */
.manageWatchSec .leftMenuDiv .smlTxt {margin-bottom:10px}
.manageWatchSec #leftMenu {float:left; width:100%; background:#363636}
.manageWatchSec #leftMenu li {background:url(/re-theme/images/bgLine.gif) 0 100% repeat-x}
.manageWatchSec #leftMenu li.last {background:none}
.manageWatchSec #leftMenu li a {background:url(/re-theme/images/arwRightIcon.png) 12px 15px no-repeat; display:block; padding:10px 0px 10px 25px; text-decoration:none; color:#888;}
.manageWatchSec #leftMenu li li {background:none; padding:0 12px}
.manageWatchSec #leftMenu li a:hover {color:#888}
.manageWatchSec #leftMenu li a.active {background:url(/re-theme/images/arwDown.png) 0 12px no-repeat; padding:5px 10px 5px 15px; color:ffffff; font-weight:bold;}
.manageWatchSec #leftMenu li ul {display:none; padding-bottom:13px;}
.manageWatchSec #leftMenu li ul li a {padding:5px 10px; background:#ffffff; border-bottom:1px solid #363636; text-transform:none; color:#333333;}
.manageWatchSec #leftMenu li ul li a:hover, .manageWatchSec #leftMenu li ul li a.active {background:#969696; color:#fff; position:relative}
.manageWatchSec #leftMenu li ul li a.active:after {position:absolute; right:-21px; top:5px; content:''; width:0; height:0; border-style:solid; border-width:10px 0 10px 10px; border-color:transparent transparent transparent #363636}
/* MANAGE WATCH LIST RIGHT PAGE */
.manageWatchSec .modifyPage {border:1px solid #ddd; width:100%; margin-top:27px; margin-top:0}

.topHeader {background:#4f4f4f;/*Old browsers  IE9 SVG, needs conditional override of 'filter' to 'none'*/ background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRmNGY0ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzQ5NDk0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzQ0NDQ0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MDQwNDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background:-moz-linear-gradient(top,  #4f4f4f 0%, #494949 50%, #444444 50%, #404040 100%); FF3.6+ background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f4f4f), color-stop(50%,#494949), color-stop(50%,#444444), color-stop(100%,#404040)); Chrome,Safari4+ background:-webkit-linear-gradient(top,  #4f4f4f 0%,#494949 50%,#444444 50%,#404040 100%); Chrome10+,Safari5.1+ background:-o-linear-gradient(top,  #4f4f4f 0%,#494949 50%,#444444 50%,#404040 100%); Opera 11.10+ background:-ms-linear-gradient(top,  #4f4f4f 0%,#494949 50%,#444444 50%,#404040 100%); IE10+
background:linear-gradient(to bottom,  #4f4f4f 0%,#494949 50%,#444444 50%,#404040 100%); W3C filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#404040',GradientType=0 ); IE6-8}
.topHeader { color:#ccc; position:relative; min-height:30px;}
.topHeader .star {background:url(/re-theme/images/star-img.png) 100% 2px no-repeat; padding:0 15px 0 0}
.topHeader .icnSrch {background:url(/re-theme/images/icnAll.png) 100% -304px no-repeat; margin-left:10px; padding-right:45px}
.topHeader .newMod {background:url(/re-theme/images/icnAll.png) 0 -367px no-repeat; padding:0 0 0 15px; color:#ffffff; font-size:11px; float:right; margin-right:10px}
defaultWatchlist { color:#ffffff;}
.topHeader .deleteWatchList {background:url(/re-theme/images/icnAll.png) 0 -406px no-repeat; padding:0 0 0 15px; color:#ef555c; font-size:11px; float:right}
.topHeader a {color:#ccc; text-decoration:none}
/* MANAGE WATCH LIST TOP HEADER	*/
.manageWatchSec .firmsWatchlist {background:#fff; width:262px; padding:13px; border-right:1px solid #ddd}
.manageWatchSec .findSelectAddPage {width:658px; padding:13px}
/* MANAGE WATCH LIST PAGINATION PAGE */
.pagiList {width:60%}
.pagiList a {float:left}
.pagiList a.active { font-weight:bold; text-decoration:underline}
.pagiList li {float:left; border-left:1px solid #ccc; line-height:1.2; text-shadow:1px 1px 1px #fff; color:#222; margin-left:10px; margin-bottom:10px; padding-left:10px}
.pagiList li:first-child {margin-left:0; padding-left:0; border:none}
/* TABLE */
.tbleTwo {border-bottom:1px solid #999792}
.tbleTwo tr.tpbar th {background:url(/re-theme/images/tbth.gif) 0 0 repeat-x; color:#ccc; text-shadow:1px 1px 1px #222; vertical-align:middle; padding:0 5px; height:31px; text-align:left; padding-left:12px}
.tbleTwo th {background:#666; color:#ccc; padding:6px 0 8px 5px}
.tbleTwo tr.even td {background:#f6f4f2; padding:6px 10px 8px 5px; vertical-align:middle}
.tbleTwo tr.odd td {background:#fff; padding:6px 10px 8px 5px; vertical-align:middle}
.tbleTwo a {color:#222; text-decoration:underline}
.tbleTwo a:hover {text-decoration:none}
.tbleTwo .close {background:url(/re-theme/images/icnAll.png) 0 -218px no-repeat; float:right; margin:4px 5px 0 0; display:block; width:9px; height:9px; text-decoration:none}
.tbleTwo .add {background:url(/re-theme/images/icnAll.png) 50px -244px no-repeat; padding-right:15px; text-decoration:none}
.tbleTwo .remove {background:url(/re-theme/images/icnAll.png) 50px -273px no-repeat; padding-right:15px; text-decoration:none; color:#bd1920}
/* TABLE 3 */
.tble3 {border-bottom:1px solid #999792}
.tble3 tr.tpbar th {background:#424242; color:#ffffff; text-shadow:1px 1px 1px #222; vertical-align:middle; padding:0 5px; height:31px; text-align:center;}
.tble3 th {background:#666; color:#ccc; padding:6px 0 8px}
.tble3 th {vertical-align:middle}
.tble3 th, .tble3 td {border:1px solid #cccbc8; text-align:center}
.tble3 tr.levelhead td {background:#dfdedc; border:1px solid #cccbc8; border-bottom:1px solid #fff; color:#222; padding:6px 0; vertical-align:middle}
.tble3 tr.levelhead.last td {border-bottom:1px solid #999792}
.tble3 tr.even td {background:#f6f4f2; padding:6px 0; vertical-align:middle}
.tble3 tr.odd td {background:#fff; padding:6px 0; vertical-align:middle}
.tble3 a {color:#222; text-decoration:none;}
.tble3 tr td:first-child a { text-decoration:underline;}
.tble3 a:hover {text-decoration:none}
.tble3 .close {background:url(/re-theme/images/icnAll.png) 0 -218px no-repeat; display:block; width:9px; height:9px; text-decoration:none}
.tble3 .add {background:url(/re-theme/images/icnAll.png) 50px -244px no-repeat; padding-right:15px; text-decoration:none}
.tble3 .remove {background:url(/re-theme/images/icnAll.png) 50px -273px no-repeat; padding-right:15px; text-decoration:none; color:#bd1920}
.tble3 .blue , .tble3 .blue a {color:#0c3561}
.tble3 .red , .tble3 .red a {color:#c31f26}
.tble3 input[type="checkbox"] {margin-right:10px}
.tble3 .btn.addgry.icon:before {background-position:-178px -133px; height:16px; margin-right:0; margin-left:10px}
.tble3 .btn.addgry.icon:hover:before, .tble3 .btn.addgry.icon:focus:before, .btn.addgry.icon:active:before {background-position:-178px -133px;}
.tble3 .btn.negry.icon:before {background-position:-255px -130px; height:16px; margin:-2px 0 0 10px}
.tble3 .btn.negry.icon:hover:before, .tble3 .btn.negry.icon:focus:before, .btn.negry.icon:active:before {background-position:-255px -130px;}
.tble3 .takeactionmini {text-decoration:none}
.tble3 .btn.takeactionmini.icon:before {background-position:-104px 0; margin:0 0 0 13px}
.tble3 .btn.takeactionmini.icon:hover:before, .tble3 .btn.takeactionmini.icon:focus:before, .btn.takeactionmini.icon:active:before {background-position:-104px 0;}
.tble3 th.backbrdnone {background:none !important; border:none}
.tble3 .txtLeft {text-align:left; text-indent:10px}
/* TAB 1 2 3 */
.webwidget_tab {}
.tabContainer {width:100%; overflow:hidden}
.tabContainer li {float:left}
.tabContainer li a {display:block !important; display:inline-block; height:27px; line-height:27px; text-shadow:1px 1px 1px #fff}
.webwidget_tab .tabHead {list-style-type:none; margin:0px 0 0 -5px; padding:0px}
.webwidget_tab .tabBody {margin-top:-1px; border-top:1px solid #d4d4d4}
.webwidget_tab .tabBody ul {margin:0px; padding:0px; list-style:none}
.webwidget_tab .tabBody ul {}
.webwidget_tab .tabBody ul li {}

.webwidget_tab .tabHead li a {background:url(/re-theme/images/tabBack2.png) 0 0 no-repeat; margin-right:-30px; padding-left:31px; float:left; text-decoration:none; color:#888}
.webwidget_tab .tabHead li a span {background:url(/re-theme/images/tabBack2.png) 100% -35px no-repeat; padding-right:31px; float:left}
.webwidget_tab .tabHead li a:hover , .webwidget_tab .tabHead li.currentBtn a {background:url(/re-theme/images/tabBack2.png) 0 -80px no-repeat}
.webwidget_tab .tabHead li a:hover span, .webwidget_tab .tabHead li.currentBtn a span {background:url(/re-theme/images/tabBack2.png) 100% -115px no-repeat}
.webwidget_tab .tabCot {}
.webwidget_tab .tabContainer li.currentBtn {margin-bottom:-1px; position:relative; z-index:1000}
.webwidget_tab .tabContainer li.currentBtn a {height:29px; color:#222}
.webwidget_tab .tabContainer li.currentBtn a span {height:29px; color:#222}
/* NEWS PUBLICATION PAGE */
.newspublicationPage .colMin {width:auto; margin-left: 9%;}
.newspublicationPage .WideChart {width: 1002px !important;}
.newspublicationPage .netypepage {border:1px solid #ddd; padding:10px}
.newspublicationPage h6 {font:bold 12px Arial, Helvetica, sans-serif; color:#222; margin:5px 0 0 10px !important}
/* POPUS LIST */
.popusdiv .popHeader {background: #c3952f; /* Old browsers */ background: -moz-linear-gradient(top,  #c3952f 0%, #bd8e28 50%, #b68821 50%, #b2831d 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c3952f), color-stop(50%,#bd8e28), color-stop(50%,#b68821), color-stop(100%,#b2831d)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #c3952f 0%,#bd8e28 50%,#b68821 50%,#b2831d 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #c3952f 0%,#bd8e28 50%,#b68821 50%,#b2831d 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #c3952f 0%,#bd8e28 50%,#b68821 50%,#b2831d 100%); /* IE10+ */ background: linear-gradient(to bottom,  #c3952f 0%,#bd8e28 50%,#b68821 50%,#b2831d 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3952f', endColorstr='#b2831d',GradientType=0 ); /* IE6-9 */ color:#fff; text-shadow:1px 1px 1px #8d6818; padding:5px 10px; font-weight:bold; text-transform:uppercase;}
.popusdiv .btn.closewhite.icon:before {top:-1px; left:0;  text-transform:capitalize;}
.popusdiv .popHeader a {color:#fff; text-decoration:none}
.popusdiv .popFooter {border-top:1px solid #ccc; padding:5px 10px}
.popusdiv .popMiddle {padding:10px; text-shadow:none;}
.popusdiv.login-popup {display:none; background:#f0f0f0; border:1px solid #a4a1a1; border-top:none; float:left; font-size:1.2em; position:absolute; top:50%; left:50%; z-index:9999; width:320px}
.popusdiv.login-popupOne {display:none; background:#f0f0f0; border:1px solid #a4a1a1; border-top:none; float:left; position:absolute; top:50%; left:50%; z-index:9999; width:320px}
.popusdiv.login-popupTwo {display:none; background:#f0f0f0; border:1px solid #a4a1a1; border-top:none; float:left; position:absolute; right:70px; top:395px; z-index:9999; width:320px; margin:0 !important; padding:0 !important}
/* ADD ANALYSIS BUTTON */
.selectchartadd {position:absolute; left:0; top:30px; background:#fff; border:1px solid #a4a1a1; display:none; padding:10px; width:320px; -moz-box-shadow:0px 3px 3px #888; -webkit-box-shadow:0px 3px 3px #888; box-shadow:0px 3px 3px #888;}
.aui-tabview-list {border:none; margin-bottom:-4px}
.aui-tabview-list .aui-tab-content {padding:0}
.aui-tabview-list .aui-tab-label {background:url(/re-theme/images/tabBack.png) 0 0px no-repeat; margin:0 -35px 0 0; padding:0 0 0 31px; float:left; text-decoration:none; color:#888}
.aui-tabview-list .aui-tab-label a {background:url(/re-theme/images/tabBack.png) 100% -35px no-repeat; padding:10px 41px 7px 10px; float:left; color:#222; text-shadow:none;}
.aui-tabview-list .aui-tab-active {background:none;}
.aui-tabview-list .aui-tab-active:after {border:none;}

.aui-tabview-list .aui-state-active .aui-tab-label {background:url(/re-theme/images/tabBack.png) 0 -90px no-repeat}
.aui-tabview-list .aui-state-active .aui-tab-label a {background:url(/re-theme/images/tabBack.png) 100% -125px no-repeat}

/* SELECT BOX */
.selectBox select {background:transparent; width:133%; padding:5px 5px 5px 0; font-size:16px; line-height:1; border:1px solid #ddd; border-radius:0; -webkit-appearance:none; font:normal 12px Arial, Helvetica, sans-serif; height:28px;cursor:pointer;}
.selectBox {width:100%; height:28px; overflow:hidden; background:#fff url(/re-theme/images/selectbx.png) 100% 0 no-repeat}


.loadingClass {             
    cursor: progress;                              
}


.error
{
    color: red;
    font-family : Verdana;
    font-size : 10pt;
}

.ui-autocomplete-category {
	font-weight: bold;
	padding: .2em .4em;
	margin: .8em 0 .2em;
	line-height: 1.5;
}

.ui-autocomplete {
	max-height: 200px;
	width:220px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}
.overflowClass {
	white-space:nowrap;
	width:10.5em;
	overflow:hidden;
	//border:1px solid #000000;
}




#allOtherFirmDiv, #practiceAreaDiv, #allOtherLocationsDiv, #allOtherFirmSizeDiv {
	background-color: #ffffff;
	border: 1px solid #CCCCCC;
	height: 80px;
	width:220px;
	overflow-x:hidden !important;
	overflow-y:auto !important;
}

#popupDate {
    z-index:999;
    position:absolute;   
    background:#eee;
    padding:10px;
    border:1px solid #ccc;
}
.tble4 {border-bottom:1px solid #999792; color:#777}
.tble4 tr.tpbar th {background:url(/re-theme/images/tbth.gif) 0 0 repeat-x; color:#ccc; text-shadow:1px 1px 1px #222; vertical-align:middle; padding:0 5px; height:31px;}
.tble4 th {background:#666; color:#ccc; padding:6px 0 8px}
.tble4 th {vertical-align:middle}
.tble4 tr.levelhead td {background:#dfdedc; border:1px solid #cccbc8; border-bottom:1px solid #fff; color:#222; padding:6px 0; vertical-align:middle}
.tble4 tr.levelhead.last td {border-bottom:1px solid #999792}
.tble4 tr td { text-transform:capitalize}
.tble4 tr.even td {background:#f6f4f2; padding:6px 10px; vertical-align:middle; text-align:left;}
.tble4 tr.odd td {background:#fff; padding:6px 10px; vertical-align:middle; text-align:left;}

.tble4 tr.evenone td {background:#f6f4f2; padding:6px 0 6px 12px; vertical-align:top; text-align:left;}
.tble4 tr.oddone td {background:#fff; padding:6px 0 6px 12px; vertical-align:top; text-align:left;}

.tble4 .blue , .tble4 .blue a {color:#0c3561}
.tble4 .red , .tble4 .red a {color:#c31f26}
.tble4 input[type="checkbox"] {margin-right:10px}
.tble4 th.backbrdnone {background:none !important; border:none}
.tble4 .txtLeft {text-align:left; text-indent:10px}
.tble4 .btn.addpositive.icon {}
.tble4 .btn.addpositive.icon:before {margin-right:0; background-position:-125px -78px}
.tble4 .btn.takeactionmini.icon {margin-right:0}
.tble4 .btn.takeactionmini.icon:before {margin-left:15px; margin-top:3px}
.tble4 .btn.subtractneg.icon:before {background-position:-149px -78px; margin-right:0}
.tble4 a {color:#777}
.tble4 a.undline {text-decoration:underline; color:#222}
.tble4 a.undline span {color:#222}
.tble4 a.undline:hover {text-decoration:none}


.attorneysearch {display:none; font:normal 12px Arial, Helvetica, sans-serif; position:absolute; top:20px; right:15px; z-index:9999; width:460px; position:absolute;  background:#f0f0f0; border:1px solid #a4a1a1; -moz-box-shadow:0px 3px 3px #888; -webkit-box-shadow:0px 3px 3px #888; box-shadow:0px 3px 3px #888; color:#222}
.viewSetting:hover > .attorneysearch {display:block} 
.attorneysearch .popHeader {background: #c3952f; /* Old browsers */ background: -moz-linear-gradient(top,  #c3952f 0%, #bd8e28 50%, #b68821 50%, #b2831d 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c3952f), color-stop(50%,#bd8e28), color-stop(50%,#b68821), color-stop(100%,#b2831d)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #c3952f 0%,#bd8e28 50%,#b68821 50%,#b2831d 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #c3952f 0%,#bd8e28 50%,#b68821 50%,#b2831d 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #c3952f 0%,#bd8e28 50%,#b68821 50%,#b2831d 100%); /* IE10+ */ background: linear-gradient(to bottom,  #c3952f 0%,#bd8e28 50%,#b68821 50%,#b2831d 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3952f', endColorstr='#b2831d',GradientType=0 ); /* IE6-9 */ color:#fff; text-shadow:1px 1px 1px #8d6818; padding:5px 10px}
.attorneysearch .btn.closewhite.icon:before {top:-1px; left:5px}
.attorneysearch .popHeader a {color:#fff; text-decoration:none}
.attorneysearch .popFooter {border-top:1px solid #ccc; padding:5px 10px}
.attorneysearch .popMiddle {padding:10px}
.attorneysearch .closewhite {padding-bottom:0}


/* Ajax Loading Class */
 .modal {
	/*Hide Modal icon because we have implemented a new modal mask from liferay*/
    /*position:   absolute;
    z-index:    9999;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
	opacity:   0.7;
    background: url('/re-theme/images/pIkfp.gif') 
                50% 29% 
                no-repeat;*/
} 

.column1 {
	display: table-cell;
	text-align: center;
	background-color: white;
}
.column2 {
	display: table-cell;
	width: 60px;
	text-align: center;
	border: 1px solid white;
}
.column3 {
	display: table-cell;
	width: 60px;
	text-align: center;
	border: 1px solid white;
}
.column4 {
	display: table-cell;
	text-align: center;
	width: 60px;
	border: 1px solid white;
}
.table {
	display: table;
}
.row {
	display: table-row;
}
.back-color-row2 {
	background-color: gray;
}
.back-color-row3 {
	background-color: blue;
}
.back-color-row4 {
	background-color: green;
}
.back-color-row5 {
	background-color: yellow;
}
.popupHeading {
	font: bold;
}



/* css for pagination */

.ScrollTable { width:100%; overflow:auto; max-height:400px;}
.PaginationScroll { margin: 5px 0 0 0; padding: 0; text-align:center }
.PaginationScroll ul { margin: 0; padding: 0; list-style: none }
.PaginationScroll ul li { margin: 0 0 0 3px; padding: 0 0 0 7px; display: inline; border:1px solid #666666; width:auto; color:#333333}
.PaginationScroll ul li.active { color:#333333; font-weight:bold}

.section-one { width:200px; float:left;}
.section-two { width:160px; float:left;}
.section-three { width:200px; float:left;}
.section-three .martp2 { margin:0;}
.section-three .btmdiv { margin:0 !important;}
#selected_firms select { width:140px; margin:5px 0 0 0;}
.section-three .listView .viewBox .btmdiv { margin:15px 0 0 0; padding:15px 0 0 0}
.section-three p select { margin:4px 0 0 0;}
.section-one .list4, .section-two .list4 { margin:0 !important;}
.section-three .marbtm1 { margin:11px 0 5px 10px;}
.section-three .marbtm1-last { margin:12px 0 0 10px !important;}

.hideClass {
display:none;
}

.hideClassAttrorney {
display:none;
}
.tble3 tr.odd td button {border:none;}
#emptyDataMsg {
	background-color: #FFFFFF;
    min-height: 50px;
    text-align: center;
}
.tbleTwo tr th a {color: #fff;}

.tblOne tr th a {color: #fff; padding:6px 10px 8px 5px; text-decoration:underline;}

/* css for footer */

#footer{
	background: repeat scroll 0 0 #000000;
    width: 100%;
	font-size:10px;
}
.footer-container{
	width:1220px;
	margin:0 auto;
}
.footer-navigation{
	width:680px;
	float:left;
	margin:0;
}
.footer-navigation p {
	margin:8px 0 0 0;
	color:#999;
}
.footer-navigation a{
	color:#ffffff;
	text-decoration:none;
	outline:none;
}
.footer-navigation a:hover{
	text-decoration:underline;
}
.footer-copyright {
	width:auto;
	float:right;
}
.footer-logo {
	background:url(/re-theme/images/logo.png) no-repeat 0 0;
	width:154px;
	height:27px;
	float:left;
	margin:15px 0 0 0;
}

#header .tprtdiv { width:auto;}
.topNav li a.dropdown-arrow { background:url(/re-theme/images/dropdown-login.png) no-repeat right 7px; padding:0 12px 0 0; text-shadow:none; text-shadow:none !important;}
.topNav li:hover a.dropdown-arrow { background:url(/re-theme/images/arwDown.png) no-repeat right 6px !important;}
/*.topNav li:first-child:hover a.dropdown-arrow { background:url(/re-theme/images/dropdown-logout.png) no-repeat right 7px; padding:0 12px 0 0;}
.topNav li:first-child a.dropdown-arrow:hover { background:url(/re-theme/images/dropdown-logout.png) no-repeat right 7px; padding:0 12px 0 0;}*/


.topNav li { position:relative;}

.topNav li ul { position:absolute; width:90%; visibility:hidden;}
.topNav li:hover ul { position:absolute; z-index:200; background:#3b3b3b; min-height:55px; visibility:visible; list-style:none;}
.topNav li:hover ul li { width:auto; clear:both; margin:5px 0 0 10px; padding:0; border:none;}
.topNav li:hover ul li a:hover { text-decoration:underline;}

.details-analysis-menu { margin:0; padding:0 0 0 15px; width:100%; float:left; background:none; position:relative; z-index:9}
.details-analysis-menu ul { background:none; min-height:35px; padding:0; margin:0; width:auto; float:left; border-bottom:2px solid #CB9D25;}
.details-analysis-menu ul li { width:auto; float:left; margin:0 0 0 1px; padding:10px 20px; background:#4a4a4a; border-radius:10px 10px 0 0;}
.details-analysis-menu ul li a { color:#fff; text-decoration:none;}
.details-analysis-menu ul li a.active-menu { color:#CB9D25; font-weight:bold; border-bottom:1px solid #CB9D25;}
.details-analysis-menu ul li:first-child { margin:0;}
.details-analysis-menu ul li a:hover { border-bottom:1px solid #CB9D25; opacity:.9;}
#content { clear:both;}

.portlet-title-text { display: none;}

.charts-spacing { margin:0; border:1px solid #999999;}
/*.dwnBx { background:url(../images/additional-filter.png) no-repeat 658px 10px;}
.upBx { background:url(../images/additional-filter.png) no-repeat 645px -12px;}*/

.charts {margin:0; padding:0; position:relative;}
.charts .listView li {position:relative; right:25px; top:10px; z-index:999; float:left;margin:0 5px 0 0;}
.charts .listView li ul li {posistion:inherit; top:0; right:0;}
.portlet-topper-toolbar { top:-13px;}
.chartViewSetting {right: 40px; top: 53px;}
div#popupPieChartDiv {right: 10px; top: 80px; z-index: 999; border:1px solid #666666;}
.onclickpopup {margin:0 !important; position:absolute; top:65px !important; right:25px!important;}
.ClickPopup { background:#ffffff; border: 1px solid #CCCCCC; margin: 0 !important; padding: 0; width: 560px !important; float:left!important; position:absolute !important; right: 35px !important; z-index:999; display:block}
.portlet-content, .portlet-minimized .portlet-content-container { margin:0; padding:0; width:100%; float:left;}
.custom-table { background:#666;}
.custom-table tr th {background:none; color:#ffffff;}
.list4 li span, .section-three p, .section-two span, .section-two select, .section-three select { color:#222222;}
.highcharts-tooltip span {opacity:1; z-index:999!important;align-self: center;}
.AnalyzeResultHeader {clear: left; margin:0 !important; float: left; width: 1200px; padding: 20px 0 0 20px !important; display: none; background:#ffffff;}
.section-three .marbtm1 input[type="checkbox"] { margin:0 10px 0 0}
.section-two select option { margin:4px 0 0 0;}
.charts .btmdiv, .btmdiv {padding:0 10px 10px;}
.onclickpopup, .ClickPopup {box-shadow:0 3px 2px 0 #999999; background:#F0F0F0;}
.section-four { max-width:270px; float:left}
.section-five { width:180px; float:left;}
.onclickpopup, .ClickPopup .list4 li { clear:both;}
.individualfirms, .individualfirmsOrganization, .individualfirmsWatchLists { overflow-x:hidden; overflow-y:auto; padding:0; width:220px; border:1px solid #ccc; height:80px;}
#dropdown #droplist li .firmPage p { margin:5px 0;}
.ui-datepicker { z-index:99999999 !important}
.Popup-Calendar input { margin:0 5px;}
.hasDatepicker { width:70px; float:left; padding:7px 1px !important;}
.datePage .ui-datepicker-trigger { margin:0; cursor:pointer; float:left; width:auto}
.popupDate { width:200px !important;}
#alltwitterPostType { text-transform:capitalize}
#dropdown #droplist li .firmPage { width:222px !important; background:#EBECE8 !important;}
#dropdown ul#droplist li .datePage { width:252px !important; background:#fff !important;}
#allOtherFirmDiv input, #practiceAreaDiv input, #allOtherFirmSizeDiv input, #allOtherLocationsDiv input { margin:0 5px; padding:0 !important;}
.popupsubmit { margin: 10px 10px 0 0; width: auto; float:right;}
.Portlet-Search .popHeader {background: #c3952f; /* Old browsers */ background: -moz-linear-gradient(top,  #c3952f 0%, #bd8e28 50%, #b68821 50%, #b2831d 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c3952f), color-stop(50%,#bd8e28), color-stop(50%,#b68821), color-stop(100%,#b2831d)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #c3952f 0%,#bd8e28 50%,#b68821 50%,#b2831d 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #c3952f 0%,#bd8e28 50%,#b68821 50%,#b2831d 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #c3952f 0%,#bd8e28 50%,#b68821 50%,#b2831d 100%); /* IE10+ */ background: linear-gradient(to bottom,  #c3952f 0%,#bd8e28 50%,#b68821 50%,#b2831d 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3952f', endColorstr='#b2831d',GradientType=0 ); /* IE6-9 */ color:#fff; text-shadow:1px 1px 1px #8d6818; padding:5px 10px}
.Portlet-Search .btn.closewhite.icon:before {top:-1px; left:5px}
.Portlet-Search .popHeader a {color:#fff; text-decoration:none}
.popusdiv .list4 li input[type="radio"] { margin-right:5px;}
/*.popusdiv .list4 li { margin-bottom:0;}*/
.individualfirms-first, .individualfirms-Watchlist, .individualfirms-Organization { padding: 2px 0 5px; margin:0; width:220px; color: #ffffff; background-color: #666666; border: 1px solid #999999}
.individualfirms-first input, .individualfirms-Organization input, .individualfirms input, .individualfirmsOrganization input { margin: 0 5px}
.individualfirmsOrganization { padding:0; width:220px; margin:0;}
.individualfirmsWatchList {padding:0; width:220px; margin:0;}
.individualfirms-Watchlist input { margin: 0 5px}
.Portlet-Search .popHeader a {color:#fff; text-decoration:none;}
.filter-icon { background:url(../images/filter-icon.png) no-repeat 0 2px;float: left;height: 19px;width: 16px;}

/*Firms Statistics background coloring*/
.plus-5 { background:#0f3564 !important; color:#ffffff;}
.plus-4 { background:#1e4479 !important; color:#ffffff;}
.plus-3 { background:#466c99 !important; color:#ffffff;}
.plus-2 { background:#6487ae !important; color:#ffffff;}
.plus-1 { background:#8fa8c5 !important; color:#ffffff;}
.zero { background:#ffffff !important; color:#000000;}
.minus-1 { background:#c75b5e !important; color:#ffffff;}
.minus-2 { background:#cd473b !important; color:#ffffff;}
.minus-3 { background:#be1b1b !important; color:#ffffff;}
.minus-4 { background:#802121 !important; color:#ffffff;}
.minus-5 { background:#6d0b09 !important; color:#ffffff;}

/*Layout alteration for content with white background*/
.portlet-column-content-only, .ltr .portlet-column-content-last, .rtl .portlet-column-content-first { margin:0; padding:0; width:100%; float:left;}
.portlet-column-content-only, .ltr .portlet-column-content-first, .rtl .portlet-column-content-last { padding:0;}
#footer { float:left;}
.portlet-layout { background:#ffffff;}
.detailsPage { width:1200px; float:left; padding:0; border:none;}
.portlet-column { padding:0 14px; width:auto; float:left;}
#content { border:none; padding:0; width:1200px;}
#layout-column_column-1 { padding:0;}
.aui-w1-2, .aui-w50 { width:auto;}
.newspublicationPage { float:left;}
.ForChartsTopHeader { margin:20px 0 0 0; width:503px;}

/*Almost-home page popup*/
.tble4 tr th a { color:#ffffff; text-decoration:underline;}
.myClass { z-index:9999 !important;}
.myClass .ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix { background: none repeat scroll 0 0 #CB9D25; color: #FFFFFF;}
.myClass .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close { background: none repeat scroll 0 0 transparent; border: medium none; cursor: pointer; width: 100px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase; font-size:12px;}
.myClass .ui-state-hover, .myClass .ui-widget-content .ui-state-hover, .myClass .ui-widget-header .ui-state-hover, .myClass .ui-state-focus, .myClass .ui-widget-content .ui-state-focus, .myClass .ui-widget-header .ui-state-focus { background: none repeat scroll 0 0 transparent; border: medium none; cursor: pointer; width: 100px;}
.myClass .ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { color: #FFFFFF; margin-left: 15px; text-shadow: none; width: 100px; padding: 0 !important; text-indent: 0 !important; cursor: pointer;}
.ui-dialog .ui-dialog-content { overflow:visible !important; height:110px !important;}
.ui-resizable { box-shadow:0 3px 8px 7px #555555;}
.ui-resizable span.ui-dialog-title { font-weight:normal; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase; font-size:12px; font-weight:bold}
.ui-resizable #dropdown #droplist li .typeSel, .ui-resizable #dropdown #droplist li .drpDwn { height:27px;}
.ui-resizable .breadcrumbs { margin:5px 0 0 0;}


.Select-Individual-Firms, .individualfirmsWatchList, .individualfirms, .individualfirmsOrganization { background-color: #ffffff; border: 1px solid #CCCCCC; height: 80px; width:220px !important; overflow-x:hidden !important; overflow-y:auto !important; padding:2px 0 5px;}
.Select-Individual-Firms input { margin:0 5px; padding:0 !important;}

/*Cleaning up the look and feel for website*/
.mainMenu a.active { height:34px; font-weight:bold;}
.mainMenu li { padding:7px 10px !important;}
.mainMenu li .btn.drpmenugry.icon:hover:before, .btn.drpmenugry.icon:focus:before, .btn.drpmenugry.icon:active:before { background-position:-24px -158px;}
.breadcrumbs a, .breadcrumbs span { font-weight:bold;}
.mainMenu ul { top:30px;}
.mainMenu ul li { border-bottom: 1px solid #999 !important; border-left:none; width:130px;
background-repeat: repeat-x; /* Safari 4-5, Chrome 1-9 */
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#444444)); /* Safari 5.1, Chrome 10+ */
background: -webkit-linear-gradient(top, #000000, #444444); /* Firefox 3.6+ */
background: -moz-linear-gradient(top, #000000, #444444); /* IE 10 */
background: -ms-linear-gradient(top, #000000, #444444); /* Opera 11.10+ */
background: -o-linear-gradient(top, #000000, #444444);
}
.mainMenu ul li:hover {
background-repeat: repeat-x; /* Safari 4-5, Chrome 1-9 */
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444444), to(#000000)); /* Safari 5.1, Chrome 10+ */
background: -webkit-linear-gradient(top, #444444, #000000); /* Firefox 3.6+ */
background: -moz-linear-gradient(top, #444444, #000000); /* IE 10 */
background: -ms-linear-gradient(top, #444444, #000000); /* Opera 11.10+ */
background: -o-linear-gradient(top, #444444, #000000);	
}
span.ChartsHeading { float: left; font-weight: bold; padding: 5px 10px; text-shadow: none; width: auto; color:#fff; text-transform:uppercase;}
.Charts-Tooltip-Box { box-shadow:0px 2px 10px 1px #555555;}
.Charts-Tooltip-Drop-Arrow { border-left: 10px solid rgba(0, 0, 0, 0); border-right: 10px solid rgba(0, 0, 0, 0); border-top: 10px solid #FF0000; height: 0; left: 80px; position: relative; top: 20px; width: 0;}
.charts .btmdiv, .btmdiv input { font-weight:normal;}
.watchlistPage { font-weight:normal; font-size:12px; font-weight:normal; text-transform:capitalize;}
.popusdiv.login-popupThree { box-shadow:1px 1px 7px 1px #888888; width:310px;}
.WatchListName { width:167px; margin:0 0 0 10px;}
span.ChartsHeading { float: left; font-weight: bold; padding: 5px 10px; text-shadow: none; width: auto; color:#fff; text-transform:uppercase;}

/* Fix for RER-446 that needs to be revert back once Alert functionality is implemented */
.alert{	display: none !important;}
.cph { float: left; padding: 10px 0; background: #fff; width: 100%; text-align: center; font-weight: bold;}
.Popup-Tooltip { line-height:22px; font-size:13px; color:#111111; text-align: center; padding:0 0 0 10px;}
.Tooltip-Heading { font-weight: bold; text-align: center; line-height: 10px; white-space: normal;}
.Tooltip-Recent { font-weight: bold; color:#111111; text-align:left; margin-top: 10px;}
.Tooltip-Rows { text-decoration:underline; color:#222222; margin-left: 15px; white-space: normal; line-height: 20px;}
.Tooltip-ClickToViewDetails {color:#444;}
.page-loader { background: url(../images/pIkfp.gif) no-repeat center center rgba(255, 255, 255, 0.8); position: absolute; bottom: 0; left: 0; right: 0; top: 0; z-index: 99; display:none;}
.page-loader-hide { display:block;}
.Watchlist-Option-Selection { margin:7px 0; width:100%; float:left;}
.manageWatchSec .tbleTwo th input,.manageWatchSec .tbleTwo tr.even td input, .manageWatchSec .tbleTwo tr.odd td input { margin:0 0 0 5px !important;}
.findSelectAddPage .tbleTwo tr.even td, .findSelectAddPage .tbleTwo tr.odd td { text-align:center !important;}
.manageWatchSec .tbleTwo tr.even td:nth-child(2), .manageWatchSec .tbleTwo tr.odd td:nth-child(2) { text-align:left !important; color:#333; font-weight:bold; text-decoration:underline;}
.manageWatchSec .tbleTwo tr.even td:last-child input, .manageWatchSec .tbleTwo tr.odd td:last-child input { border:none !important; color:#000000; padding:1px 10px 0; background:url(../images/plus-icon-Black.png) no-repeat right 6px !important;}
.manageWatchSec .tbleTwo tr.even td:last-child input:hover, .manageWatchSec .tbleTwo tr.odd td:last-child input:hover { opacity:.8; filter:alpha(opacity=80); text-decoration:underline;}
.portlet-title img { display:none;}
.manageWatchSec { margin:0;}
.mywatchTxt { float:left; padding:5px 7px; width:200px !important;}
.Firms-Listing { width:100%; float:left;}
.manageWatchSec #leftMenu li ul li { padding:0;}
.manageWatchSec #leftMenu { background:none;}
.manageWatchSec ul { list-style:none;}
.manageWatchSec input [type="button"] { font-weight:normal;}
.WatchlistFirmName { font-weight:bold; font-size:14px; text-transform:uppercase;}
.Firm-Count { color:#555;}
.Remove-Chart { float: right; font-weight: bold; color: #fff; cursor: pointer; font-family: verdana; margin: 2px 5px; padding: 3px 8px;}
.StackHorizontalBar { background:url(../images/StackHorizontalBar.png) no-repeat 0 0; padding:0 0 0 18px;}
.firmPage input{ margin:0 5px; font-weight:normal;}
.firmPage input [type="radio"] { margin:0 5px 0 0}
.plus-icon-Black { background:url(../images/plus-icon-Black.png) no-repeat 0 0;}

/*CSS for Alerts page*/
#Alerts-Page .breadcrumbs { margin-bottom: 10px;}
#Alerts-Page .breadcrumb-subheading { clear: both;}
#Alerts-Page .alerts .tblOne tr th { margin: 0; padding: 0}
#Alerts-Page .Add-Alert-Table tr td { vertical-align:top;}
#Alerts-Page .edit-black { color: #000000 !important}
#Alerts-Page .alerts .delete { background: url(/re-theme/images/icnAll.png) 0 -406px no-repeat; color: #C31F26; float: right; padding: 0 20px; line-height: 15px;}
#Alerts-Page tr.alert-inputs input { padding: 5px 0; border: 1px solid #ccc;}
#Alerts-Page .Active-Inactive-Alerts { margin-right: 10px;}
#Alerts-Page .Add-Alert-Button-Bottom { width: auto;}
#Alerts-Page .Add-Alert-Button { position: relative !important;}
#Alerts-Page .Add-Alert-Content{ position: absolute; z-index: 999999999999; background: #f0f0f0; border: 1px solid #ccc; width: 97%; box-shadow: 0 8px 43px 1px #111; float:left;}
#Alerts-Page .Add-Alert-Table { width: auto; float: left; margin-bottom:0;}
#Alerts-Page .Add-Alert-Content.tblOne { margin: 0;}
#Alerts-Page .Add-Alert-Content#dropdown #droplist li .srchBox .input { width: 100%;}
#Alerts-Page .Add-Alert-Content-Filters { width: auto; float: left;}
#Alerts-Page .Select-Filter-Heading { font-weight: bold; color: #333; width: auto; float: left; font-size: 13px; padding: 0 10px 0;}
#Alerts-Page .Add-Alert-Content-Filters #dropdown #droplist li:last-child .buttonTwo { margin-top: 20px !important}
#Alerts-Page .Bold-Entries { font-weight: bold; color: #333;}
#Alerts-Page #Close-Alert-Popup { cursor: pointer; margin: 0 10px 0 0; color: #fff;}
#Alerts-Page #Close-Alert-Popup:hover { color: #BD8E28; border-bottom: 1px solid #BD8E28;}
#Alerts-Page .AlertTypeField { float: left; height: 27px; margin: 0; padding: 0;}
#Alerts-Page .DropArrow { border: 1px solid #ccc; border-radius:2px; background: url(/re-theme/images/icnlist.png) no-repeat scroll 0 0; height: 29px; width: 30px; float:left; cursor:pointer;}
#Alerts-Page .Add-Alert-Table .PopDropFields ul { float:left;}
#Alerts-Page .Add-Alert-Table .PopDropFields ul li { width:auto; float:left; margin:3px 0; clear:both;}
#Alerts-Page .Add-Alert-Table .PopDropFields ul li input { width:auto; float:left;}
.PopDropFields ul li input[type="checkbox"] { margin:4px 5px 0 0;}
.PopDropFields ul li input[type="radio"] { margin:3px 5px 0 0 !important;}
#Alerts-Page .Add-Alert-Table .btmdiv { clear:both; padding:5px 0 0;}
.PopDropFields { width: auto; display: block; background: #EBECE8; border: 1px solid #B1B0AE; color: #777777; display: none; padding: 15px 10px; box-shadow: 0 3px 2px 0 #999999; float: left; width: auto; border: 1px solid #ccc; padding: 5px 9px 15px 9px; position: absolute; top: 124px;}
.Alert-Email-List { height:150px; overflow:auto; margin:10px 0; padding:5px;  border:1px solid #ccc; width:240px; background:#fff;}
.PopDropFieldsEditAlert { width: auto; display: block; background: #EBECE8; border: 1px solid #B1B0AE; color: #777777; display: none; padding: 15px 10px; box-shadow: 0 3px 2px 0 #999999; float: left; width: auto; border: 1px solid #ccc; padding: 5px 9px 15px 9px; position: absolute; top: 29px; z-index:999 !important}
.Alerts-Module-Content { padding: 10px 15px !important; width: 1190px !important; float: left; background:#ffffff;}
.Add-Alert-Content { width: auto; float: left; }
.alerts { width: auto; float: left; }
.alerts .tblOne { margin: 0; }
.alerts .tblOne tr th { height: 31px; padding: 0 5px; vertical-align: middle; }
.tblOne tr.even td li { list-style: none; }
.alerts #dropdown #droplist li .srchBox { border: 1px solid #CCCCCC; }
.alerts #dropdown #droplist li .srchBox .input { width: 93%; }
.breadcrumb-subheading { margin: 5px 0 20px; }

/*Setting-up the Dropdowns for Portlet Search Criteria*/
.individualfirms-Watchlist-peopleFirmStats, .individualfirms-first, .individualfirms-Watchlist, .individualfirms-Organization { font-weight:bold; width:220px !important;}
.datePage select { margin-top:5px; margin-bottom:5px;}
.portlet-topper-toolbar{display:none;}
.No-Data-Charts { }
.No-Data-Charts .listView li { top:-15px; right:20px;}
ul.mainMenu li a span { text-transform:uppercase;}
.Selected-Firms-Popup { background-color: #ffffff; margin:10px 0 0 0; border: 1px solid #999999; height: 70px; width:160px; float:left; overflow-x:hidden !important; overflow-y:auto !important; color:#222222;}
.Selected-Firms-Popup input { margin:0 5px; padding:0 !important;}
.Selected-Firms-Popup-Header { padding: 2px 0 5px; margin:0; float:left; color: #ffffff; background-color: #666666; border: 1px solid #999999; width:160px;}
.Selected-Firms-Popup-Header input { margin: 0 5px}
#dropdown ul#droplist li .datePage input[type="radio"] { margin:5px 0;}
.individualfirms-Watchlist-Firm, .individualfirmsWatchListFirm { padding:2px 0 5px; width:220px !important; background:#fff;}
.individualfirmsWatchListPeopleFirmStats { width:220px !important; background:#fff;}
.tble4 a {color:#222; text-decoration:underline}
.tble4 a:hover {text-decoration:none}
.newspublicationPage h5 {font:bold 13px Arial, Helvetica, sans-serif; color:#222; margin:3px 10px !important; width:auto; float:left;}
.Auto-Styling { width:auto; float:left;}
.viewBox .list4 li {margin:5px 0 5px 10px; margin-left:10px}
.FS-Vertical-Border { border-left:1px solid #999; margin:20px 0 0 30px; padding:0 0 0 20px; height:260px; float:left;}
.individualfirms-Watchlist-Firm { font-weight:bold;}
.individualfirmsWatchListFirm { height:80px;}
.Submit-Filter-Criteria { margin-left:10px !important}
.Watchlist-Btm-Msg { margin-right:0 !important; margin-top:10px !important; width:auto;}
.plus-icon-White { background:url(../images/plus-icon-White.png) no-repeat 0 0; width:8px; height:8px; float:left;}

/*CSS for Adding Content & Analysis on Home Page*/
.arrow {background:url(../images/icnAll.png) 2px -31px no-repeat; padding-left:0 0 0 15px;}
.selectchartadd h2 { color:#000;}
.selectchartadd .list3 li h4 { font-weight:bold; font-size:14px;}
.Add-Content { display:none; position: absolute; left: 0; top: 30px; background: #fff; border: 1px solid #a4a1a1; width: 350px; padding:10px 0 0; -moz-box-shadow: 0px 3px 3px #888; -webkit-box-shadow: 0px 3px 3px #888; box-shadow: 0px 3px 3px #888;}
.Add-Content .list3 { margin:0;}
.Add-Content .list3 li {width:330px;}
.Add-Content .list3 li:hover { background: #cccccc; cursor: pointer;}
.Add-Content .list3 li h4 { font: normal 14px Arial, Helvetica, sans-serif; color: #222; padding:0;}
.Add-Content h2 { padding:0 0 10px 15px; color:#000; border-bottom:1px solid #ccc;}
.Add-Content h3 { font-size:14px; color:#333; background:url(../images/icnAll.png) 15px -24px no-repeat; padding:5px 40px; margin:5px 0;}
.Add-Content h3:hover { background:url(../images/icnAll.png) 15px -24px no-repeat #cccccc; cursor:pointer;}
.plus-icon-White { background:url(../images/plus-icon-white.png) no-repeat 0 0; width:8px; height:8px; float:right; margin:5px;}
.Add-Content .list3 li { border:none; padding:5px 10px; margin:0; cursor:pointer;}
.Add-Content .list3 li .disc { margin-left:4px; padding:4px 0 0 0;width:300px;}
.Add-Content .list3 li h4 { margin-left:5px;}
.ShareOfVoice { width:20px; height:20px; float:left;}
.Chart1 { width:20px; height:20px; float:left;}
.Chart2 { width:20px; height:20px; float:left;}
.Chart3 { width:20px; height:20px; float:left;}
.Firms-Group, .People-Group, .Clients-Group, .Events-Group { border-bottom:1px solid #ccc;}
.Submit-Filter-Criteria { margin-left:10px !important}
.printChartClass { background:url(/re-theme/images/allIcon.png) no-repeat -172px 3px;  float: left; height: 23px; width: 25px;}
.exportChartClass { background:url(/re-theme/images/allIcon.png) no-repeat -74px -130px; float: left; height: 23px; width: 25px;}
.Add-Content-Button, .mybutton { border:none !important; background:none !important; padding:0 !important; text-shadow:none !important; color:#fff !important;}

/*CSS for Liferay page loader*/

.aui-loadingmask { z-index:99999 !important;}
.aui-loadingmask-message { background:#D4D4D4 !important;}
.aui-loadingmask-content { background:#000 !important}
.aui-loadingmask-message-content { height:28px !important; width:100px !important; padding:12px 10px 0 0 !important; border:none !important; background:url(../images/pageLoadingIcon.GIF) no-repeat 4px 2px #fff !important; text-align:right !important;}


/*Home page Search Criteria fixes*/
.aui-panel-bd { overflow-y:visible;}
.alerts .tblOne tr.even td li { position:relative;}
.add-buttons { margin:20px 0; width:auto; float:left;}

.exportChartImage { background:url(/re-theme/images/exportChartImage.png) no-repeat 10px 7px; width:14px; float:left;}

#chartSearchPortletPopupId .aui-panel-hd { background: #cb9d25; border: 1px solid; border-color: #C8C9CA #AEB2B8 #AEB2B8 #C8C9CA; padding-left: 10px; color: #fff; text-shadow: none; font-size: 13px;}
#chartSearchPortletPopupId .aui-dialog-bd { overflow-y: visible;}
#chartSearchPortletPopupId .aui-loadingmask {top: -35px !important}
#chartSearchPortletPopupId .aui-toolbar-content {margin-right: 6px;margin-top: 3px;font-weight: bold;}
#chartSearchPortletPopupId .aui-toolbar-content:hover {cursor:pointer}
/*My Account info section*/
ul.my-profile-dropdown { background:#fff !important; padding:5px 0 0; min-width:150px; position:absolute; left:0; min-height:0 !important; box-shadow:0 3px 3px #888888}
.topNav li:first-child:hover { background:#fff;}
.topNav li:first-child:hover a, .topNav li:first-child:hover a:hover { color:#333;}
ul.my-profile-dropdown li { margin:1px 0 !important; padding:5px 8px !important; width:88% !important; border-bottom:1px solid #ccc !important;}
ul.my-profile-dropdown li:last-child { border-bottom:none !important;}
ul.my-profile-dropdown li a { text-shadow:none; padding:0 0 0 25px; color:#333 !important; width:85% !important; float:left !important;}
ul.my-profile-dropdown li:hover { background:#ccc !important;}
ul.my-profile-dropdown li:hover a { color:#000;}
.my-accout-icon { background:url(/re-theme/images/my-account-icon.png) no-repeat 0 3px; }
.log-out-icon { background:url(/re-theme/images/log-out-icon.png) no-repeat 0 3px;}

.clickToViewDetails { text-align:center;color:#000; margin-top: 10px; margin-left: 15px; }

/* fix for autocomplete on search popup dialog on home page*/
.ui-autocomplete{z-Index: 9999 !important;}
.highcharts-tooltip span {opacity:1; z-index:9999!important;}

/*Additional-Filter-Arrows*/
.add-fltr-dwn-arw { position:relative; left:5px; width:auto!important;}
.add-fltr-up-arw { position:relative; left:15px; width:auto!important;}
