@font-face {
    font-family: 'lucida_sansregular';
    src: url('../fonts/lsans_4-webfont.eot');
    src: url('../fonts/lsans_4-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lsans_4-webfont.woff') format('woff'),
         url('../fonts/lsans_4-webfont.ttf') format('truetype'),
         url('../fonts/lsans_4-webfont.svg#lucida_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'lucida_sansdemibold_roman';
    src: url('../fonts/lsansd_4-webfont.eot');
    src: url('../fonts/lsansd_4-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lsansd_4-webfont.woff') format('woff'),
         url('../fonts/lsansd_4-webfont.ttf') format('truetype'),
         url('../fonts/lsansd_4-webfont.svg#lucida_sansdemibold_roman') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'lucida_sansdemibold_italic';
    src: url('../fonts/lsansdi_4-webfont.eot');
    src: url('../fonts/lsansdi_4-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lsansdi_4-webfont.woff') format('woff'),
         url('../fonts/lsansdi_4-webfont.ttf') format('truetype'),
         url('../fonts/lsansdi_4-webfont.svg#lucida_sansdemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'AdobeCaslonProRegular';
    src: url('../fonts/acaslonpro-regular_3.eot');
    src: url('../fonts/acaslonpro-regular_3.eot') format('embedded-opentype'),
         url('../fonts/acaslonpro-regular_3.woff') format('woff'),
         url('../fonts/acaslonpro-regular_3.ttf') format('truetype'),
         url('../fonts/acaslonpro-regular_3.svg#AdobeCaslonProRegular') format('svg');
}

@font-face {
    font-family: 'UniversLTStd49LightUltraCondensed';
    src: url('universltstd-lightultracn.eot');
    src: url('universltstd-lightultracn.eot') format('embedded-opentype'),
         url('universltstd-lightultracn.woff') format('woff'),
         url('universltstd-lightultracn.ttf') format('truetype'),
         url('universltstd-lightultracn.svg#UniversLTStd49LightUltraCondensed') format('svg');
}
@font-face {
    font-family: 'museo_slab_500regular';
    src: url('../fonts/museo_slab-webfont.eot');
    src: url('../fonts/museo_slab-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo_slab-webfont.woff') format('woff'),
         url('../fonts/museo_slab-webfont.ttf') format('truetype'),
         url('../fonts/museo_slab-webfont.svg#museo_slab_500regular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo_slab_500italic';
    src: url('../fonts/museo_slab_500italic-webfont.eot');
    src: url('../fonts/museo_slab_500italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo_slab_500italic-webfont.woff') format('woff'),
         url('../fonts/museo_slab_500italic-webfont.ttf') format('truetype'),
         url('../fonts/museo_slab_500italic-webfont.svg#museo_slab_500italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
