<ul class="accordion" id="accordion-2">
	<li class="dcjq-parent-li" id="aui_3_4_0_1_1026"><a
		href="/group/coach/my-career " class="dcjq-parent"
		id="aui_3_4_0_1_1025">MY CAREER<span class="dcjq-icon"
			id="aui_3_4_0_1_1024"></span> <span class="dcjq-count">(5)</span>
	</a>
		<ul style="display: none;">
			<li><a class="selected" href="/group/coach/joining-coach ">JOINING
					COACH</a></li>
			<li><a class="selected" href="/group/coach/coach-classess ">COACH
					CLASSESS</a></li>
			<li><a class="selected" href="/group/coach/people-management ">PEOPLE
					MANAGEMENT</a></li>
			<li><a class="selected" href="/group/coach/job-opportunities ">JOB
					OPPORTUNITIES</a></li>
			<li><a class="selected" href="/group/coach/leaving-coach ">LEAVING
					COACH</a></li>
		</ul></li>
	<li class="dcjq-parent-li"><a href="/group/coach/my-benefits "
		class="dcjq-parent">MY BENEFITS<span class="dcjq-icon"></span> <span
			class="dcjq-count">(16)</span>
	</a>
		<ul style="display: none;">
			<li><a class="selected" href="/group/coach/medical ">MEDICAL</a>
			</li>
			<li><a class="selected" href="/group/coach/dental ">DENTAL</a></li>
			<li><a class="selected" href="/group/coach/vision ">VISION</a></li>
			<li><a class="selected" href="/group/coach/health-care-fsa ">HEALTH
					CARE FSA</a></li>
			<li><a class="selected" href="/group/coach/dependant-care-fsa ">DEPENDANT
					CARE FSA</a></li>
			<li><a class="selected" href="/group/coach/life-insurance ">LIFE
					INSURANCE</a></li>
			<li><a class="selected" href="/group/coach/ad-d-insurance ">AD&amp;D
					INSURANCE</a></li>
			<li><a class="selected" href="/group/coach/disability1 ">DISABILITY</a>
			</li>
			<li><a class="selected"
				href="/group/coach/business-traveler-healthcare ">BUSINESS
					TRAVELER HEALTHCARE</a></li>
			<li><a class="selected"
				href="/group/coach/expatriate-healthcare ">EXPATRIATE HEALTHCARE</a>
			</li>
			<li><a class="selected" href="/group/coach/401-k-savings ">401(K)
					SAVINGS</a></li>
			<li><a class="selected" href="/group/coach/profit-sharing ">PROFIT
					SHARING</a></li>
			<li><a class="selected" href="/group/coach/holidays ">HOLIDAYS</a>
			</li>
			<li><a class="selected" href="/group/coach/vacation ">VACATION</a>
			</li>
			<li><a class="selected" href="/group/coach/sick-time ">SICK
					TIME</a></li>
			<li><a class="selected" href="/group/coach/leaves-of-absence ">LEAVES
					OF ABSENCE</a></li>
		</ul></li>
	<li class="dcjq-parent-li"><a href="/group/coach/my-pay "
		class="dcjq-parent">MY PAY<span class="dcjq-icon"></span> <span
			class="dcjq-count">(4)</span>
	</a>
		<ul style="display: none;">
			<li><a class="selected" href="/group/coach/pay ">PAY</a></li>
			<li><a class="selected" href="/group/coach/sops-bonus ">SOPS
					BONUS</a></li>
			<li><a class="selected" href="/group/coach/stock-options-rsu-s ">STOCK
					OPTIONS &amp; RSU'S</a></li>
			<li><a class="selected" href="/group/coach/esp-plan ">ESP
					PLAN</a></li>
		</ul></li>
	<li class="dcjq-parent-li"><a href="/group/coach/my-services "
		class="dcjq-parent">MY SERVICES<span class="dcjq-icon"></span> <span
			class="dcjq-count">(11)</span>
	</a>
		<ul style="display: none;">
			<li><a class="selected" href="/group/coach/eap ">EAP</a></li>
			<li><a class="selected" href="/group/coach/tuition-assistance ">TUITION
					ASSISTANCE</a></li>
			<li><a class="selected" href="/group/coach/adoption-assistance ">ADOPTION
					ASSISTANCE</a></li>
			<li><a class="selected"
				href="/group/coach/matching-gifts-program ">MATCHING GIFTS
					PROGRAM</a></li>
			<li><a class="selected" href="/group/coach/ef-purchase-program ">EF
					PURCHASE PROGRAM</a></li>
			<li><a class="selected" href="/group/coach/employee-discounts ">EMPLOYEE
					DISCOUNTS</a></li>
			<li><a class="selected"
				href="/group/coach/employee-referral-program ">EMPLOYEE REFERRAL
					PROGRAM</a></li>
			<li><a class="selected"
				href="/group/coach/employee-verification ">EMPLOYEE VERIFICATION</a>
			</li>
			<li><a class="selected" href="/group/coach/massage ">MASSAGE</a>
			</li>
			<li><a class="selected" href="/group/coach/shoe-shine ">SHOE
					SHINE</a></li>
			<li><a class="selected" href="/group/coach/cafe-516 ">CAFE
					516</a></li>
		</ul></li>
	<li class="dcjq-parent-li"><a href="/group/coach/my-life-events "
		class="dcjq-parent">MY LIFE EVENTS<span class="dcjq-icon"></span>
			<span class="dcjq-count">(5)</span>
	</a>
		<ul style="display: none;">
			<li><a class="selected" href="/group/coach/marriage ">MARRIAGE</a>
			</li>
			<li><a class="selected" href="/group/coach/divorce ">DIVORCE</a>
			</li>
			<li><a class="selected" href="/group/coach/children ">CHILDREN</a>
			</li>
			<li><a class="selected" href="/group/coach/disability ">DISABILITY</a>
			</li>
			<li><a class="selected" href="/group/coach/death ">DEATH</a></li>
		</ul></li>
	<li class="dcjq-parent-li" id="aui_3_4_0_1_787"><a
		href="/group/coach/my-tools " class="dcjq-parent test">MY TOOLS<span
			class="dcjq-icon"></span> <span class="dcjq-count">(23)</span>
	</a>
		<ul style="display: block;" id="aui_3_4_0_1_786">
			<li class="dcjq-parent-li" id="aui_3_4_0_1_847"><a
				class="selected dcjq-parent" href="/group/coach/hr-online "
				id="aui_3_4_0_1_846">HR ONLINE<span class="dcjq-icon"
					id="aui_3_4_0_1_845"></span> <span class="dcjq-count">(6)</span>
			</a>
				<ul id="110" style="display: none;">
					<a
						href=" http://10.3.0.253:8080/group/coach/hr-online?p_auth=Ej166qkx&amp;p_p_id=SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC&amp;p_p_lifecycle=1&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC_myaction=processDocumentURL&amp;_SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC_fileURL=http%3A%2F%2F10.3.0.253%3A8080%2Fdocuments%2F11908%2F0%2FHR%2520Online%2520Guide-Changing%2520W-4.pdf%3Fversion%3D1.0%26t%3D1338988983000&amp;_SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC_fileTitle=HR+Online+Guide-Changing+W-4">HR
						Online Guide-Changing W-4</a>
					<a
						href=" http://10.3.0.253:8080/group/coach/hr-online?p_auth=Ej166qkx&amp;p_p_id=SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC&amp;p_p_lifecycle=1&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC_myaction=processDocumentURL&amp;_SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC_fileURL=http%3A%2F%2F10.3.0.253%3A8080%2Fdocuments%2F11908%2F0%2FHR%2520Online%2520Guide-New%2520Hire%2520Login.pdf%3Fversion%3D1.0%26t%3D1338988984000&amp;_SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC_fileTitle=HR+Online+Guide-New+Hire+Login">HR
						Online Guide-New Hire Login</a>
					<a
						href=" http://10.3.0.253:8080/group/coach/hr-online?p_auth=Ej166qkx&amp;p_p_id=SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC&amp;p_p_lifecycle=1&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC_myaction=processDocumentURL&amp;_SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC_fileURL=http%3A%2F%2F10.3.0.253%3A8080%2Fdocuments%2F11908%2F0%2FHR%2520Online%2520Guide-Previous%2520Employment.pdf%3Fversion%3D1.0%26t%3D1338988979000&amp;_SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC_fileTitle=HR+Online+Guide-Previous+Employment">HR
						Online Guide-Previous Employment</a>
					<a
						href=" http://10.3.0.253:8080/group/coach/hr-online?p_auth=Ej166qkx&amp;p_p_id=SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC&amp;p_p_lifecycle=1&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC_myaction=processDocumentURL&amp;_SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC_fileURL=http%3A%2F%2F10.3.0.253%3A8080%2Fdocuments%2F11908%2F0%2FHR%2520Online%2520Guide-Personal%2520Contacts.pdf%3Fversion%3D1.0%26t%3D1338988980000&amp;_SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC_fileTitle=HR+Online+Guide-Personal+Contacts">HR
						Online Guide-Personal Contacts</a>
					<a
						href=" http://10.3.0.253:8080/group/coach/hr-online?p_auth=Ej166qkx&amp;p_p_id=SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC&amp;p_p_lifecycle=1&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC_myaction=processDocumentURL&amp;_SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC_fileURL=http%3A%2F%2F10.3.0.253%3A8080%2Fdocuments%2F11908%2F0%2FHR%2520Online%2520Guide-Direct%2520Deposit.pdf%3Fversion%3D1.0%26t%3D1338988980000&amp;_SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC_fileTitle=HR+Online+Guide-Direct+Deposit">HR
						Online Guide-Direct Deposit</a>
					<a
						href=" http://10.3.0.253:8080/group/coach/hr-online?p_auth=Ej166qkx&amp;p_p_id=SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC&amp;p_p_lifecycle=1&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC_myaction=processDocumentURL&amp;_SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC_fileURL=http%3A%2F%2F10.3.0.253%3A8080%2Fdocuments%2F11908%2F0%2FHR%2520Online-Instructions%2520for%2520MAC%2520Users.pdf%3Fversion%3D1.0%26t%3D1338988979000&amp;_SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC_fileTitle=HR+Online-Instructions+for+MAC+Users">HR
						Online-Instructions for MAC Users</a>
				</ul></li>
			<li><a class="selected" href="/group/coach/peoplemanagment ">PEOPLEMANAGMENT</a>
			</li>
			<li><a class="selected" href="/group/coach/time-attendance ">TIME
					&amp; ATTENDANCE</a></li>
			<li><a class="selected" href="/group/coach/employee-orders1 ">EMPLOYEE
					ORDERS</a></li>
			<li><a class="selected" href="/group/coach/is-helpdesk ">IS
					HELPDESK</a></li>
			<li><a class="selected" href="/group/coach/ultramar-travel ">ULTRAMAR
					TRAVEL</a></li>
			<li><a class="selected" href="/group/coach/aetna.com ">AETNA.COM</a>
			</li>
			<li><a class="selected" href="/group/coach/delta.com ">DELTA.COM</a>
			</li>
			<li><a class="selected" href="/group/coach/vsp.com ">VSP.COM</a>
			</li>
			<li><a class="selected" href="/group/coach/fidelity.com ">FIDELITY.COM</a>
			</li>
			<li><a class="selected" href="/group/coach/eap.com ">EAP.COM</a>
			</li>
			<li class="dcjq-parent-li" id="aui_3_4_0_1_785"><a
				class="selected dcjq-parent test" href="/group/coach/policies ">POLICIES<span
					class="dcjq-icon"></span> <span class="dcjq-count">(3)</span>
			</a>
				<ul id="110" style="display: block;">
					<li id="aui_3_4_0_1_784">Communication
						<ul id="111" style="display: none;">
							<li><a
								href=" http://10.3.0.253:8080/group/coach/hr-online?p_auth=Ej166qkx&amp;p_p_id=SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC&amp;p_p_lifecycle=1&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC_myaction=processDocumentURL&amp;_SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC_fileURL=http%3A%2F%2F10.3.0.253%3A8080%2Fdocuments%2F11908%2F0%2FImplicit%2520Obj%3Fversion%3D1.0%26t%3D1338986144000&amp;_SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC_fileTitle=Implicit+Obj">Implicit
									Obj</a></li>
							<li class="dcjq-parent-li">Public Communication Policy
								<ul id="113" style="display: none;">
									<li><a
										href=" http://10.3.0.253:8080/group/coach/hr-online?p_auth=Ej166qkx&amp;p_p_id=SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC&amp;p_p_lifecycle=1&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC_myaction=processDocumentURL&amp;_SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC_fileURL=http%3A%2F%2F10.3.0.253%3A8080%2Fdocuments%2F11908%2F0%2FJquery%3Fversion%3D1.0%26t%3D1338985302000&amp;_SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC_fileTitle=Jquery">Jquery</a>
									</li>
								</ul></li>
							<li class="dcjq-parent-li">Retail Communication Guidelines
								<ul id="113" style="display: none;">
								</ul></li>
							<li class="dcjq-parent-li">Social Networking Policy
								<ul id="113" style="display: none;">
								</ul></li>
						</ul></li>
					<li class="">Employment
						<ul id="111" style="display: none;">
							<li>Employee Announcements</li>
							<li>Employee Guide-NA Corporate</li>
							<li>Family &amp; Medical Leave Act (FMLA) Policy</li>
						</ul></li>
					<li class="">Financial
						<ul id="111" style="display: none;">
							<li><a
								href=" http://10.3.0.253:8080/group/coach/hr-online?p_auth=Ej166qkx&amp;p_p_id=SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC&amp;p_p_lifecycle=1&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC_myaction=processDocumentURL&amp;_SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC_fileURL=http%3A%2F%2F10.3.0.253%3A8080%2Fdocuments%2F11908%2F0%2FLanguage%3Fversion%3D1.1%26t%3D1338985877000&amp;_SideNavigation_WAR_cipportlet_INSTANCE_2Dx2JdJMdcsC_fileTitle=Language">Language</a>
							</li>
						</ul></li>
				</ul></li>
			<li><a class="selected" href="/group/coach/forms ">FORMS</a></li>
			<li><a class="selected" href="/group/coach/remote-apps ">REMOTE
					APPS</a></li>
			<li><a class="selected" href="/group/coach/store-intranet ">STORE
					INTRANET</a></li>
			<li><a class="selected"
				href="/group/coach/leadership-resources ">LEADERSHIP RESOURCES</a></li>
		</ul></li>
</ul>