
@import url(custom_classic.css);

.aui h1,.aui h2,.aui h3,.aui h4,.aui h5,.aui h6 {
	margin: 0 0 20px 0;
	padding: 0;
	line-height: 20px
}

.aui h2 {
	font-size: 17px;
	text-transform: uppercase;
	color: #fff
}

.aui ul {
	list-style: none;
	margin: 0;
	padding: 0
}

.aui .sectioning ul li {
	padding: 0;
	margin: 8px 0
}

.aui .container {
	max-width: 940px;
	margin: 0 auto;
	color: #fff
}

.aui p,.aui span,.aui li {
	margin: 0;
	padding: 0
}

.aui button {
	background: 0;
	border: 0;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer
}

.aui a {
	outline: 0;
	text-decoration: none;
	color: #fff
}

.aui a:hover {
	opacity: .7
}

.aui form {
	margin: 0
}

.aui body {
	margin: 0;
	font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	background-color: #1f2643
}

.aui li {
	line-height: 20px
}

.aui a {
	text-decoration: none;
	word-break: normal;
	word-wrap: normal
}

.aui a:hover,.aui a p:hover {
	opacity: .7
}

.aui #wrapper {
	max-width: 940px;
	margin: 0 auto
}

.aui #banner {
	background-color: #3b4568;
	padding: 20px
}

.aui .straight-line {
	border-top: 1px #ccc solid;
	width: 96%;
	text-align: center;
	margin: 30px 0 15px 0;
	float: left
}

.aui .portlet-borderless-container {
	background: 0;
	padding: 0 0 10px 0;
	margin-bottom: 0
}

.aui ul.lastNav {
	float: right;
	list-style-type: none
}

.aui ul.lastNav li {
	color: white
}

.aui div.header_actions {
	float: right
}

.aui div.header_actions ul {
	list-style-type: none;
	margin: 0
}

.aui div.header_actions ul li {
	float: left;
	position: relative;
	font-size: 14px;
	padding: 0 10px 0 10px;
	margin: 0
}

.aui div.header_actions ul li a {
	color: #a8a7ac
}

.aui #navigation .navbar-inner {
	background: #3b4568;
	padding-left: 0;
	padding-right: 0
}

.aui #navigation .navbar-inner div.nav-collapse {
	margin: 0
}

.aui #footer {
	text-align: right;
	padding-bottom: 50px
}

.aui #footer ul {
	list-style-type: none
}

.aui #footer ul.footerLeft {
	float: left
}

.aui #footer ul.footerLeft li {
	background: url(../images/right-arrow.png)
		no-repeat right 8px;
	padding: 0 12px 0 1px
}

.aui #footer ul.footerRight {
	float: right
}

.aui #footer ul.footerRight li {
	background:
		url(../images/footer-menu-seperator.png)
		no-repeat right 5px
}

.aui #footer ul li {
	float: left;
	position: relative;
	font-size: 12px;
	padding: 0 10px 0 10px
}

.aui #footer ul li:last-child {
	background: 0
}

.aui #footer ul li a {
	color: #a8a7ac
}
.portlet-nested-portlets .portlet-borderless-container {padding: 0px; margin:0px}
.aui #navigation .nav li a {color: #a8a7ac;}
.aui #navigation .nav li:hover a { background:none; color:#fff;}
.aui #navigation .nav li.active a { background:none;}
.aui .navbar .nav>li a span { cursor:pointer;vertical-align: bottom;line-height: 12px;font-weight: bold;}
.aui #navigation .nav>li>a {padding: 0px 15px 0px 5px;}
.site-title .logo { float:left; pading:0;}
/*.help, .chat, .phone { width:85px; min-height:35px; float:left; text-align:right;}
.help, .chat, .phone { min-height:35px; float:left;}*/
.help { background:url(../images/call-us.png) no-repeat 0 0;}
.chat { background:url(../images/chat-now.png) no-repeat 0 0;}
.phone { background:url(../images/call-us.png) no-repeat 0 0;}

 
.aui div.header_actions ul li:first-child { padding:0 30px 0 0;}
.aui div.header_actions ul li:first-child input { margin:0;}
.aui div.header_actions ul li { padding:0 10px 0 0;}
.header_actions ul li a span { width:33px; min-height:30px; float:left;}
.header_actions ul li a p { width:45px; margin:-5px 0 0 5px; padding:0; float:right; text-transform:uppercase; font-weight:bold; font-size:12px;line-height: 15px;}
 
.aui .navbar .nav>li a span img { position:relative; }
.aui .site-navigation { margin:0;}
 
.phoneText {width: 60px !important;}
#banner ul li {margin: 0}
 /*Content styling*/
#content { margin:20px 0 0 0;}
#content .sectioning { padding:20px; float:left;}
#content .sectioning {margin:0 20px 20px 0}
.sectioning { width:260px; min-height:240px; margin:0; font-size:16px; position:relative;}
.section-one { background:#00557e;}
.section-two { background:#009ec1;}
.section-three { background:#648cc7; padding:0 !important; height:280px; width:300px; font-size:14px;}
.section-three p { text-transform:uppercase;}
.section-four { background:#7c2b8a;}
.section-four p { font-weight:bold;}
.section-five { background:#cf4169;}
.section-five p { max-width:100px;}
.section-six { background:#e8ae42; color:#474a53;}
.section-six p { max-width:96px; color:#4e444f;}
.section-one h2 { color:#e5e36c;}
.section-six h2 { color:#444854;}
.section-three tr td { border:1px solid #272638; text-align:center; padding:15px 10px; width:33.333%}
.section-three tr:first-child td { border-top:0;}
.section-three tr td:first-child { border-left:0;}
.section-three tr:last-child td { border-bottom:0;}
.section-three tr td:last-child { border-right:0;}
.section-three tr td img { margin:0 0 15px 0;}
.sectioning button { padding:5px; position:absolute; bottom:20px; left:20px; text-shadow:0 1px 1px #1b1b1b;}
.sectioning button:hover { border-bottom:3px solid #fff;}
.section-one button { background:#669ab2;}
.section-two button { background:#66c5d9;}
.section-four button { background:#af80b6;}
.section-five button { background:#de8ca3;}
.section-six button { background:#f4cd94; color:#4e4a49;}
.section-one img:first-child { float:left;}
.galaxyPhone { position:relative; top:-36px; float:right;}
.section-four p { float:left;}
.section-four img { float:right;}
.section-four ul { float:left;}
.section-five p { float:left;}
.section-five img { float:right;}
.section-six p { float:left;}
.section-six img { float:right;}


.tc_header
{
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	padding: 18px 0px 18px 20px;
	margin-bottom: 15px;
}
.tc_header1
{
	background: #7c2b8a;
}

.tc_header2
{
	background: #00b8ec;
}

.tc_content1
{
	background: #3b4568;
	color: white;
	padding: 25px;
	font-size: 12px;
	margin-bottom: 20px;
}


.abstract_content
{
	background: #f3f4f4;
	padding: 20px;
}

.abstract_content > h2
{
	color: #45464b;
	padding: 0;
}

.abstract
{
	padding-bottom: 20px;
	font-size: 12px;
}
.clear
{
	clear: both;
}
.sideNavigation ul 
{
	
}
.sideNavigation ul li
{
	margin-bottom: 10px;
	/*background: #00b8ec;*/
	background: #b8babc	;
	padding: 15px;
	color: white;
	font-weight: bold;
	
	
}

/*first-child should be replaced with class Name, so that the icon and color is displayed for selected navigation li only*/
.sideNavigation ul li:first-child
{
	background: #00b8ec;
	
}

.sideNavigation ul li:first-child div
{
	background: url(../images/arrow.png) no-repeat right 0px;
	
}
.readMore
{
	float: left;
	background: #92dcf0;
	padding: 2px 8px 2px 8px;
	text-transform: uppercase;
}


.actions
{
	margin: 30px 0 25px 0;
}

.floatRight
{
	float: right;
}
.floatLeft
{
	float: left;
}
.action_button
{
	padding: 0px 6px 0px 6px;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
}
.return
{
	color: #45464b;
	background: #d5d6d7;

}

.pdf
{
	color: white;
	background: #d2232a;
	
}

.print
{
	color: white;
	background: #45464b;
    margin-left: 20px;
}

.content
{
	border-top: 1px #45464b solid;
	padding: 5px 0 20px 0;
}


.content  .sub_heading
{
	color: #45464b;
	margin: 0 0 10px 0;
	text-transform: none;
}

.sub_content
{
	color: #45464b;
	font-size: 12px;
}


.home_phone, .mobile
{
	body {
		background : red;
	}
}


/*.whiteDiv
{
	
	position: absolute;
top: 200px;
left: 0px;
width: 100%;
height: 100%;
background: white;
z-index: 349;
}*/