.container {
	width: 910px;
	height: 50px;
	overflow: hidden;
	position: relative;	
}

.slides {
	position: absolute;
	top: 0;
	left: 0;
	list-style: none;
	padding: 0;
	margin: 0;
}

.slides li {
	position: absolute;
	top: 0;
	height: 60px;
	width: 928px;
	padding: 0;
	margin: 0;
	padding-bottom: 30px;
}

#loopedSlider,#newsSlider {
	width: 928px;
	position: relative;
	clear: both;
	height: 90px;
}

.box {
	width: 190px;
height: 82px;
border-right: 1px solid black;
float: left;
padding: 0px 17px 0px 20px;
margin-right: 3px;
margin-top: 4px;
}

.box p {
	padding: 0 0 5px 0;
	color: #000;
	margin: 0;
	text-transform: uppercase;
}

.box a {
	color: #000;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

.box a:hover {
	text-decoration: none;
}
