/* SIDE NAVIGATION CSS START  */

.demo-container ul, .demo-container ul li{list-style: none;}
.demo-container {width: 260px;overflow:auto;max-height:610px;min-height: 200px;}
.dcjq-count {float: right;}

.grey .accordion{font-size:12px; border-top: 1px solid #ccc; border-right: 1px solid #ccc; border-left: 1px solid #ccc;}
.grey .accordion, .grey .accordion li {margin: 0; padding: 0; border: none;position: relative;}
.grey .accordion a {padding: 5px 10px 5px 1px;  text-decoration:none; display: block; color: #333;position: relative; text-shadow: 1px 1px 1px #fff;left:20px}
.grey .accordion a.dcjq-parent, .grey .accordion a.dcjq-parent:hover {}
.grey .accordion a.dcjq-parent.active {}
.grey .accordion span.dcjq-icon {position: absolute; width: 12px; margin-top: 0px; height: 34px; background: url(../images/arrow_grey_right.png) no-repeat 0 center;float: left;}
.grey .accordion a:active{}

/* SIDE NAVIGATION CSS START  */