/* HOVER STYLES */
div#popupPieChartDiv {
	display: none;
	position: absolute;
	width: 280px;
	padding: 10px;
	background: #eeeeee;
	color: #000000;
	border: 1px solid #1a1a1a;
	font-size: 90%;
}

div#individualFirmDetailsDiv {
	display: none;
	position: absolute;
	width: 150px;
	padding: 10px;
	background: #eeeeee;
	color: #000000;
	border: 1px solid #1a1a1a;
	font-size: 90%;
}

span.popupTotal{
	background-color: #A4A4A4;
    border: 1px solid;
    color: #FAFAFA;
    height: 10px;
    margin-left: 30px;
    width: 37px;
}
span.popupIndividual{
	margin-left: 30px;
	color: #2E64FE;
	width: 20px;
	border: 1px solid;
}
/* Pop up hower */
.popuponhover{
	position:absolute;
	z-index:999;
}
.popuptitle {
	color: #000000;
	font-size: 12px;
}
.statistics
{
	text-align:center;
}
.statistics-type
{
	margin:0 0 0 10px;
}
.clickToViewDetails
{
	text-align:center;
}
.firmPage p { margin:5px 0;}

/* .individualfirms-first  { color:#ffffff; background-color:#666666; border:1px solid #999999}
.individualfirms-first input { margin:0 5px}
.individualfirms-Events-Watchlist  { font-weight:bold; color:#ffffff; background-color:#666666; border:1px solid #999999}
.individualfirms-Events-Watchlist input { margin:0 5px}
.individualfirms-Events-Organization { font-weight:bold; color:#ffffff; background-color:#666666; border:1px solid #999999}
.individualfirms-Events-Organization input { margin:0 5px} */

.individualfirms-first, .individualfirms-Events-Watchlist, .individualfirms-Events-Organization { padding: 2px 0 5px; margin:0; width:220px; color: #ffffff; background-color: #666666; border: 1px solid #999999; width:220px; font-weight:bold;}
.individualfirms-first input, .individualfirms-Events-Watchlist input, .individualfirms input, .individualfirms-Events-Organization input { margin: 0 5px}

.individualEventsfirms, .individualfirmsEventsWatchList, .individualfirmsEventsOrganization { background-color: #ffffff; border: 1px solid #CCCCCC; height: 80px; width:220px !important; overflow-x:hidden !important; overflow-y:auto !important; padding:2px 0 5px;;}
.individualEventsfirms input, .individualfirmsEventsWatchList input, .individualfirmsEventsOrganization input { margin:0 5px;}


.popupsubmit { margin:10px 0 0 83px; width:auto; float:left;}
.Popup-Calendar { margin:10px 0 0 0; width: auto; float: right;}
#dropdown #droplist li .firmPage, #dropdown ul#droplist li .datePage {background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #B1B0AE; color: #777777; display: none; left: 0; padding: 15px 10px; position: absolute; top: 29px; width: 215px;}
/*#allOtherFirmDiv, #practiceAreaDiv, #allOtherLocationsDiv { background-color: none; border: 1px solid #CCCCCC; height: 100px; margin: 0; overflow: auto;}*/

.buttonOne {background:url(../images/btn1.png) 0 0 repeat-x !important; border:none !important; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; font:normal 12px Arial, Helvetica, sans-serif !important; padding:5px 10px !important; cursor:pointer; text-shadow:none !important; color:#ffffff !important;}
.buttonOne:hover {background-position:0 -39px !important; border:none!important;}
.buttonTwo {background:url(../images/btn2.png) 0 0 repeat-x !important; border:none !important; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; font:normal 12px Arial, Helvetica, sans-serif !important; padding:5px 10px !important; cursor:pointer; text-shadow:none !important; color:#ffffff !important;}
.buttonTwo:hover {background-position:0 -39px !important; border:none!important;}
.popupsubmenu { margin:0;}
.popupsubmit { margin:10px 10px 0 0; width:auto; float:right;}

.practiceAreaEventDiv, .allOtherEventLocationsDiv {
	background-color: #ffffff;
	border: 1px solid #CCCCCC;
	height: 100px;
	width:220px;
	overflow-x:hidden !important;
	overflow-y:auto !important;
}