body {
	background: #fff url(../images/bg/body_bg.gif);
	font-family: 'lucida_sansregular';
	font-size: 100%;
	color: #333;
	height: 100%;
}

/***********************************************************************************************************************
													LAYOUT SECTION
************************************************************************************************************************/
#sitewidth {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}

#maincontent {
	width: 100%;
}

.rightwrap {
	width: 250px;
	float: right;
	padding: 0px;
}

.leftwrap {
	width: 120px;
	float: left;
	padding: 0px;
}

.contentwrap {
	overflow: hidden;
}

.infowrap {
	float: none;
	display: block;
	padding: 0px;
}

.topbg {
	background: url(../images/bg/topbg.gif) repeat-x left top;
}

.mainbodysection {
	position: relative;
}

.scrollsection {
	position: relative;
}

.points_topbg {
	background: url(../images/bg/points_topbg.gif) repeat-x left top;
}

.contentbg,.contentbg2 {
	width: 100%;
	overflow: auto;
}
/***********************************************************************************************************************
													OFF CANVAS SECTION
************************************************************************************************************************/
#offcanvasmenu {
	width: 918px;
	height: 100%;
	position: absolute;
	left: -918px;
	overflow: scroll;
}

/******************************************offcanvas topbar styles************************************************/
.canvastopbar {
	background: white;
	height: 78px;
	width: 100%;
	border-bottom: 17px solid #636363;
}

.canvaslogo {
	border-right: 2px solid #595959;
	padding-right: 10px;
	margin: 3px 30px 0 10px;
	float: left;
	width: 279px;
	height: 60px;
}

.topnav_left {
	padding: 0;
	margin: 5px 30px 0 10px;
	float: left;
	width: 458px;
}

.topnav_right {
	float: right;
	margin: 10px 0 0 10px;
	width: 400px;
}

.topnav_left li {
	display: inline-block;
	float: left;
	margin: 3px 10px 0 0;
}

.topnav_left li a {
	font-size: 14px;
	color: #636363;
}

.topnav_left li a:hover {
	color: #666;
}

.searchbox {
	background: #1f2122;
	height: 0px;
	float: right;
	margin-right: 50px;
}

#expand {
	-webkit-appearance: none;
	-webkit-transition: all .4s ease-in-out;
	outline: none;
	position: relative;
	line-height: 16px;
	border: 4px solid #1b1e1f;
	width: 93px;
	-webkit-border-radius: 50px;
	background: #1f2122;
	float: right;
	color: #ccc;
}

::-webkit-input-placeholder {
	color: #ccc;
}

::-moz-input-placeholder {
	color: #ccc;
}

input[type="search"] {
	outline: none;
	position: relative;
}

input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

#expand:hover,#expand:focus {
	width: 200px;
}

input:hover::-webkit-input-placeholder {
	color: #ccc;
	font-style: italic;
	font-size: 13px;
}

form:after {
	content: "";
	position: absolute;
	width: 0;
	height: 7px;
	border-left-width: 3px;
	left: 32px;
	-webkit-border-radius: 3px;
	-webkit-transform: rotate(-45deg);
}

.searchbox .searcharrow {
	position: absolute;
	right: 190px;
	top: 13px;
}

/*********************topbar login **********************/
.setting_login {
	float: right;
	width: 100px;
	margin: 0px 40px 0 0;
}

.setting_login img {
	margin: 0px 0px 0 0px;
	float: left;
	margin-right: 2px solid #595959;
	border-right: 1px solid #4b4e4e;
	padding-right: 10px;
}

.setting_login .login {
	color: #cfcdcd;
	font-size: 11px;
	float: left;
	margin: 3px 0 0 10px
}

.login:hover {
	color: #666;
}

/******************************************offcanvas content styles************************************************/
.offcanvascontentsection {
	width: 100%;
	height: 400px;
	margin: 5px 0 0 0;
}

/******************************************offcanvas left section styles************************************************/
.canvasleftsection {
	width: 33%;
	float: left;
}

.canvasleft li.greybg {
	background: #e4e6e6;
	height: 131px;
	margin-bottom: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.leftdata {
	padding: 10px 0 5px 10px;
}

.leftdata .sciencetext {
	font-size: 13px;
	color: #868484;
	line-height: 25px;
}

.canvaslefticons {
	margin-right: 10px;
	vertical-align: middle;
}

.rightdata {
	padding: 10px 0 0 0;
}

.leftbox1 {
	vertical-align: top;
}

.rightbox1 {
	padding: 14px 20px 0 0;
	text-align: right;
}

.scienceimg {
	padding: 21px 37px 0 0;
}

.mathsimg {
	padding: 21px 27px 0 0;
}

.subjectcandidate {
	padding: 0;
}

.science {
	font-size: 30px;
	color: #6fc9c6;
}

.snsubtitle {
	color: #c2c4c4;
	font-size: 12px;
}

.canvasleft li.orangebg {
	background: #dc6d6e;
	height: 131px;
	margin-bottom: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mathsriewes {
	color: #fff;
	font-size: 13px;
	line-height: 25px;
}

.maths {
	color: #fff;
	font-size: 30px;
}

.mtsubtitle {
	color: #fff;
	font-size: 12px;
}

.diagnostic {
	color: #88c09c;
	font-size: 34px;
	margin-top: 14px;
}

.diagnasticksubtitle {
	font-size: 13px;
	color: #88c09c;
	padding-right: 10px;
}

.diagtest {
	font-size: 20px;
	font-family: 'UniversBold';
	color: #b2b3b3;
	padding-right: 10px;
}

.testdate {
	color: #c2c4c4;
	font-size: 11px;
	padding-right: 10px;
}

.moresub {
	color: #b0b0b0;
	font-size: 16px;
	text-align: center;
	padding: 30px 0 0 0;
	font-weight: 600;
	margin-top: 20px;
}

.alerts {
	color: #fff;
	font-size: 14px;
	padding-right: 10px;
}

.alerts span {
	font-size: 26px;
	font-family: 'UniversBold';
}

.diagnosticleftdata {
	padding: 10px 0 5px 10px; /* width:250px;*/
}

.diagnosticleftdata img {
	margin-top: 10px;
}
/*******************************************offcanvas right section styles****************************************************/
.canvascentersection {
	width: 33%;
	float: left;
}

.canvascenter li.calenderbg {
	background: #e4e6e6;
	height: 55px;
	margin-bottom: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.centerleftdata {
	vertical-align: top;
}

.calender_icon {
	margin-top: 10px;
}

.calender {
	font-size: 26px;
	font-family: 'lucida_sansregular';
	color: #000;
}

.taskdate {
	color: #000;
	font-size: 11px;
}

.bluebg {
	background: #44b1ba;
	height: 85px;
	margin-bottom: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.bluebgdash {
	background: #44b1ba;
	height: 131px;
	margin-bottom: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.centersectiondata {
	vertical-align: top;
}

.centertd {
	vertical-align: top;
	padding: 10px 0 0 10px;
	width: 40px;
}

.centerdata2 {
	vertical-align: top;
}

.algebraeq {
	font-size: 16px;
	color: #fff;
	font-family: 'lucida_sansdemibold_roman';
	padding: 10px 0 0 0
}

.seventhmaths {
	font-size: 14px;
	color: #fff;
	font-family: 'lucida_sansregular';
	margin-bottom: 6px;
}

.sublecturer {
	font-size: 12px;
	color: #fff;
}

.bluerihtbg {
	background: #13919f no-repeat left center;
	height: 85px;
	margin: 0;
	width: 75px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.date {
	color: #020202;
	font-size: 14px;
	text-align: center;
	padding: 30px 0 0 0;
}

.time {
	color: #020202;
	font-size: 9px;
	padding-left: 16px;
}

.greybg3 {
	background: #e4e6e6;
	height: 85px;
	margin-bottom: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.greybginnerright {
	background: #d3d2d2;
	height: 85px;
	width: 75px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.addtask {
	font-size: 14px;
	color: #6e6e6e;
	padding: 13px 0 0 0;
	margin: 20px 0 0 0;
}

.addicon {
	margin-top: 18px;
}

.center_left {
	padding: 3px 0 0 10px;
	width: 200px;
}

.diagnosticright {
	padding: 5px 0 0 0;
}

/*******************************************offcanvas right section styles****************************************************/
.canvasrightsection {
	width: 33%;
	float: left;
}

.canvasright .greybg2 {
	background: #e4e6e6;
	height: 160px;
	margin-bottom: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.profile {
	color: #b0b0b0;
	font-size: 20px;
	font-family: 'UniversBold';
	margin: 0 0 15px 0
}

.profileviewer {
	border: 2px solid #d4d6d6;
}

.profileowner {
	color: #b0b0b0;
	font-size: 24px;
	font-family: 'UniversBold';
	padding: 30px 10px 0 0;
}

.posubtitle {
	color: #868484;
	font-size: 11px;
	padding: 0px 10px 0 0;
}

.viewreward {
	color: #43ca93;
	font-size: 26px;
	font-family: 'UniversBold';
	padding: 0 10px 0 0;
}

.rewpoints {
	color: #43ca93;
	font-size: 12px;
	font-family: 'UniversBold';
	padding: 0 10px 0 0;
}

.greenbg {
	background: #83d6b4;
	height: 149px;
	margin-bottom: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.social {
	color: #232323;
	font-size: 20px;
	font-family: 'UniversBold';
	margin: 0 0 15px 0
}

.subjectcandidate {
	border: 2px solid #77c1a3;
	margin: 20px 10px 0 0
}

.studentdetails {
	font-size: 12px;
	color: #232323;
	text-align: right;
	margin: 38px 0 0 0
}

.totalrewards {
	font-size: 14px;
	color: #232323;
	text-align: right;
}

.viewedtime {
	color: #fff;
	font-size: 11px;
	text-align: right;
	margin: 10px 0 0 0
}

.marthaimg {
	float: left;
	margin-right: 10px;
	margin-top: 10px;
}

.cartmembers {
	margin: 47px 0 0 0;
	color: #868484;
	font-size: 12px;
}

.cmsubtitle {
	color: #868484;
	font-size: 10px;
	margin-top: 28px;
}

.newgodiess {
	font-size: 14px;
	color: #b7b8b8;
	margin: 30px 10px 0 0
}

.godiesnum {
	font-size: 26px;
	color: #b7b8b8;
	margin-right: 10px;
}

.carticon {
	margin: 11px 0 0 0;
	margin-right: 10px;
}

.rightleft {
	vertical-align: top; /* width:250px;*/
}

.centercenterpara1 {
	color: #6e6e6e;
	font-family: 'lucida_sansdemibold_roman';
	font-size: 16px;
	padding: 10px 0 0;
}

.centercenterpara_subtitle {
	color: #868484;
	font-family: 'lucida_sansregular';
	font-size: 14px;
	margin-bottom: 6px;
}

.centercenterpara_lecturername {
	color: #868484;
	font-size: 12px;
}

.leftsectionrightimg {
	padding-right: 10px;
}

.rightboxnew {
	float: right;
	margin-right: 20px;
}

.rightboxsocial {
	padding: 0 20px 0 0;
	float: right
}

.innerpad {
	padding: 10px;
}

.rightleftdata {
	padding: 10px 0 5px 10px; /* width:270px;*/
}

/***********************************************************************************************************************
													LEFT SECTION
************************************************************************************************************************/
.offcantab {
	position: relative;
	height: 50px;
	padding: 10px 0px 0px 15px;
}

.tlnotification {
	position: absolute;
	width: 23px;
	height: 22px;
	background: url(../images/sprite.png) no-repeat -174px -181px;
	top: 8px;
	left: 40px;
	font-weight: 600;
	color: #fff;
	font-size: 65%;
	padding-left: 3px;
	line-height: 22px;
}

.Offcanmenu {
	background: url(../images/left_grey.png) no-repeat;
	/*width: 32px;*/
	height: 45px;
	display: block;
	text-indent: -99999999px;
}

.mainnavsection {
	padding: 20px 0 0 0;
	background: url(../images/bg/leftmenubg.png) repeat-y right top;
	overflow: auto;
}

.mainnavsection li {
	margin-bottom: 10px; /* margin-left:14px;*/
}

.mainnavsection a {
	font-size: 14px;
	color: #8d8b8b;
	display: block;
	text-align: center;
}

.mthumb {
	display: block;
	background: url(../images/sprite.png) no-repeat;
	height: 48px;
	width: 48px;
	margin: 0 auto 10px auto;
}

.mthumbname {
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	word-wrap: normal;
}

/******************* Left Menu icons *******************/
.mthumb.video {
	background-position: -288px -74px;
}

.mthumb.presentation {
	background-position: -240px -74px;
}

.mthumb.points {
	background-position: -192px -74px;
}

.mthumb.notes {
	background-position: -144px -74px;
}

.mthumb.dictionary {
	background-position: -48px -74px;
}

.mthumb.worksheet {
	background-position: 0px -74px;
}

.mthumb.inlinetest {
	background-position: -96px -74px;
}

.mthumb.conceptmap {
	background-position: 0 -214px;
}

.mthumb.subjectstatus {
	background-position: 0 -318px;
}

.mthumb.previouspapers {
	background-position: -48px -318px;
}

.mthumb.modelpapers {
	background-position: -101px -318px
}

.mthumb.subjecttest {
	background-position: -138px -214px;
}

.mthumb.worksheet {
	background-position: -139px -214px;
}

.mthumb.topictest {
	background-position: -96px -214px;
}

.mthumb.mindmaps {
	background-position: -240px -74px;
}

.mthumb.ncertsolutions {
	background-position: -101px -318px
}

.mthumb.samplepapers {
	background-position: -48px -318px;
}

.mthumb.pointstoremember {
    background-position: -144px -74px;
}



/******************* Left Menu icons avtive *******************/
.mainnavsection a:hover .mthumb.video,.mainnavsection a.active .mthumb.video
	{
	background-position: -288px -122px;
}

.mainnavsection a:hover .mthumb.pointstoremember,.mainnavsection a.active .mthumb.pointstoremember
    {
    background-position: -144px -122px;
}

.mainnavsection a:hover .mthumb.presentation,.mainnavsection a.active .mthumb.presentation
	{
	background-position: -240px -122px;
}

.mainnavsection a:hover .mthumb.points,.mainnavsection a.active .mthumb.points
	{
	background-position: -192px -122px;
}

.mainnavsection a:hover .mthumb.notes,.mainnavsection a.active .mthumb.notes
	{
	background-position: -144px -122px;
}

.mainnavsection a:hover .mthumb.dictionary,.mainnavsection a.active .mthumb.dictionary
	{
	background-position: -48px -122px;
}

.mainnavsection a:hover .mthumb.worksheet,.mainnavsection a.active .mthumb.worksheet
	{
	background-position: 0px -122px;
}

.mainnavsection a:hover .mthumb.inlinetest,.mainnavsection a.active .mthumb.inlinetest
	{
	background-position: -96px -122px;
}

.mainnavsection a:hover .mthumb.conceptmap,.mainnavsection a.active .mthumb.conceptmap
	{
	background-position: 0 -262px;
}

.mainnavsection a:hover .mthumb.previouspapers,.mainnavsection a.active .mthumb.previouspapers
	{
	background-position: -48px -369px
}

.mainnavsection a:hover .mthumb.modelpapers,.mainnavsection a.active .mthumb.modelpapers
	{
	background-position: -101px -368px;
}

.mainnavsection a:hover .mthumb.subjecttest,.mainnavsection a.active .mthumb.subjecttest
	{
	background-position: 0 -368px;
}

.mainnavsection a:hover .mthumb.worksheet,.mainnavsection a.active .mthumb.worksheet
	{
	background-position: -139px -262px;
}

.mainnavsection a:hover .mthumb.topictest,.mainnavsection a.active .mthumb.topictest
	{
	background-position: -96px -262px;
}

.mainnavsection a:hover .mthumb.subjectstatus,.mainnavsection a.active .mthumb.subjectstatus
	{
	background-position: 0px -368px
}

.mainnavsection a:hover .mthumb.mindmaps,.mainnavsection a.active .mthumb.mindmaps
	{
	background-position: -240px -122px;
}

.mainnavsection a:hover .mthumb.ncertsolutions,.mainnavsection a.active .mthumb.ncertsolutions
	{
	background-position: -101px -368px;
}

.mainnavsection a:hover .mthumb.samplepapers,.mainnavsection a.active .mthumb.samplepapers
	{
	background-position: -48px -369px
}

/***********************************************************************************************************************
													RIGHT SECTION
************************************************************************************************************************/

/******************* Accordion *******************/
.overviewmenu {
	border: #FFF 1px solid;
	padding: 6px;
	cursor: pointer;
	margin-top: 10px;
	padding-left: 4px;
	color: #FFF;
}

.overviewmenu a {
	color: #fff;
}

.overviewmenu.active a {
	color: #000;
}

.rmenutab {
	border: #FFF 1px solid;
	padding: 6px;
	cursor: pointer;
	margin-top: 10px;
	padding-left: 3px;
	color: #FFF;
}

.ractive {
	
}

.rSubmenu {
	width: 89%;
	margin-left: 10%;
	border: #FFF 1px solid;
	border-top: none;
	font-size: 90%;
}

.rSubmenu li {
	border-bottom: #FFF 1px solid;
	position: relative; /* min-height:40px;*/
	padding: 2px;
}

.rSubmenu li.last {
	border-bottom: none;
}

.rSubmenu li a { /*line-height:40px;*/
	color: #FFF;
	display: inline-block;
	margin-left: 10px;
	padding: 7px 0;
	font-family: 'lucida_sansregular';
}

.rSubmenu li:hover a {
	color: #000
}

.rSubmenu li .rrcaldate {
	display: none
}

.rSubmenu li:hover,.rSubmenu li.active {
	background: #f9f4f8;
}

.rSubmenu li.active a {
	color: #000;
}

.rSubmenu li:hover .rrcaldate {
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 12px;
	background: #986869;
	padding: 1px 3px;
}

.rSubmenu li:hover .rrcaldate a {
	line-height: 10px;
	color: #FFF;
	margin-left: 0px;
	padding: 0;
}

.rSubmenu li:hover .rrcaldate a {
	
}

.rSubmenu li:hover .rrcaldate span {
	display: block;
	line-height: 19px;
}

.rSubmenu li:hover .rrcaltab {
	position: absolute;
	right: 0px;
	top: 0px;
	background: #b14b4c;
	display: block;
	padding: 0 4px;
}

.rSubmenu li:hover .rrcaltab img {
	margin-right: 5px;
}

.rSubmenu li .rrcaltab {
	display: none;
}

.rSubmenu li .rrcaltab.active {
	background: #f2e6f0;
}

.rmenutab a {
	color: #fff;
}

.rmenutab.active,.overviewmenu.active {
	background: #fff;
}

.rmenutab.active a {
	color: #000;
}
/***********************************************************************************************************************
													INFO SECTION
************************************************************************************************************************/

/****************************************** page title and Socail  ******************************************/
.Maintitle {
	margin: 15px 0 0 0;
	height: 45px;
	color: #FFF;
	font-size: 160%;
	font-family: 'museo_slab_500regular';
}

.pagetitleandsocial {
	height: 66px;
}

.pagetitle {
	width: 60%;
	float: left;
	color: #dc5c5d;
	font-size: 103%;
	line-height: 60px;
	padding-left: 20px;
	font-family: 'museo_slab_500regular';
}

.topsocial {
	width: 158px;
	float: right;
}

/******************* Top Social *******************/
.topsocial {
	padding-top: 9px;
}

.topsocial li {
	float: left;
	margin-right: 10px;
}

.topsocial a {
	font-size: 14px;
	color: #8d8b8b;
	float: left;
}

.tsthumb {
	display: block;
	background: url(../images/sprite.png) no-repeat;
	height: 32px;
	width: 32px;
}

.tsthumbname {
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	word-wrap: normal;
	display: none;
}

.tsthumb.facebook {
	background-position: 0px 0px;
}

.tsthumb.twitter {
	background-position: -32px 0px;
}

.tsthumb.gplus {
	background-position: -64px 0px;
}

/******************* Top Social avtive *******************/
.topsocial a:hover .tsthumb.facebook {
	background-position: 0px -32px;
}

.topsocial a:hover .tsthumb.twitter {
	background-position: -32px -32px;
}

.topsocial a:hover .tsthumb.gplus {
	background-position: -64px -32px;
}

/******************* Content Section *******************/
.coursevideo {
	width: 90%;
	max-width: 100%;
	height: 90%;
	padding-left: 5%;
	padding-top: 20px
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

.video-container iframe,.video-container object,.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 94%;
}

.maincontent {
	margin-left: 20px;
}

/***********************************************************************************************************************
													FOOTER SECTION
************************************************************************************************************************/
.footer {
	width: 100%;
	background: url(../images/bg/footerbg.gif) repeat-x;
	height: 34px;
	font-family: 'museo_slab_500regular';
	font-size: 95%;
}

.copyrights {
	margin: 3px 0 0 0;
}

/******************* Footer Left Section *******************/
.leftfooter {
	float: left;
	width: 65%;
	padding: 7px 0px 0px 20px;
}

.leftfooter li {
	border-right: #666 1px solid;
	float: left;
	margin-right: 10px;
}

.leftfooter li a {
	line-height: 20px;
	color: #666;
	display: inline-block;
	margin-right: 10px;
}

/******************* Footer Right Section *******************/
.rightfooter {
	float: right;
	width: 180px;
	padding: 6px 20px 0px 0px;
}

.rightfooter  a {
	background: url(../images/sprite.png) no-repeat;
	width: 24px;
	height: 24px;
	display: inline-block;
	text-indent: -9999999px;
}

.rightfooter  a.bfacebook {
	background-position: 0px -180px;
}

.rightfooter  a.btwitter {
	background-position: -58px -180px;
}

.rightfooter  a.bgplus {
	background-position: -116px -180px;
}

.rightfooter  a.bfacebook:hover {
	background-position: -24px -180px;
}

.rightfooter  a.btwitter:hover {
	background-position: -82px -180px;
}

.rightfooter  a.bgplus:hover {
	background-position: -140px -180px;
}

/***********************************************************************************************************************
													WORKSHEET PAGE
************************************************************************************************************************/
.worksheetstausbox,.generateworksheet {
	width: 250px;
	height: 185px;
	border: #FFF 4px solid;
	margin: 20px 0px 0 20px;
	float: left;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.worksheetstausbox {
	background: url(../images/bg/alwsbg1.png);
}

.worksheetstausbox:hover {
	background: url(../images/bg/alwsobg1.png) no-repeat center top;
}

.generateworksheet {
	background: #9cd9e0;
}

.worksheetboxtop a {
	color: #fff;
	font-size: 110%;
}

.worksheetnumber {
	color: #fff;
	font-size: 13px;
	margin-bottom: 10px;
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: pre-wrap; /* css-3 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
	word-break: break-all;
	white-space: normal;
}

.wsttatus,.itstatus {
	font-size: 19px;
}

.worksheetboxtop {
	height: 120px;
	padding: 10px;
}

.worksheetthumb {
	float: left;
	margin-right: 10px;
	width: 64px; /* padding-top:5px;*/
	margin-left: 30px;
}

.worksheetreport {
	float: left; /* width:155px*/
	margin-top: 5px;
}

.worksheetbottom {
	background: url(../images/bg/alwsbg2.png) repeat left top;
	height: 44px;
	cursor: pointer;
	color: #FFF;
}

.worksheetbottom:hover {
	background: url(../images/bg/alwsobg2.png) no-repeat center top;
}

.wsschedul {
	float: left;
	width: 172px;
	padding-left: 12px;
	line-height: 44px;
	font-size: 140%;
	color: #304D50;
}

.wsstime {
	float: left;
	width: 60px;
	text-align: right;
	font-size: 76%;
	padding-top: 10px;
	color: #304D50;
}

.wsstime span {
	display: block
}

.generatenewworksheet {
	display: block;
	text-align: center;
	margin-top: 45px;
	color: #5d8489;
	font-size: 17px;
}

.wsnofq,.wsnoft,.itnofq,.itnoft {
	font-size: 15px;
}

.time_red {
	font-size: 9px;
}
/***********************************************************************************************************************
													INLINE TEST PAGE
************************************************************************************************************************/
.inlineteststausbox {
	background: url(../images/bg/alitbg1.png) no-repeat left center;
	width: 250px;
	border: #FFF 4px solid;
	margin: 20px 0px 0 20px;
	float: left;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.inlineteststausbox:hover {
	background: url(../images/bg/alitobg1.png) no-repeat center top;
}

.inlinetestboxtop {
	height: 125px;
	padding: 10px;
}

.inlinetestboxtop a {
	color: #fff;
	font-size: 110%;
}

.inlinenumber {
	color: #fff;
	font-size: 132%;
	margin-bottom: 10px;
}

.inlinethumb {
	float: left;
	margin-right: 10px;
	width: 64px;
	padding-top: 5px;
	margin-left: 29px;
}

.inlinetestreport {
	float: left; /*width:155px*/
}

.itstatus {
	font-size: 116%;
}

.inlinetestbottom {
	background: url(../images/bg/alitbg2.png) repeat left top;
	height: 44px;
	cursor: pointer;
	color: #304D50;
}

.inlinetestbottom:hover {
	background: url(../images/bg/alitobg2.png) no-repeat center top;
}

.itschedul a {
	float: left;
	width: 172px;
	padding-left: 12px;
	line-height: 44px;
	font-size: 140%;
}

.itstime {
	float: left;
	width: 60px;
	text-align: right;
	font-size: 76%;
	padding-top: 10px;
	color: #304D50;
}

.itstime span {
	display: block;
}

.inlinebottom {
	background: url(../images/BG/inlinetextstausbottombg.gif) repeat left
		bottom;
	height: 61px;
	cursor: pointer;
}

.inlineboxtop {
	padding: 10px 0 0 10px; /*cursor:pointer;*/
}

.inlineboxtop a {
	color: #171717;
	font-size: 26px;
}

.wsstime  a {
	padding: 5px 0 0 39px;
	float: right;
	margin-right: 5px;
	color: #fff;
	font-size: 22px;
}

.inlineboxtop {
	height: 170px;
}

.inlineboxtop img {
	margin: 15px 30px 10px 30px;
	float: left;
}

.inlineboxtop .inlinetest_status {
	font-size: 30px;
	color: #fff;
}

.inlinetest2 {
	margin: 45px 20px 0 20px;
}

/***************************************************Overview Styles**************************************************/
.resbox {
	width: 250px;
	height: 185px;
	border: #FFF 4px solid;
	margin: 20px 0px 0 20px;
	float: left;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.resbottom {
	height: 44px;
	cursor: pointer;
	color: #FFF;
}

/***********************************************************************************************************************
													Overview  Subject Stats PAGE
************************************************************************************************************************/
.ovinfobox {
	height: 120px;
	padding: 10px;
}

.ovsstatebg {
	background: url(../images/bg/ovppbg1.png) no-repeat center top;
}

.ovsstatebg:hover {
	background: url(../images/bg/ovppobg1.png) no-repeat center top;
}

.ovsstatetabbg {
	background: url(../images/bg/ovppobg2.png) no-repeat center top;
}

.ovsstatetabbg:hover {
	background: url(../images/bg/ovppbg2.png) no-repeat center top;
}

.ovprpvthumb {
	float: left;
	margin-right: 10px;
	width: 64px;
	padding-top: 5px;
	margin-left: 30px;
}

.ovprpvreport {
	float: left; /* width:155px;*/
	margin-left: 0px;
}

.modeltestpapernumber {
	color: #fff;
	font-size: 120%;
	margin-bottom: 10px;
	font-family: 'museo_slab_500regular';
}

.ovnofq,.ovnoft,.ovsub {
	color: #fff;
	font-size: 16px;
}

.ovtestpaperdate {
	font-size: 18px;
	color: #fff;
}

.ovdownload {
	background: url(../images/modelpaper_doenload.png) no-repeat 55px 10px;
	padding: 10px 10px 8px 30px;
	display: block;
	font-size: 130%;
	text-align: center;
}

.ovsstatetabbg:hover .ovdownload {
	background: url(../images/modelpaper_doenload.png) no-repeat 55px 10px;
}

.ovdownloadpre {
	background: url(../images/downloadbtn.png) no-repeat 55px 10px;
	padding: 10px 10px 8px 30px;
	display: block;
	font-size: 130%;
	text-align: center;
}

.ovsstatetabbg:hover .ovdownloadpre {
	background: url(../images/downloadbtn.png) no-repeat 55px 10px;
}

.ovmptatebg {
	background: url(../images/bg/ovmpbg1.png) no-repeat center top;
}

.ovmptatebg:hover {
	background: url(../images/bg/ovmpobg1.png) no-repeat center top;
}

.ovmptatetabbg {
	background: url(../images/bg/ovmpbg2.png) no-repeat center top;
}

.ovmptatetabbg:hover {
	background: url(../images/bg/ovmpobg2.png) no-repeat center top;
}

.ovsttatebg {
	background: url(../images/bg/ovstbg1.png) no-repeat center top;
}

.ovsttatebg:hover {
	background: url(../images/bg/ovstobg1.png) no-repeat center top;
}

.ovsttatetabbg {
	background: url(../images/bg/ovstbg2.png) no-repeat center top;
}

.ovsttatetabbg:hover {
	background: url(../images/bg/ovstobg2.png) no-repeat center top;
}

.ovstreport {
	float: left;
	margin-left: 10px;
	margin-top: 20px;
}

.ovstthumb {
	float: left;
	margin-left: 30px;
	margin-right: 10px;
	padding-top: 5px;
}

.ovstdownload {
	padding: 10px 10px 8px 0px;
	display: block;
	font-size: 130%;
	text-align: center;
}

.subjectstatus {
	background: #6dc3a6;
	border: 1px solid #dadada;
	margin: 10px 50px 10px 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	width: 570px;
}

.statuslist {
	float: left;
	width: 117px;
	font-size: 13px;
}

.statuslist li {
	margin-bottom: 1px;
	font-weight: 600;
}

.statuslist li a {
	color: #f0f1f1;
	display: block;
	background: #b0ccc2;
	padding: 15px 0 15px 13px;
}

.statuslist li:last-child {
	margin-bottom: 0;
}

.statuslist li a:hover,.statuslist li a.active {
	background: none;
	color: #fff;
}

.subjecttopics {
	float: left;
	overflow: hidden;
}

.subjecttopics h2 {
	color: #fefefe;
	margin: 10px 0 10px 50px;
	text-transform: uppercase;
}

.topicsreviews {
	margin: 30px 0 0 50px;
	font-size: 14px;
	color: #fefefe;
	line-height: 35px;
}

.topicsreviews li img {
	margin-right: 20px;
	vertical-align: middle;
}
/******************************************************ALGEBRA NOTES STYLES***************************************************/
.notes_bg {
	background: #efefee;
	width: 95%;
	margin: 20px 20px 0 20px;
}

.types_fractions {
	background: #e5e2d9;
	padding: 6px 6px;
	width: 168px;
	margin-bottom: 20px;
}

.definations {
	color: #252424;
	margin-bottom: 20px;
	font-size: 14px;
}

.definations2 {
	color: #252424;
	margin-bottom: 10px;
	font-size: 12px;
}

.innerpadnotes {
	padding: 30px;
}

.explanation {
	margin-top: 20px;
}

.reltions {
	margin-left: 20px;
}

.types_fractions_imp {
	background: #e5e2d9;
	padding: 6px 6px;
	width: 178px;
	margin-bottom: 20px;
}

.farmulas {
	margin-bottom: 10px;
	font-size: 13px;
}

/***********************************************************************************************************************
													POPUP WINDOW
************************************************************************************************************************/
.lightbox_bg {
	background: url(../images/bg/lightboxbg.png) repeat;
	z-index: 100000;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	display: none;
}

.lightbox {
	background: #fff;
	border: #333 10px solid;
	position: fixed;
	top: -2000px;
	z-index: 100001;
	width: 90%;
	height: 80%;
}

.lightbox_close {
	background: url(../images/x.png) no-repeat;
	width: 30px;
	height: 30px;
	display: block;
	text-indent: -99999px;
	position: absolute;
	top: -18px;
	right: -24px;
}

.setlightboxheight {
	height: 100%;
}

.lightboxwrapper {
	float: left;
	width: 100%;
}

.lightboxcontanerright {
	margin-right: 200px;
}

.lightboxcontanerleft {
	margin-left: 200px;
}

.lightboxleft {
	float: left;
	width: 200px;
	margin-left: -100%;
	background: #C8FC98;
}

.lightboxright {
	float: right;
	width: 200px;
	margin-left: -100%;
	background: #BFBFBF;
	height: 100%;
}

.lbrpadding {
	padding: 10px;
}

.lbcheightfix {
	overflow: auto;
	position: relative;
}

/*************************** Popup Titlebar Section ************************/
.lightboxtitlebar {
	background: #f6f5f5;
	height: 40px;
	border-bottom: 3px solid #e6e6e6;
	width: 730px;
	float: left;
}

.lightboxtitlebarleft {
	width: 400px;
	float: left;
	margin: 5px 0 0 20px;
}

.lightboxtitlebarleft a {
	color: #737373;
	font-size: 14px;
}

.hard {
	color: #737373;
	font-size: 13px;
}

/*********************** popup title left side bar *********************/
.lightboxtitlebarleft {
	float: left;
}

.topbarbg {
	background: #f6f5f5;
	border-bottom: 3px solid #e6e6e6;
	height: 43px;
}

.topbgleft {
	float: left;
	margin: 7px 0 0 30px;
}

.topbgleft p,.topbgright p {
	color: #737373;
	font-size: 13px;
}

.topbgleft  h2 {
	margin: 2px 0 0 0;
}

.topbgleft p span {
	color: #339bd7;
}

.topbgleft  h3 {
	margin: 5px 0 5px 15px;
	font-size: 17px;
	font-weight: 600;
}

.topbgleft  h4 {
	margin: 0 0 0 15px;
	font-size: 13px;
}

.topbgright {
	float: right;
	margin: 7px 30px 0 0px;
}

.topbgright h5 {
	font-size: 14px;
	font-weight: 600;
	color: #404040;
}
/*************************************popup center part for model papers***************************/
.centerboxlb {
	margin: 10px 0 0 0;
}

.centerboxlbmp {
	text-align: center;
	margin: 10px auto;
}

.options {
	margin: 40px 0 0 0;
}

/*********************** popup title right side bar *********************/
.lightboxtitlebarright {
	float: right;
	margin: 5px 50px 0 0;
}

.lightboxtitlebarright a {
	color: #737373;
	font-size: 15px;
}

.lightboxtitlebarright p {
	color: #737373;
	font-size: 14px;
}

.lightboxtitlebarleft p {
	color: #737373;
	font-size: 14px;
}

/***********************popup right side bar*********************/
.lightboxrightside {
	width: 200px;
	background: #bfbfbf;
	float: right;
}

.finishtest {
	background: #68a093;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border: 3px solid #a7a9a9;
	cursor: pointer;
	color: #47756a;
	font-size: 14px;
	margin: 30px 10px 0 10px;
	text-align: center;
	padding: 13px 5px;
	font-weight: 600;
	display: block;
	text-shadow: none;
}

.canceltest {
	background: #09755b;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border: 3px solid #a7a9a9;
	cursor: pointer;
	color: #fff;
	font-size: 14px;
	margin: 30px 10px 0 10px;
	text-align: center;
	padding: 13px 5px;
	font-weight: 600;
	display: block;
	text-shadow: none;
}

.timecoundown {
	background: url(../images/offerimage.png) no-repeat;
	margin: 50px 0 0 8px;
	height: 178px;
}

.timecoundown .remainingtime {
	font-size: 12px;
	color: #262626;
	padding-top: 60px;
}

.timecoundown p {
	font-size: 15px;
	color: #262626;
	text-align: center;
}

.mins {
	font-weight: 600;
}

/***********************popup maincontent *********************/
.lightbox_maincontent {
	width: 727px;
	overflow: hidden;
	position: relative;
}

.paginingdiv {
	float: left;
	margin-right: 70px;
}

.paginingdiv li {
	margin: 8px 0 0 0;
	background: #d6d6d6;
	width: 40px;
}

.paginingdiv li a {
	padding: 5px;
	display: block;
	color: #838383;
}

.paginingdiv li a.completed,.paginingdiv li a:hover {
	background: #118569;
	color: #fff;
}

.paginingdiv li a.active {
	background: #7f7f7f;
	color: #fff;
}

.questionsdiv {
	float: left;
	height: 360px;
	position: absolute;
	left: 125px;
	top: 70px;
}

.questionsdiv p {
	color: #040000;
	font-size: 20px;
	margin-bottom: 30px;
}

.questionsdiv input {
	line-height: 30px;
	margin-left: 30px;
	color: #171717;
	font-size: 20px;
}

/****************************popup for overviewprevious pages*************************************/
.Print {
	padding: 13px 0px;
	display: block;
	background: #178acd;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border: 3px solid #a8b0b4;
	cursor: pointer;
	color: #fefcfc;
	font-size: 14px;
	margin: 30px 10px 0 10px;
	text-align: center;
	font-weight: 600;
}

.Print img,.downloadpdf img {
	vertical-align: middle;
	padding-right: 10px;
}

.downloadpdf {
	padding: 13px 0px;
	display: block;
	background: #09755b;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border: 3px solid #a8b0b4;
	cursor: pointer;
	color: #fefcfc;
	font-size: 14px;
	margin: 30px 10px 0 10px;
	text-align: center;
	font-weight: 600;
}

.printdownload {
	background: url(../images/offerimage.png) no-repeat;
	margin: 50px 0 0 8px;
	height: 178px;
}

.printdownload p {
	text-align: center;
	padding-top: 45px;
	font-size: 13px;
}

/*****************input radio styles*********************/
label {
	font-size: 130%;
	display: block;
	margin-bottom: 3px;
	clear: both;
}

.button_section {
	clear: both;
	position: absolute;
	bottom: 10px;
	left: 125px;
	width: 500px;
}

.back {
	float: left;
}

.button_section .next {
	float: right;
}

/**********************************Points Styles********************************************/
.contentdiv {
	margin: 20px auto;
	width: 88%;
}

.points_table {
	width: 100%;
}

.contentdiv li {
	background: #ace1d6;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 0 10px 0;
	padding: 20px 10px 20px 10px;
}

.left {
	width: 135px;
	padding-left: 10px;
	font-size: 14px;
	font-weight: 600;
	font-family: 'lucida_sansregular';
}

.center {
	padding: 0 20px 0 20px;
}

.right {
	padding: 0 20px 0 10px;
	font-size: 14px;
}

/********************************** Search Results ********************************************/
.topsearchresults {
	color: #fff;
	padding: 0 10px;
	font-size: 14px;
}

.topsearchresults li {
	border-bottom: 1px solid #4875a2;
	border-top: 1px solid #769dc4;
	padding: 10px 0;
}

.topsearchresults li:first-child {
	border-top: none;
}

.topsearchresults li:last-child {
	border-bottom: none;
}

.searchresults {
	padding: 20px;
}

.searchresults h2 {
	color: #555556;
	padding-bottom: 10px;
}

.searchresults input {
	background: #fff;
	border: 1px solid #000;
	color: #000;
	width: 90%;
	height: 45px;
	padding: 0 17px;
	border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-right: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
}

.results {
	margin: 20px 0;
	border-bottom: 1px solid #888888;
	padding-bottom: 10px;
}

.results h3 {
	color: #070707;
	margin: 0;
	font-weight: 600;
}

.results h4 {
	color: #434343;
	padding: 8px 0 10px 0;
	font-weight: 600;
}

.results p {
	color: #2587f5;
	line-height: 20px;
	font-size: 14px;
	font-weight: 600;
}

.results p a {
	color: #2587f5;
}

.results p span {
	color: #434343;
}

/***********************************************************************************************************************
             THEME SECTION
************************************************************************************************************************/
/* Student */
.rSubTitle {
	height: 60px;
	color: #FFF;
	font-size: 150%;
	line-height: 60px;
	background: url(../images/bg/rightbg.gif) repeat-x;
	padding: 0px 15px;
	font-family: 'museo_slab_500regular';
}

.rightmenusection {
	background: #dc6d6e;
	padding: 15px 10px;
	font-family: 'museo_slab_500regular';
	font-size: 110%;
	overflow: auto;
	height: 250px;
}

.rSubTitle_new {
	background: url(../images/bg/rightbg.gif) repeat-x;
	line-height: 62px;
	font-size: 150%;
	height: 62px;
	color: #FFF;
	padding: 0px 15px;
}

.subjectstatusbg {
	background: url(../images/bg/rulerbg.png) repeat;
}
/* Social */
.rSubTitle.socialtitle {
	background: url(../images/bg/topsocial.gif) repeat-x;
}

.rightmenusection.socialrbg {
	background: #8bc5bf;
}

/* Shop */
.rSubTitle.shoptitle {
	background: url(../images/bg/topshop.gif) repeat-x;
}

.rightmenusection.shoprbg {
	background: #75ADC1;
}

/* Test Report */
.testreporbg {
	
}

.testreporttitle {
	background: url(../images/bg/topreports.gif) repeat-x;
}

.testreportrbg {
	background: #9a9b95;
}
/* Calendar */
.tastcontent {
	padding: 20px;
}

.calendarpagebg {
	background: url(../images/bg/calendarbg.png) repeat;
}

.rSubTitle.calendartitle {
	background: url(../images/bg/topCalendar.gif) repeat-x;
}

.rightmenusection.calendarrbg {
	background: #e0d287;
}

/* My Profile */
.profilebackbg {
	background: url(../images/bg/profilebg.png) repeat;
}

.rSubTitle.profiletitle {
	background: url(../images/bg/topprofile.gif) repeat-x;
}

.rightmenusection.profilerbg {
	background: #4d3739;
}

/* teacher profile*/
.rSubTitle.profileteachertitle {
	background: url(../images/bg/topprofileteacher.gif) repeat-x;
}

.rightmenusection.teacherprofilerbg {
	background: #88a4ad;
}

/* Search Results */
.searchbackbg {
	background: url(../images/bg/searchbg.gif) repeat;
}

.rSubTitle.searchtitle {
	background: url(../images/bg/topsearch.gif) repeat-x;
}

.rightmenusection.searchbg {
	background: #628fbc;
}

/***********************************************************************************************************************
													Shop PAGE
************************************************************************************************************************/
.shopbodybg {
	background: #fdfdfd;
}

.shopmenu li {
	margin-top: 8px;
	position: relative;
	border: #FFF 1px solid;
}

.shopmenu li a {
	padding: 6px;
	display: block;
	color: #FFF;
	text-transform: uppercase;
}

.shopmenu li a span {
	float: right;
	width: 24px;
}

.shopmenu li a:hover {
	background: #538C9F
}

.searchandcarteddetails {
	padding: 20px;
}

.shopsearch {
	width: 500px;
	float: left
}

.shopsearchinput {
	background: url(../images/searchboxbg.png) no-repeat;
	height: 32px;
	border: none;
	padding-left: 30px;
	float: left;
}

.shopsearchtab {
	background: url(../images/searchtabbg.png) no-repeat;
	width: 60px;
	height: 32px;
	color: #FFF;
	font-size: 90%;
	float: left;
	line-height: 32px;
	display: block;
	padding-left: 20px;
}

.careddetails {
	float: right
}

.careddetails li {
	float: left;
}

.shopreward,.shoprenoofcart {
	float: left;
	display: block;
	color: #000;
	font-size: 80%;
	border: #CCC 1px solid;
	padding: 6px 8px;
	padding-left: 34px;
}

.shopreward span,.shoprenoofcart span {
	color: #F00
}

.shopreward:hover,.shoprenoofcart:hover {
	background-color: #75adc1;
	color: #FFF;
}

.shopresult {
	padding: 0px 20px;
}

.shopreward {
	background: #fcfafa url(../images/rewardsicon.png) no-repeat 6px 2px;
	margin-right: 10px;
}

.shoprenoofcart {
	background: #fcfafa url(../images/shopcartnoicon.png) no-repeat 6px 2px;
}

.shopresultlist li {
	float: left;
	width: 160px;
	margin: 10px;
	position: relative;
	padding: 10px;
	border: #FFF 1px solid;
}

.shopresultlist li img {
	border: #666 1px solid;
}

.shopcarttab {
	display: none;
}

.shopresultlist li:hover {
	-moz-box-shadow: 0px 5px 5px #a5a3a3;
	-webkit-box-shadow: 0px 5px 5px #a5a3a3;
	box-shadow: 0px 5px 5px #a5a3a3;
	border: #ccc 1px solid;
}

.shopresultlist li:hover .shopcarttab {
	position: absolute;
	right: 8px;
	top: 187px;
	z-index: 99;
	display: block;
}

.shoped {
	position: absolute;
	right: 8px;
	top: 187px;
	z-index: 99;
}

.shopback {
	color: #000;
}

.bookname,.bookname a {
	font-size: 90%;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #000;
}

.bookaut {
	font-size: 70%;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.bookprice {
	font-size: 80%;
	color: #F00;
}

/* Cart Page */
.shopitemtable td {
	vertical-align: top
}

.shopingitemthumb {
	width: 200px;
}

.shopingitemdetails {
	
}

.shopingitemname {
	font-size: 150%;
	color: #e55a5a
}

.shopingitemby {
	font-size: 90%;
}

.shopingitemprice {
	font-size: 120%;
	color: #000;
	margin-top: 10px;
}

.shopingdelinfo {
	font-size: 80%;
}

.shopingdelinfo strong {
	font-weight: bold;
	color: #000;
}

.shopingdelmore a {
	font-size: 80%;
	color: #666;
	text-decoration: underline;
}

.addcartbuynow {
	margin-top: 20px;
}

.addtocart,.buyitnow {
	color: #FFF;
	float: left;
	padding: 8px 15px 8px 45px;
	display: block;
	border: #dbdddd 3px solid;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.addtocart {
	background: url(../images/addtocarttab.gif) no-repeat;
	margin-right: 20px;
}

.buyitnow {
	background: url(../images/buyitnowtab.gif) no-repeat;
}

.bookdistitle {
	margin-top: 30px;
}

.reldate {
	font-size: 80%;
	color: #999;
	margin-bottom: 6px;
}

.reldate span {
	color: #000
}

.bookdec {
	font-size: 85%;
	margin-right: 20px;
}

.rellist {
	border-bottom: #CCC 1px solid;
	margin-top: 30px;
}

.bookslist li {
	float: left;
	margin: 10px 15px 10px 0;
	width: 100px;
	height: 140px;
}

.bookslist li a img {
	border: 1px solid #dbdddd;
}

/***********************************************************************************************************************
													SOCIAL PAGE
************************************************************************************************************************/
.socialbodybg {
	background: url(../images/bg/socialbg.png) repeat;
	width: 100%;
	overflow: auto;
}

.socialmenu li {
	margin-top: 8px;
	position: relative;
	border: #FFF 1px solid;
}

.socialmenu li a {
	padding: 6px;
	display: block;
	color: #FFF;
	text-transform: uppercase;
}

.socialmenu li a span {
	float: right;
	width: 24px;
}

.socialmenu li a:hover,.socialmenu li a.active {
	background: #77aba6
}

.socialcontent {
	padding: 20px;
}

.socialtharedlist li {
	background: #fbfbfb;
	border: #e5e4e4 1px solid;
	padding: 5px 8px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-bottom: 10px;
	font-size: 90%;
}

.socialtharedlist li.socialexpried {
	background: #f1f0f0;
}

.socialnoficationtable td {
	padding: 10px 0px;
	vertical-align: middle;
}

.socialnoficationtable .td1 {
	width: 80px;
}

.socialnoficationtable .td3 {
	width: 293px;
}

.socialrightbox {
	background: #e4e6e6;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px;
}

.srbox1 {
	width: 40px;
	float: left;
}

.srbox2 {
	width: 170px;
	float: left;
	color: #6e6e6e;
}

.srbox3 {
	width: 45px;
	float: left;
	font-size: 65%;
	border: #c2c3c2 1px solid;
	background: #d6d7d7;
	padding: 5px 8px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: center;
}

.socialnoficationtable .td1 img {
	border: #c7c6c6 1px solid;
}

.socialcatname {
	font-size: 95%;
}

.socialsubname {
	font-size: 70%;
	padding: 5px 0px;
}

.socialteachname {
	font-size: 60%;
}

.socialparentname {
	font-size: 100%;
	color: #000;
}

.tasttype {
	font-size: 80%;
}

.socialtasktime {
	font-size: 60%;
}

.socialexpriedtitle {
	color: #e04646;
}

.socialactivelist li {
	border-bottom: #e5e4e4 1px solid;
	padding-bottom: 10px;
	margin-bottom: 20px;
	font-size: 90%;
}

.socialactivetable td {
	vertical-align: top
}

.socialactivetable .td1 {
	width: 80px;
}

.socialactivetable .td1 img {
	border: #c7c6c6 1px solid;
}

.activeby {
	font-size: 80%;
}

.activedec {
	font-size: 105%;
	padding: 5px 0px;
}

.activetime {
	font-size: 70%;
}

.socialfriendsearchform {
	background: #94a1c1;
	padding: 6px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.addfriendstab {
	color: #FFF;
	display: block;
	font-size: 140%;
	background: url(../images/addfriendicon.png) no-repeat 10px 8px;
	border: #6b7691 1px dashed;
	padding: 6px;
	padding-left: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
}

.addfriendstab.active {
	background: url(../images/addfriendicon2.png) no-repeat 10px 8px;
}

.addfirendssearchlistbox {
	margin-bottom: 20px;
	padding: 10px;
	background: #FFF;
	-moz-box-shadow: 0px 5px 5px #a5a3a3;
	-webkit-box-shadow: 0px 5px 5px #a5a3a3;
	box-shadow: 0px 5px 5px #a5a3a3;
}

.addfirendssearchlistbox input {
	padding: 10px 5px;
	border: #999 1px solid;
	display: block;
	width: 99%;
	border: #e1e0e0 1px solid;
	margin-bottom: 10px;
}

.sfirendlist li {
	width: 300px;
	float: left;
	font-size: 90%;
	padding: 10px;
	border: #edecec 1px solid;
	background: #f4f4f4;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 10px;
}

.sfrientable td {
	vertical-align: top
}

.addingfrnd {
	width: 315px;
	font-size: 90%;
	padding: 10px;
}

.sfrientable .td1 {
	width: 80px;
}

.sfrientable .td1 img {
	border: #c7c6c6 1px solid;
}

.sfrientable .td3 img {
	text-align: center;
	padding: 21px;
}

.sfname {
	font-size: 100%;
	padding-bottom: 10px;
}

.sfclass {
	font-size: 80%;
}

.sfschool {
	font-size: 70%;
}

.sfadd {
	font-size: 70%;
}

.sfrientable .td3 img {
	text-align: center;
	padding: 21px;
}

/********************************************Presentation styles************************************/
.presentationwrap {
	position: relative;
	text-align: center;
}

.presentation_person {
	position: absolute;
	left: 104px;
	top: 218px;
}

.presentation_slidetopic {
	width: 500px;
	margin: 60px 20px 0 20px;
}

.presentation_slidetopic  h3 {
	color: #c84040;
	font-size: 20px;
	text-align: center;
	margin: 30px 0 10px 0
}

.presentation_slidetopic p {
	margin: 30px 0 0 0px;
	width: 600px !important;
	color: #313131;
	line-height: 24px;
}

/***************************************Algebra Styles**************************************/
.whitebg {
	background: #fff;
	height: 570px
}

.conceptdia {
	text-align: center;
}

.whitebg p {
	color: #4b4b4b;
	font-size: 14px;
	padding: 10px 0 0 20px;
}

/*calender popup*/
.calenderscheludediv {
	margin: 72px 0 0 111px;
	width: 88%;
	font-family: 'UniversBold';
}

.scheduledtasks {
	width: 88%;
}

.topbgleft .topleftpara {
	font-size: 16px;
	color: #2c2c2c;
}

.scheduledtasks p {
	font-size: 18px;
	color: #252525;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	margin-bottom: 10px;
}

.scheduledtasks input {
	padding: 10px;
	width: 190px;
	background: #2e2c2c;
	border: 1px solid #b3b2b2;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}

.ui-datepicker-trigger {
	position: absolute;
	margin-left: -36px;
	margin-top: 5px;
}

.calenderschelude {
	position: relative;
}

.scheduledtasks select {
	background: #2e2c2c;
	border: 1px solid #b3b2b2;
	padding: 8px;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	margin-left: 10px;
	width: 80px;
}

.calenderremind {
	margin-top: 45px;
}

.addcartdiv {
	margin: 50px 0 0 50px;
	width: 500px;
}

.addcalender {
	float: left;
	background: #1287ca;
	padding: 15px;
	width: 174px;
	border: 2px solid #dde4e9;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}

.cancelbutton {
	float: left;
	margin-left: 40px;
	background: #0b785e;
	padding: 15px;
	width: 138px;
	border: 2px solid #dde4e9;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
}

.scheduletask {
	font-size: 16px;
	color: #2c2c2c;
	margin-top: 12px;
	padding-left: 20px;
}

.scheduletime {
	font-size: 12px;
	color: #2e2e2e;
	padding-left: 20px;
}

.calpad li {
	margin-bottom: 30px;
}

.calpad li img {
	float: left;
	margin-right: 10px;
}

.rightlist1 {
	font-size: 11px;
	color: #6e6e6e;
	margin-bottom: 2px;
}

.rightlist1:hover {
	color: #fff;
	cursor: pointer;
}

.rightlist1small {
	font-size: 10px;
	color: #868484;
}

.calpad {
	padding-left: 20px;
	margin-top: 30px;
}

/*********************** Reward Points( POP UP )*********************/
.rewardclose {
	background: #077358;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border: 3px solid #a8b0b4;
	cursor: pointer;
	color: #fefcfc;
	font-size: 14px;
	margin: 60px 10px 0 10px;
	text-align: center;
	padding: 13px 0;
	font-weight: 600;
	display: block;
}

.rewardspointspur {
	background: url(../images/offerimage.png) no-repeat;
	margin: 100px 0 0 8px;
	height: 178px;
	font-size: 13px;
	text-align: center;
}

.rewardspointspur p {
	padding: 45px 0 0 0;
	line-height: 20px;
}

.rewardspoints_details {
	width: 95%;
	margin-left: 30px;
	font-size: 13px;
	margin-bottom: 20px;
}

.rewardspoints_details tr td {
	vertical-align: middle;
	line-height: 25px;
}

.rewardspoints_details tr td span {
	color: #339bd7;
}

.rewardspoints_details tr .td2 {
	width: 120px;
	text-align: center;
	color: #626262;
}

.rewardgifts {
	background: url(../images/rewardpoints.png) no-repeat;
	width: 68px;
	height: 68px;
	margin: 0 auto;
}

.rewardgifts h1 {
	color: #fff;
	font-weight: 600;
	font-size: 36px;
	padding-top: 30px;
}

.rewardsmath {
	width: 94%;
	margin-left: 30px;
	font-size: 13px;
	text-align: center
}

.rewardsmath tr td {
	border: 1px solid #eeeded;
	padding: 8px;
	vertical-align: middle;
}

.rewardsmath tr .td1 {
	width: 100px;
}

.rewardsmath tr .td2 {
	text-align: left;
	font-size: 15px;
	padding-left: 25px;
}

.rewardsmath tr .td3 {
	width: 130px;
	font-size: 16px;
	font-weight: 600;
}

.rewardsmath tr .td2 span,.rewardsmath tr .td3 span {
	font-size: 12px;
	font-weight: normal;
}

.rewardsmath tr .td4 {
	width: 100px;
	font-size: 23px;
	font-weight: 600;
}

/***********************popup Buy Now*********************/
.proceedtopay {
	padding: 13px 0px;
	display: block;
	background: #178acd;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border: 3px solid #a8b0b4;
	cursor: pointer;
	color: #fefcfc;
	font-size: 14px;
	margin: 30px 10px 0 10px;
	text-align: center;
	font-weight: 600;
}

.proceedtopay img,.continueshopping img {
	vertical-align: middle;
	padding-right: 5px;
}

.continueshopping {
	padding: 13px 0px;
	display: block;
	background: #09755b;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border: 3px solid #a8b0b4;
	cursor: pointer;
	color: #fefcfc;
	font-size: 14px;
	margin: 30px 10px 0 10px;
	text-align: center;
	font-weight: 600;
}

.rewardspoints {
	background: url(../images/offerimage.png) no-repeat;
	margin: 60px 0 0 8px;
	height: 178px;
	font-size: 12px;
	text-align: center;
}

.rewardspoints p {
	padding: 55px 0 0 0;
	line-height: 20px;
}

.cartworth {
	width: 97%;
	margin-left: 15px;
	font-size: 13px;
	text-align: center
}

.cartworth tr td {
	border: 1px solid #eeeded;
	padding: 8px;
	vertical-align: middle;
}

.cartworth tr .td1,.cartworth tr .td3,.cartworth tr .td4,.cartworth tr .td5
	{
	width: 100px
}

.cartworth tr .td2 {
	text-align: left;
}

.cartworth tr .td2 img {
	float: left;
	margin-right: 10px;
}

.talerabit {
	margin: 10px 0 0 10px;
	color: #e55a5a;
	font-size: 14px;
}

.talerabit span {
	font-size: 12px;
}

.bottomtext {
	background: #f4f4f4;
	height: 38px;
	font-size: 12px;
	position: absolute;
	bottom: 70px;
	margin-left: 15px;
	width: 97%;
	padding-top: 10px;
}

.bottomleft {
	float: left;
	margin-left: 10px;
	font-weight: 600;
}

.bottomright {
	float: right;
	margin-right: 10px;
}

.bottomright span {
	color: #000;
	font-size: 15px;
	font-weight: 600;
}

/****************************popup for Algebra Equations*************************************/
.toptext {
	background: #f6f5f5;
	overflow: hidden;
}

.toptextleft {
	float: left;
	margin: 15px 0 0 30px;
	color: #404040;
}

.toptextleft  h1 {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 3px;
}

.toptextleft p {
	font-size: 15px;
	margin-bottom: 5px;
}

.toptextright {
	float: right;
	margin: 15px 30px 0 0;
}

.toptextright p {
	font-weight: 600;
	font-size: 18px;
}

.toptextright span {
	font-size: 14px;
}

.graph {
	clear: both;
	border-top: 4px solid #e6e6e6
}

.graph h2 {
	font-size: 20px;
	font-weight: 600;
	margin: 0 0 0 30px;
	padding-top: 20px;
}

.centerboxlb h2 {
	font-size: 20px;
	font-weight: 600;
	margin: 10px 0 10px 30px;
}

.centerboxlb p {
	font-size: 13px;
	margin: 0 30px 10px 30px;
	color: #737373;
	text-align: justify;
}

.centerboxlb h3 {
	font-size: 18px;
	font-weight: 600;
	margin: 20px 0 10px 30px;
	color: #737373;
	border-bottom: 1px solid #737373;
	padding-bottom: 8px;
}

.centerboxlb h4 {
	font-size: 15px;
	margin: 0 0 10px 30px;
	color: #737373;
	font-weight: 600;
}

.questionanswer {
	font-size: 15px;
	color: #040000;
	margin-left: 100px;
}

.questionanswer li {
	line-height: 25px;
	margin: 20px 0;
}

.printtest {
	padding: 13px 0;
	display: block;
	background: #178bce;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border: 3px solid #a8b0b4;
	cursor: pointer;
	color: #fefcfc;
	font-size: 14px;
	margin: 30px 10px 0 10px;
	font-weight: 600;
}

.printtest img,.retaketest img {
	vertical-align: middle;
	margin: 0 20px;
}

.retaketest {
	padding: 13px 0;
	display: block;
	background: #178bce;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border: 3px solid #a8b0b4;
	cursor: pointer;
	color: #fefcfc;
	font-size: 14px;
	margin: 15px 10px 0 10px;
	font-weight: 600;
	text-align: center;
}

.cancel {
	padding: 19px 0;
	display: block;
	background: #08745a;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border: 3px solid #a8b0b4;
	cursor: pointer;
	color: #fefcfc;
	font-size: 14px;
	margin: 15px 10px 0 10px;
	text-align: center;
	font-weight: 600;
}

.skills {
	background: url(../images/offerimage.png) no-repeat;
	margin: 60px 0 0 9px;
	height: 178px;
	font-size: 12px;
	text-align: center;
}

.skills p {
	padding: 48px 0 0 0;
	line-height: 20px;
}

/* Shop payment */
.shopingpayment {
	padding: 10px 20px;
}

.shopsummaryright h3 {
	border-bottom: #666 1px solid;
	padding-bottom: 5px;
}

.shopingpaymenttable td {
	vertical-align: top
}

.shopsummaryright {
	width: 230px
}

.shopsummarytable td {
	font-size: 80%
}

.sumfor {
	
}

.sumitemanem {
	font-size: 90%;
}

.sumby {
	font-size: 90%;
}

.shopsummarytable td.td3 {
	font-size: 80%;
}

.shopsummarylist { /*height:370px;*/
	overflow: auto;
}

.shopsummarylist li {
	padding: 10px 0px;
	border-bottom: #666 1px solid;
}

.shopsummarylist li:last-child {
	border: none;
}

.payprocesssection {
	padding-right: 50px;
}

.payprocesssteps {
	background: url(../images/bg/paypreocessbg.gif) repeat-x left 10px;
}

.payprosteplist li {
	float: left;
	width: 25%;
	text-align: center;
}

.stepno {
	width: 32px;
	height: 32px;
	display: block;
	background: url(../images/bg/paystepsbg.png) no-repeat left -32px;
	text-align: center;
	line-height: 32px;
	margin: auto;
}

.payprosteplist li.active {
	color: #ea7aa4;
}

.payprosteplist li.active .stepno {
	background: url(../images/bg/paystepsbg.png) no-repeat left top;
	color: #FFF;
}

.totallist {
	font-size: 13px;
	width: 100%;
}

.totallist tr .td2 {
	text-align: right;
	width: 80px;
}

.totalamount {
	width: 375px;
	margin: 0 0 0 30px;
	border-top: 1px solid #dbdbdb;
	font-size: 15px;
}

.totalamount tr .td1 {
	padding: 10px;
}

.totalamount tr .td2 {
	text-align: right;
	width: 80px;
	line-height: 25px;
}

.discountcoupon {
	width: 280px;
	margin: 10px 30px;
	font-size: 20px;
	margin-bottom: 30px;
}

.discountcoupon tr td {
	vertical-align: middle;
}

.discountcoupon tr td input {
	background: #f2f1ee;
	border: 1px solid #d9d8d6;
	padding: 10px;
	width: 80px;
}

.redeem {
	background: #e2eedc;
	border: 1px solid #e2e2e2;
	color: #828f7c;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	width: 375px;
	height: 90px;
	margin: 20px 30px;;
}

.redeem h3 {
	color: #828f7c;
	font-size: 16px;
	padding: 10px 0 0 10px;
	font-weight: 600;
}

.redeem select {
	border: 1px solid #d2d0d0;
	background: #efefef;
	width: 355px;
	margin: 10px;
	padding: 10px;
	font-size: 15px;
	color: #545252;
}

.shippingform {
	width: 620px;
	margin: 20px 30px;
	font-size: 13px;
}

.shippingtable {
	width: 375px;
	font-size: 14px;
	margin: 0 0px;
}

.shippingtable tr td {
	padding: 5px 0;
}

.shippingtable tr .td1 {
	width: 150px;
	font-weight: 600;
}

.shippingtable tr td input,.shippingtable tr td textarea,.shippingtable tr td select
	{
	width: 200px;
	background: #efefef;
	border: 1px solid #e1e1e1;
	color: #d4d4d4;
	padding: 7px;
}

.tdcountry {
	font-weight: 600;
	font-size: 15px;
}

.tdcountry span {
	font-weight: normal;
	font-size: 13px;
}

.selectstate {
	width: 215px !important;
}

.mobilenum {
	width: 180px !important;
}

.confirm {
	margin: 30px 0 0 0;
}

.shoptabs {
	margin: 0px 0 0 30px;
	width: 266px;
	margin-top: 50px;
}

.shippingshopping,.shippingconfirm {
	text-align: center;
	cursor: pointer;
	padding: 9px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 2px solid #dddfdf;
	color: #fff;
}

.shippingshopping {
	background: url(../images/bg/poptabbg.gif) no-repeat left -76px;
}

.shippingconfirm {
	background: url(../images/bg/poptabbg.gif) no-repeat left -38px;
}

.paytypetabssection {
	width: 130px;
	float: left;
}

.paytypetabs {
	background: #dedede;
	border: 1px solid #c4c3c3;
	border-bottom: none;
}

.paytypetabs a {
	border-bottom: 1px solid #c4c3c3;
	font-size: 110%;
	color: #434242;
	display: block;
	padding: 15px 10px;
	text-align: center;
}

.paytypetabs a.active {
	color: #74b2ec;
}

.paytypeinfosection {
	float: left;
	width: 470px;
	margin-left: 20px;
}

.paytypeinfosection td {
	vertical-align: top;
	padding-bottom: 10px;
}

.paytypeinfosection .td1 {
	width: 100px;
}

.paycardtype img {
	border: #CCC 1px solid;
	margin: 0px 2px;
}

.cardnoinput {
	width: 50px;
	border: #CCC 1px solid;
	margin: 0px 2px;
	padding: 6px 2px;
}

.cardname {
	width: 230px;
	border: #CCC 1px solid;
	padding: 6px 2px;
}

.cvvno {
	width: 100px;
	border: #CCC 1px solid;
	padding: 6px 2px;
}

/***********************************************************************************************************************
													MY PROFILE SECTION
************************************************************************************************************************/
.currentlevel {
	margin: 0 10px;
}

.sliverbadge {
	background: #5e4446;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	padding: 20px 0;
	margin: 10px 0;
	text-align: center;
}

.currentlevel h1 {
	font-weight: 600;
	color: #fff;
	margin: 10px 0 30px 0;
}

.slivertable {
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 13px;
}

.slivertable tr td {
	padding: 5px 0;
}

.slivertable tr .td2 {
	vertical-align: middle;
	font-weight: 600;
}

.slivertable tr .td1 {
	font-size: 34px;
	font-weight: 600;
}

.tablenumber {
	font-size: 25px;
	border: 1px solid #9c9b9b;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font-weight: 600;
	padding: 2px 8px;
	margin-right: 15px;
}

.profilebg {
	margin: 25px 15px 0 15px;
	width: 125%;
	float: left;
}

.personprofile {
	margin-right: 310px;
}

.photoedit {
	background: #d2d2cb;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	position: relative;
	overflow: hidden;
}

.edit {
	position: absolute;
	top: 8px;
	right: 8px;
	background: #d2d2cb;
	border: 1px solid #a6a7a2;
	color: #696767;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font-weight: 600;
	padding: 2px 10px;
	text-align: center;
	cursor: pointer;
}

.photoedit img {
	float: left;
	margin: 25px 20px 20px 25px;
}

.persondetails {
	padding-top: 40px;
	float: left;
	font-size: 13px;
	color: #535252;
	font-weight: 600;
}

.persondetails h1 {
	font-size: 25px;
	font-weight: 600;
	color: #434343;
}

.persondetails p {
	font-size: 15px;
	margin-bottom: 15px;
	font-weight: 600;
}

.personprofile h3 {
	color: #67c6ee;
	border-bottom: 1px solid #d6d5d5;
	padding-bottom: 10px;
	margin: 30px 0 20px 0;
	font-weight: 600;
}

.pakagestatusdiv {
	width: 100%;
}

.monitoredpersons {
	margin: 20px 10px 10px 10px;
}

.monitoredpersons li {
	width: 306px;
}

.monitorpersonsdetails {
	margin: 0 0 0 -10px;
}

.monitoredpersons tr td {
	width: 50%;
}

.singleperson {
	background: #dfdfdf;
	overflow: hidden;
	margin: 0 10px 20px 0;
}

.singlepersonrgt {
	background: #dfdfdf;
	overflow: hidden;
	margin: 0 0 20px 10px;
}

.singleperson img,.singlepersonrgt img {
	float: left;
	margin: 10px;
	border: 1px solid #c7c6c6;
}

.singleperson h4,.singlepersonrgt h4 {
	font-size: 14px;
	font-weight: 600;
	color: #000;
	margin-top: 17px;
}

.singleperson span,.singlepersonrgt span {
	font-size: 13px;
	color: #131313;
}

.packagesstatus {
	width: 305px;
	float: left;
	margin-left: -305px;
	margin-top: 25px;
}

.packagesstatus h3 {
	font-size: 18px;
	font-weight: 600;
	color: #4d4b4b;
	border-bottom: 1px solid #d2d2d2;
	padding-bottom: 10px;
}

.packages {
	background: #dcdcdc;
	margin: 15px 15px 0;
	overflow: hidden;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	height: 118px;
}

.packagecost {
	float: left;
	background: #b0afaf;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	text-align: center;
	border: 1px solid #a0a0a0;
	margin: 10px;
}

.packageadd {
	float: left;
	background: #b0afaf;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	text-align: center;
	border: 1px solid #a0a0a0;
	margin: 10px;
	height: 97px;
}

.packagenumber {
	font-size: 60px;
	font-weight: 600;
	color: #e1e2e2;
	padding: 0 18px;
}

.packagecost span {
	background: #979595;
	color: #f9f8f8;
	padding: 5px 0;
	font-size: 13px;
	display: block;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	font-weight: 600;
}

.packageplus {
	font-size: 60px;
	font-weight: 600;
	color: #989797;
	padding: 0 18px;
	margin-top: 12px;
}

.packagecostdetails {
	float: left;
	margin: 25px 5px 0 0;
}

.packagecostdetails h4 {
	font-size: 17px;
	font-weight: 600;
	color: #545454;
}

.packagecostdetails h5 {
	font-size: 14px;
	font-weight: 600;
	color: #545454;
}

.packagecostdetails p {
	color: #8a8a8a;
	font-size: 12px;
	line-height: 18px;
	font-weight: 600;
}

.packagecostdetails p a {
	color: #59c0f0;
}

.personalinformation {
	width: 100%;
}

.personalinformation td {
	padding-bottom: 10px;
	font-size: 14px;
	color: #2c2c2c;
}

.pesonalinfo {
	clear: both;
	margin: 0px 50px 0 32px;
	float: left;
}

.schoolinfo {
	clear: both;
	margin: 0px 50px 0 32px;
	float: left
}

.pesonalinfo .studentpersonalinfo {
	color: #2c2c2c;
	font-size: 14px;
	font-weight: 600;
	border-bottom: 1px solid #acada6;
	width: 400px;
}

.schoolinfo .studentschoolinfo {
	color: #2c2c2c;
	font-size: 14px;
	font-weight: 600;
	border-bottom: 1px solid #acada6;
	width: 400px;
}

/*************************teacher profile page *************************/
.joineddate {
	background: #9fbac3;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	padding: 20px 0;
	margin: 10px 0;
	text-align: center;
}

/***********************************************************************************************************************
													Calendar page
************************************************************************************************************************/
.addtaskform {
	background: #bbbbb3;
	padding: 6px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.addtastab {
	color: #FFF;
	display: block;
	font-size: 140%;
	background: url(../images/addfriendicon.png) no-repeat 10px 8px;
	border: #84857e 1px dashed;
	padding: 6px;
	padding-left: 45px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
}

.addtastab.active {
	background: url(../images/addfriendicon2.png) no-repeat 10px 8px;
}

.addtaslistbox {
	margin-bottom: 30px;
	padding: 10px;
	background: #FFF;
	-moz-box-shadow: 0px 5px 5px #a5a3a3;
	-webkit-box-shadow: 0px 5px 5px #a5a3a3;
	box-shadow: 0px 5px 5px #a5a3a3;
}

.addtaslistbox .inputbox {
	background: url(../images/bg/addtaskinputbg.gif) repeat-x left top;
	width: 90%;
	border: #d9d9d9 1px solid;
	padding: 7px 5px;
	font-size: 120%;
	margin-bottom: 20px;
}

.calendercontent {
	margin: 10px 0 0 30px;
}

.taskaddedlist {
	width: 300px;
	float: left;
	margin: 10px;
}

.addedtastdateandtime {
	background: url(../images/calender_clickbutton.png) no-repeat left
		center;
	height: 44px;
	margin: 0;
	width: 52px;
}

.addedtastdate {
	display: block;
}

.addedtastdate {
	color: #020202;
	font-size: 11px;
	text-align: center;
	padding: 6px 0 0 0;
}

.addedtasttime {
	color: #020202;
	font-size: 10px;
	padding-left: 4px;
}

.addedtastname {
	font-size: 100%
}

.addedtastclass {
	font-size: 90%;
}

.addedtastby {
	font-size: 70%
}

.addtasttype {
	text-align: right;
	width: 91%;
}

.addtasttype p {
	background: url(../images/bg/addtasttype.gif) no-repeat;
	width: 219px;
	height: 30px;
	float: right;
}

.addtasttype1,.addtasttype2,.addtasttype3 {
	width: 64px;
	display: block;
	float: left;
	padding-top: 6px;
}

.addtasttype2,.addtasttype3 {
	margin-left: 10px
}

.taskaddedlist li.bluebg {
	background: #44B1BA;
}

.addfrndtask {
	padding-top: 10px;
	margin-left: 10px;
}

.taskaddedlisttable .td2 {
	padding-top: 10px;
	vertical-align: top
}

.taskaddedlisttable1 {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 326px;
	background: #f4f4f4;
	border: #edecec 1px solid;
}

/**** Calendar *****/
/* Reset */
.ui-datepicker,.ui-datepicker table,.ui-datepicker tr,.ui-datepicker td,.ui-datepicker th
	{
	margin: 0;
	padding: 0;
	border: none;
	border-spacing: 0;
}

/* Calendar Wrapper */
.ui-datepicker {
	display: none;
	width: 230px;
	cursor: default;
	text-transform: uppercase;
	font-family: Tahoma;
	font-size: 12px;
	background: url(../images/bg/SmallCalendar.png) no-repeat;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding-bottom: 10px;
}

/* Calendar Header */
.ui-datepicker-header {
	position: relative;
	padding: 10px 0px;
	font-size: 120%;
	color: #FFF;
	border-bottom: 1px solid #d6d6d6;
}

.ui-datepicker-title {
	text-align: center;
}

/* Month */
.ui-datepicker-month {
	position: relative;
	padding-right: 10px;
	color: #fff;
}
/* Year */
.ui-datepicker-year {
	color: #fff;
}

/* Prev Next Month */
.ui-datepicker-prev,.ui-datepicker-next {
	position: absolute;
	top: 10px;
	padding: 5px;
	cursor: pointer;
}

.ui-datepicker-prev {
	left: 50px;
	padding-left: 0;
}

.ui-datepicker-next {
	right: 50px;
	padding-right: 0;
}

.ui-datepicker-prev span,.ui-datepicker-next span {
	display: block;
	width: 5px;
	height: 10px;
	text-indent: -9999px;
	background-image: url(../images/calarrows.png);
}

.ui-datepicker-prev span {
	background-position: 0px 0px;
}

.ui-datepicker-next span {
	background-position: -5px 0px;
}

.ui-datepicker-prev-hover span {
	background-position: 0px -10px;
}

.ui-datepicker-next-hover span {
	background-position: -5px -10px;
}

/* Calendar "Days" */
.ui-datepicker-calendar th {
	padding-top: 15px;
	padding-bottom: 10px;
	text-align: center;
	font-weight: normal;
	color: #a8a8a8;
}

.ui-datepicker-calendar td {
	padding: 0 0px;
	text-align: center;
	line-height: 22px;
}

.ui-datepicker-calendar .ui-state-default {
	display: block;
	width: 22px;
	outline: none;
	text-decoration: none;
	color: #a8a8a8;
	border: 1px solid transparent;
	margin: auto;
}
/* Day Active State*/
.ui-datepicker-calendar .ui-state-active {
	color: #6a9113;
	border-color: #6a9113;
}

/* Other Months Days*/
.ui-datepicker-other-month .ui-state-default {
	color: #565656;
}

/***********************************************************************************************************************
													Report SECTION
************************************************************************************************************************/
.testreportmenu li {
	margin-top: 8px;
	position: relative;
	border: #FFF 1px solid;
}

.testreportmenu li a {
	padding: 8px;
	display: block;
	color: #FFF;
	text-transform: capitalize;
}

.testreportmenu li a span {
	float: right;
	width: 24px;
}

.testreportmenu li a:hover,.testreportmenu li a.active,.socialmenu li a.active,.shopmenu li a.active
	{
	background: #bbbbb3;
}

.pagetitleandsocial h2 {
	margin: 20px 30px;
	color: #555556;
}

#testcontent {
	padding: 0 1%;
}

.testLearingstyle,.testScienceSkills,.testMathSkills,.testEnglishSkills
	{
	width: 490px;
	float: left;
}

.m20 {
	margin: 10px 20px 20px 15px;
	background: #f0efef url(../images/bg/reportboxbg.gif) repeat;
	border: 2px solid #ebebeb;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.drcontentwrapper {
	float: left;
	width: 100%;
	color: #4f4f4f;
}

.drcontentwrapper h2 {
	margin: 5px 0 0 20px;
	font-weight: 600;
	float: left;
}

.drcontentwrapper p {
	font-size: 13px;
	margin: 10px 0 0 10px;
	float: left;
}

.chartbox {
	text-align: center;
	padding-bottom: 10px;
}

.chartbox img {
	margin: 15px 0;
}

.viewreports {
	background: url(../images/viewreports.png) no-repeat top center;
	font-size: 12px;
	font-weight: 600;
}

.viewreports a {
	padding: 8px;
	display: block;
	color: #181717;
}

/*********************** Cumulative Report *******************************/
.cumulativecontent {
	background: #d9d9d9;
	display: block;
	margin: 0 20px;
	padding-bottom: 50px;
	padding-left: 30px;
}

.cumulativecontent h3 {
	padding: 50px 0 6px 0;
	font-weight: 600;
	color: #565452;
}

/*********************** My Learning Styles( POP UP )*********************/
.fullreportprint {
	padding: 13px 0;
	display: block;
	background: #178bce;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border: 3px solid #a8b0b4;
	cursor: pointer;
	color: #fefcfc;
	font-size: 14px;
	margin: 30px 10px 0 10px;
	font-weight: 600;
}

.fullreportprint img {
	vertical-align: middle;
	margin: 0 20px;
}

.fullreportclose {
	padding: 19px 0;
	display: block;
	background: #077358;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border: 3px solid #a8b0b4;
	cursor: pointer;
	color: #fefcfc;
	font-size: 14px;
	margin: 15px 10px 0 10px;
	font-weight: 600;
	text-align: center;
}

.fullgraph {
	margin-left: 40px;
}

.mylearningtable {
	margin: 30px 0 30px 40px;
	color: #6a524e;
	text-align: center;
	width: 60%;
	font-size: 13px;
	border-top: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
}

.mylearningtable tr td {
	border-bottom: 1px solid #d8d8d8;
	padding: 7px 0;
	border-left: 1px solid #d8d8d8;
}

.mylearningtable tr .td1 {
	width: 100px;
}

.mylearningtable tr .td3 {
	width: 200px;
}

.downcontent {
	margin: 20px 20px;
}

.downcontent h4 {
	color: #404040;
	font-weight: 600;
}

.downcontent p {
	font-size: 13px;
	color: #737373;
	margin-top: 10px;
}

/*********************** Start Test Now( POP UP )*********************/
.mathsskillscontent {
	width: 245px;
	margin: 26px auto 0 auto;
	overflow: hidden;
}

.mathsskillscontent h3 {
	background: #f4f4f4;
	color: #3c3c3c;
	padding: 10px 15px;
	margin-left: 0;
}

.mathsskillscontent h1 {
	text-transform: uppercase;
	margin: 20px 0 5px 26px;
	font-weight: 600;
	color: #404040;
	font-size: 24px;
}

.mathsskillscontent h2 {
	font-size: 20px;
	margin-bottom: 10px;
	color: #404040;
	text-align: left;
}

.mathsskillscontent p {
	font-size: 14px;
	margin-bottom: 25px;
	color: #6f6f6f;
}

.starttest {
	border: 2px solid #dddfdf;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background: url(../images/bg/poptabbg.gif) no-repeat top center;
	text-align: center;
	cursor: pointer;
	padding: 10px 15px;
	color: #fff;
	font-weight: 600;
}
/******************************************************ALGEBRA NOTES STYLES***************************************************/
.notes_bg {
	background: #efefee;
	width: 95%;
	margin: 20px 20px 0 20px;
}

.types_fractions {
	background: #e5e2d9;
	padding: 6px 6px;
	width: 168px;
	margin-bottom: 20px;
}

.definations {
	color: #252424;
	margin-bottom: 20px;
	font-size: 14px;
}

.definations2 {
	color: #252424;
	margin-bottom: 10px;
	font-size: 12px;
}

.innerpadnotes {
	padding: 30px;
}

.explanation {
	margin-top: 20px;
}

.reltions {
	margin-left: 20px;
}

.types_fractions_imp {
	background: #e5e2d9;
	padding: 6px 6px;
	width: 178px;
	margin-bottom: 20px;
}

.farmulas {
	margin-bottom: 10px;
	font-size: 13px;
}

/****************************** parent test create pop up styles**********************************/
.test_setting_due {
	margin: 20px 0 0 0;
}

.test_setting_due p {
	color: #b2ab8f;
	font-size: 18px;
	margin: 20px 0 20px 0;
	font-family: 'lucida_sansdemibold_roman';
}

.testschedule {
	margin: 20px 0 0 30px;
}

.testdetails {
	background: #dfdfdf;
	height: 50px;
	width: 91%
}

.testdetails {
	padding: 30px;
}

.testduration {
	font-size: 16px;
	color: #252525;
	margin-bottom: 10px;
	font-family: 'lucida_sansdemibold_roman';
}

.testdetail1,.testdetail2,.testdetail3 {
	float: left;
	width: 200px;
}

.testdetail1 select,.testdetail2 select,.testdetail3 select {
	background: #262626;
	padding: 8px;
	border: 1px solid #b3b2b2;
	color: #fff;
	font-size: 17px;
	font-family: 'lucida_sansdemibold_roman';
}

.lightboxrightside {
	width: 200px;
	background: #bfbfbf;
	float: right;
}

.topicselection {
	margin: 10px 0 0 0px;
	width: 95%
}

.select_topic {
	font-size: 18px;
	color: #b2ab8f;
	font-family: 'lucida_sansdemibold_roman';
	margin: 10px 0 10px 0;
}

.subtopics li {
	display: block;
	margin-bottom: 20px;
	background: #e3e3e3;
	padding: 10px;
	width: 100%;
	cursor: pointer
}

.subtopics li a {
	color: #686868;
	font-size: 20px;
}

.subtopics li.active {
	background: #84dbc4;
	color: #4d4d4d;
}

.rgtbtns {
	margin: 40px 0 0 0;
}

.create {
	margin: 0 0 10px 12px;
}

.testsetreject {
	margin: 10px 0 0 13px;
}

/********************************Student Assign PopUp**************************/
.studentassigning {
	margin: 20px 0 0 20px;
	float: left
}

.studentassigning li {
	background: #d9d9d9;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	height: 118px;
	width: 267px;
	margin-bottom: 20px;
}

.studentassigning li.active,.studentassigning li:hover {
	background: #abe7d8;;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	height: 118px;
	width: 267px;
}

.profileimg {
	float: left;
	margin: 20px 0px 0 20px;
}

.studentadd {
	margin: 20px 20px 0 0;
	float: right;
}

.studentname {
	font-size: 22px;
	color: #4c4c4c;
	font-family: 'lucida_sansdemibold_roman';
	margin-bottom: 6px;
}

.studentsection {
	font-size: 12px;
	color: #646464;
}

.seledtall {
	background: url(../images/selectallbg.png) no-repeat center top;
	text-align: center;
	color: #595959;
	font-size: 12px;
	width: 96px;
	height: 27px;
	display: block;
	padding-top: 7px;
	float: left
}

.selected_students {
	margin-top: 10px;
}

.selected_students p {
	color: #595959;
	ont-family: 'lucida_sansdemibold_roman';
}

/**************************************Liferay OOB Start**************************************/
.results-header th {
	background: #DC6D6E;
	border: 1px solid #CCC;
	color: white;
}

.portlet-content {
	background-color: white;
	padding: 10px;
}

input[type="text"] {
	background-repeat: no-repeat;
	border: 1px solid;
	border-color: #ccc;
	font: 1em Arial, Helvetica, Verdana, sans-serif;
	padding: 5px 1px;
	background: white;
	height: 17px;
}

input[type="password"],input[type="file"],select,textarea,.textarea,button,.aui-field-input-text
	{
	background-repeat: no-repeat;
	border: 1px solid;
	border-color: #ccc;
	font: 1em Arial, Helvetica, Verdana, sans-serif;
	padding: 5px 1px;
	background: white;
}

input[type="submit"],input[type="button"],input[type="reset"] {
	background-repeat: no-repeat;
	border: 1px solid;
	border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
	font: 1em Arial, Helvetica, Verdana, sans-serif;
	padding: 5px 8px;
	background: #75ADC1;
	color: white;
}

input[type="submit"]:hover,input[type="button"]:hover,input[type="reset"]:hover,button:hover
	{
	background: #75ADC1;
	color: white;
	font-weight: normal;
}

.aui-tabview-list,.aui-tab-content {
	padding: 0 4px;
	border: 1px solid #C9C9C9;
	background: #75ADC1;
}

.aui-tab-label,.aui-tab-label a {
	color: #FFF;
	font-weight: normal;
	text-decoration: none;
}

.aui-tab-active .aui-tab-content,.aui-tab-active .aui-tab-content:hover
	{
	border-color: #4B4B4B #4D4D4D;
	background: #D76B0D;
	font-weight: normal;
	color: #fff;
}

.lfr-panel.lfr-extended .lfr-panel-titlebar {
	background: #DC6D6E;
	border-bottom: 1px solid #CDCDCD;
	line-height: 1.6;
	padding: 2px;
	color: white;
}

#calendarEventAssetLinksPanel {
	display: none;
}

.portlet-topper {
	background: #DC6D6E;
	border: 1px solid;
	border-color: #C8C9CA #9E9E9E #9E9E9E #C8C9CA;
	font-size: 1.1em;
}

.portlet-title {
	float: none;
	font-weight: normal;
	min-width: 50%;
	padding: 5px;
	color: white;
}

.results-header a {
	color: white;
	text-decoration: none;
}

.taglib-icon-list {
	
}
/***************************************Liferay Styles End**************************************/

/******************* Calendar styles ****************/
.tlw_cal {
	background: white;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 35px;
	margin-right: 35px;
}

/** recent activity styles **/
#wrapper {
	margin: 0 auto;
	width: 980px;
	padding: 0;
}

.clearfix {
	clear: both;
}

.clearfix:before,.clearfix:after {
	content: " ";
	clear: both;
	display: table;
}

.innerLeft {
	float: left;
	width: 706px;
	margin: 0 23px 20px 0;
}

.newoffers {
	color: #fff;
	background: #7E7E7E;
	padding: 7px;
	font-family: 'museo_slab_500regular';
	font-size: 20px;
	font-weight: normal;
}

.rewardpointactivity {
	margin: 20px 0 0 0;
}

.recentactivity li {
	margin-bottom: 10px;
	background: none;
	margin-top: 10px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

.tdleft {
	width: 50px;
}

.qstn {
	font-size: 15px;
	color: #000;
}

.postdate {
	font-size: 10px;
}

/* padding for dashboard, set both to 0 in dashboard.jsp*/
#content {
	margin-left: 10px;
	margin-right: 10px;
}