

/*		Default Layout: 960px. 
		Gutters: 10px.
		Outer margins: 10px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      87    184    281    378    572    528    669    766    863    960    */

@media only screen and (min-width:1026px) {
body { min-width:100%;}
.container_10 {width: 100%;}
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10 {display:inline;float: left;position: relative;}
.container_10 .grid_1 {width:10%;}
.container_10 .grid_2 {width:20%;}
.container_10 .grid_3 {width:30%;}
.container_10 .grid_4 {width:40%;}
.container_10 .grid_5 {width:50%;}
.container_10 .grid_6 {width:60%;}
.container_10 .grid_7 {width:70%;}
.container_10 .grid_8 {width:80%;}
.container_10 .grid_9 {width:90%;}
.container_10 .grid_10 {width:100%;}
}

@media only screen and (min-width:960px) and (max-width:1024px) {
body { min-width: 960px;}
.container_10 {margin-left: auto;margin-right: auto;width: 960px;}
.grid_1,grid_2,grid_3,grid_4,grid_5,grid_6,grid_7,grid_8,grid_9,grid_10 {display:inline;float: left;position: relative;margin-left: 5px;margin-right: 5px;}
.container_10 .grid_1 {width:86px;}
.container_10 .grid_2 {width:182px;}
.container_10 .grid_3 {width:278px;}
.container_10 .grid_4 {width:374px;}
.container_10 .grid_5 {width:470px;}
.container_10 .grid_6 {width:566px;}
.container_10 .grid_7 {width:662px;}
.container_10 .grid_8 {width:758px;}
.container_10 .grid_9 {width:854px;}
.container_10 .grid_10 {width:950px;}
}

@media only screen and (min-width:768px) and (max-width:959px) {
body { min-width: 768px;}
.container_10 {margin-left: auto;margin-right: auto;width: 768px;}
.grid_1,grid_2,grid_3,grid_4,grid_5,grid_6,grid_7,grid_8,grid_9,grid_10 {display:inline;float: left;position: relative;margin-left: 5px;margin-right: 5px;}
.container_10 .grid_1 {width:86px;}
.container_10 .grid_2 {width:182px;}
.container_10 .grid_3 {width:278px;}
.container_10 .grid_4 {width:374px;}
.container_10 .grid_5 {width:470px;}
.container_10 .grid_6 {width:566px;}
.container_10 .grid_7 {width:662px;}
.container_10 .grid_8 {width:758px;}
.container_10 .grid_9 {width:854px;}
.container_10 .grid_10 {width:950px;}
}
.alpha{margin-left: 0;}
.omega {margin-right: 0;}
.grid_1 { background:#03C; min-height:500px;}
.grid_7 { background:#060;min-height:500px;}
.grid_2 {background:#930;min-height:500px;}
/* Containers
----------------------------------------------------------------------------------------------------*/

