/*-------------------------------
	1. Reset Elements
-------------------------------*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, video, object, caption, tbody, tfoot, thead, tr, th, td, hr {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;padding: 0;margin: 0;border: 0; }

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section { display: block;}
html {height: 100%; font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%}
a {outline:none}
a:hover,a:active ,a:focus,a:link,a.active{outline: 0;text-decoration:none;cursor:pointer;}
img { border: 0;max-width: 100%;  }
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal
}

h1 {
	font-size:26px;
	margin: 0px 0 7px 0;
	color:#333;
}
h2 {
	font-size:21px;
	line-height:26px;
	color:#333;
}
h3 {
	font-size:17px;
	margin:10px 0 0 10px;
	line-height:10px;
	color:#333;
}
@media \0screen { img {width: auto; /* for ie 8 */}}
.outerdiv { *zoom: 1;}
.outerdiv:before,.outerdiv:after { display: table; content: "";}
.outerdiv:after { clear: both;}
html[xmlns] .outerdiv { display: block;}
ul{margin:0px;padding:0px;}
ul li{list-style:none;}


@font-face {
    font-family: 'TrebuchetMSRegular';
    src: url('../fonts/trebuc.eot');
    src: url('../fonts/trebuc.eot') format('embedded-opentype'),
         url('../fonts/trebuc.woff') format('woff'),
         url('../fonts/trebuc.ttf') format('truetype'),
         url('../fonts/trebuc.svg#TrebuchetMSRegular') format('svg');
}
@font-face {
    font-family: 'UniversBold';
    src: url('../fonts/univerb.eot');
    src: url('../fonts/univerb.eot') format('embedded-opentype'),
         url('../fonts/univerb.woff') format('woff'),
         url('../fonts/univerb.ttf') format('truetype'),
         url('../fonts/univerb.svg#UniversBold') format('svg');
}

@font-face {
    font-family: 'AdobeCaslonProRegular';
    src: url('../fonts/acaslonpro-regular_3.eot');
    src: url('../fonts/acaslonpro-regular_3.eot') format('embedded-opentype'),
         url('../fonts/acaslonpro-regular_3.woff') format('woff'),
         url('../fonts/acaslonpro-regular_3.ttf') format('truetype'),
         url('../fonts/acaslonpro-regular_3.svg#AdobeCaslonProRegular') format('svg');
}
@font-face {
    font-family: 'UniversCondensedRegular';
    src: url('../fonts/univcd.eot');
    src: url('../fonts/univcd.eot') format('embedded-opentype'),
         url('../fonts/univcd.woff') format('woff'),
         url('../fonts/univcd.ttf') format('truetype'),
         url('../fonts/univcd.svg#UniversCondensedRegular') format('svg');
}
@font-face {
    font-family: 'UniversLTStd49LightUltraCondensed';
    src: url('universltstd-lightultracn.eot');
    src: url('universltstd-lightultracn.eot') format('embedded-opentype'),
         url('universltstd-lightultracn.woff') format('woff'),
         url('universltstd-lightultracn.ttf') format('truetype'),
         url('universltstd-lightultracn.svg#UniversLTStd49LightUltraCondensed') format('svg');
}
