/* HOVER STYLES */
div#popupPieChartDiv {
	display: none;
	position: absolute;
	width: 280px;
	padding: 10px;
	background: #eeeeee;
	color: #000000;
	border: 1px solid #1a1a1a;
	font-size: 90%;
}

div#individualFirmDetailsDiv {
	display: none;
	position: absolute;
	width: 150px;
	padding: 10px;
	background: #eeeeee;
	color: #000000;
	border: 1px solid #1a1a1a;
	font-size: 90%;
}

span.popupTotal{
	background-color: #A4A4A4;
    border: 1px solid;
    color: #FAFAFA;
    height: 10px;
    margin-left: 30px;
    width: 37px;
}
span.popupIndividual{
	margin-left: 30px;
	color: #2E64FE;
	width: 20px;
	border: 1px solid;
}

.amntNewsNpubs{
	background:url(../images/netchart.gif) 88px -168px no-repeat;
}
.percNewsNpubs{
	background:url(../images/percent-image.gif) 88px -168px no-repeat;
}

/* POPUS LIST */
.popusdiv .popHeader {text-transform:none; background: #c3952f; /* Old browsers */ background: -moz-linear-gradient(top,  #c3952f 0%, #bd8e28 50%, #b68821 50%, #b2831d 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c3952f), color-stop(50%,#bd8e28), color-stop(50%,#b68821), color-stop(100%,#b2831d)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #c3952f 0%,#bd8e28 50%,#b68821 50%,#b2831d 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #c3952f 0%,#bd8e28 50%,#b68821 50%,#b2831d 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #c3952f 0%,#bd8e28 50%,#b68821 50%,#b2831d 100%); /* IE10+ */ background: linear-gradient(to bottom,  #c3952f 0%,#bd8e28 50%,#b68821 50%,#b2831d 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3952f', endColorstr='#b2831d',GradientType=0 ); /* IE6-9 */ color:#fff; text-shadow:1px 1px 1px #8d6818; padding:5px 10px}
.popusdiv .btn.closewhite.icon:before {top:-1px; left:5px}
.popusdiv .popHeader a {color:#fff; text-decoration:none}
.popusdiv .popFooter {border-top:1px solid #ccc; padding:5px 10px}
.popusdiv .popMiddle {text-transform:none;padding:10px}
.popusdiv.login-popup {display:none; background:#f0f0f0; border:1px solid #a4a1a1; border-top:none; float:left; font-size:1.2em; position:absolute; top:50%; left:50%; z-index:9999; width:320px}
.popusdiv.login-popupOne {display:none; background:#f0f0f0; border:1px solid #a4a1a1; border-top:none; float:left; font-size:1.2em; position:absolute; top:50%; left:50%; z-index:9999; width:320px}
.popusdiv.login-popupTwo {display:none; background:#f0f0f0; border:1px solid #a4a1a1; border-top:none; float:left; font-size:1.2em; position:absolute; top:50%; left:50%; z-index:9999; width:320px}
.popusdiv.login-popupThree {display:none; font-size:1.2em; position:absolute; top:50%; left:50%; z-index:9999; width:350px; position:absolute; background:#f0f0f0; border:1px solid #a4a1a1; -moz-box-shadow:0px 3px 3px #888; -webkit-box-shadow:0px 3px 3px #888; box-shadow:0px 3px 3px #888; color:#222}
.popusdiv.login-popupFour {display:none; font-size:1.2em; position:absolute; top:50%; left:50%; z-index:9999; width:350px; position:absolute;  background:#f0f0f0; border:1px solid #a4a1a1; -moz-box-shadow:0px 3px 3px #888; -webkit-box-shadow:0px 3px 3px #888; box-shadow:0px 3px 3px #888; color:#222}

.tbleTwo .close {background:url(../images/icnAll.png) 0 -218px no-repeat; float:right; margin:4px 5px 0 0; display:block; width:9px; height:9px; text-decoration:none}

.Watchlist-Btm-Msg { width:202px; float:left; border:1px solid #cccccc; background:#ffffff;}
.Watchlist-Btm-Msg p {text-align:center; margin:50px 10px !important;}
.Triangular-Edge {border-top: 20px solid transparent; border-right: 20px solid #ffffff; border-bottom: 20px solid transparent; width:auto; float:left; margin:90px 0 0 50px;}
.No-Watchlist-Msg {width:800px; float:left; border:1px solid #cccccc; background:#ffffff;}
.No-Watchlist-Msg P {width:auto; text-align:center; margin:103px 0;}
.WatchlistFirmName { width:auto; float:left; padding:5px 10px}
#WatchlistFirmName-Actions {width:auto !important; float:right !important; padding:5px 10px !important;}