@charset "utf-8";
/* CSS Document */
/*** BODY (GLOBAL SETTING)***/
html {}
body {background:#ecebe8 url(../images/bybg.gif) 0 0 repeat-x; font:normal 12px Arial, Helvetica, sans-serif; color:#777; line-height:18px}
html, body {height:100%}
/*** MAIN WRAPPERS ***/
#wrapper {margin:0 auto; width:1220px; margin-bottom:-60px; min-height:100%}
#maincontent {width:100%; height:100%; padding-bottom:75px}
/*** HEADER ***/
#header {height:99px; width:100%}
#header .tpltdiv {width:700px}
#header .tprtdiv {width:425px}
/*** CH - HEADER TOP RIGHT SEARCH BOX ***/
.searchBox {width:325px; margin:23px 0 0; float:right}
.searchBox label {float:left; width:99px; text-transform:uppercase; color:#ccc; margin-top:3px}
.searchBox .searchInner {float:left; width:224px; background:#fff}
.searchBox .serchInput {background:none; border:none; font:normal 12px Arial, Helvetica, sans-serif; color:#999; float:left; width:188px; padding:5px}
.searchBox .searchButton {background:url(../images/srchBack.png) 0 0 no-repeat; border:none; font:normal 0 Arial, Helvetica, sans-serif; color:#999; float:right; width:16px; height:16px; display:block; margin:5px; cursor:pointer}
/*** CH - WEBSITE LOGO ***/
#logo {width:154px; height:27px; padding-top:22px; padding-bottom:20px}
#logo a, #logo a:hover {display:block; width:154px; height:27px; text-decoration:none}
/*** COMMON FOOTER (CF) ***/
#footer {width:100%; background:#000; min-height:60px; position:relative; z-index:999}
/*** MAIN MENU ***/
#nav {margin:0 0 0 -10px}
.mainMenu a {display:block; color:#cbcbcb; font-family:Arial, Helvetica, sans-serif; font-size:12px; text-decoration:none; text-transform:uppercase}
.mainMenu a:hover, .mainMenu a.active {color:#cb9d25}
.mainMenu, .drop li, .mainMenu ul {list-style:none; margin:0; padding:0; color:#fff;}
.mainMenu {position:relative; z-index:597; float:left;}
.mainMenu li {float:left; line-height:1.3em; vertical-align:middle; zoom:1; padding:5px 10px; border-left:1px solid #5a5a5a; text-shadow:1px 1px 1px #333}
.mainMenu li:first-child {border:none}
.mainMenu li.hover, .mainMenu li:hover {position:relative; z-index:599; cursor:default; color:#cb9d25}
.mainMenu ul {background:#5a5a5a; visibility:hidden; position:absolute; top:100%; left:0; z-index:598; width:150px}
.mainMenu ul li {float:none; border:none}
.mainMenu ul ul {top:2px; left:100%;}
.mainMenu li:hover > ul {visibility:visible}
.mainMenu li a.drpMenu {background:url(../images/icnAll.png) 43px -168px no-repeat; padding-right:15px}
.mainMenu li a.drpMenu:active, .mainMenu li a.drpMenu.active {background-position:43px -188px}
.mainMenu li a.drpMenu1 {background:url(../images/icnAll.png) 53px -168px no-repeat; padding-right:15px}
.mainMenu li a.drpMenu1:active, .mainMenu li a.drpMenu1.active {background-position:53px -188px}
/*** TOP NAV ***/
.topNav {margin:20px 0 0; float:right}
.topNav li {float:left; color:#ccc; padding:0 8px; border-left:1px solid #5a5a5a; text-shadow:1px 1px 1px #000}
.topNav li:first-child {border:none}
.topNav li a {color:#ccc; text-decoration:none}
.topNav li a:hover {color:#cb9d25}
.topNav li a.drpMenu {background:url(../images/icnAll.png) 88px -168px no-repeat; padding-right:15px}
.topNav li a.drpMenu:hover, .topNav li a.drpMenu.active {background-position:88px -188px}
/*** COMMON BUTTON (CF) ***/
.buttonOne {background:url(../images/btn1.png) 0 0 repeat-x; border:1px solid #bf8d1f; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; font:normal 12px Arial, Helvetica, sans-serif; color:#fff; padding:5px 10px; cursor:pointer}
.buttonOne:hover {background-position:0 -39px}
.buttonTwo {background:url(../images/btn2.png) 0 0 repeat-x; border:1px solid #565656; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; font:normal 12px Arial, Helvetica, sans-serif; color:#fff; padding:5px 10px; cursor:pointer}
.buttonTwo:hover {background-position:0 -39px}
/*** COMMON BUTTON ALL ICON (CF) ***/
.btn {font:normal 12px Arial, Helvetica, sans-serif; color:#777; text-decoration:none}
.btn::-moz-focus-inner {padding:0; border:0;}
.btn.icon:before {content:""; position:relative; top:1px; float:left; width:18px; height:18px; margin:0 0.75em 0 0; background:url(../images/allIcon.png) 0 0 no-repeat}
.btn.star.icon:before {background-position:0 1px;}
.btn.star.icon:hover:before, .btn.star.icon:focus:before, .btn.star.icon:active:before {background-position:0 0;}
.btn.linkedln.icon:before {background-position:-24px 0;}
.btn.linkedln.icon:hover:before, .btn.linkedln.icon:focus:before, .btn.linkedln.icon:active:before {background-position:-24px 0;}
.btn.facebook.icon:before {background-position:-51px 0;}
.btn.facebook.icon:hover:before, .btn.facebook.icon:focus:before, .btn.facebook.icon:active:before {background-position:-51px 0;}
.btn.twitter.icon:before {background-position:-24px -132px;}
.btn.twitter.icon:hover:before, .btn.twitter.icon:focus:before, .btn.twitter.icon:active:before {background-position:-24px -132px;}
.btn.takeaction.icon:before {background-position:-78px 0;}
.btn.takeaction.icon:hover:before, .btn.takeaction.icon:focus:before, .btn.takeaction.icon:active:before {background-position:-78px 0;}
.btn.takeactionmini.icon:before {background-position:-104px 0;}
.btn.takeactionmini.icon:hover:before, .btn.takeactionmini.icon:focus:before, .btn.takeactionmini.icon:active:before {background-position:-104px 0;}
.btn.alert.icon:before {background-position:-127px 0;}
.btn.alert.icon:hover:before, .btn.alert.icon:focus:before, .btn.alert.icon:active:before {background-position:-127px 0;}
.btn.createAlret.icon:before {background-position:-152px 0;}
.btn.createAlret.icon:hover:before, .btn.createAlret.icon:focus:before, .btn.createAlret.icon:active:before {background-position:-152px 0;}
.btn.print.icon:before {background-position:-178px 0;}
.btn.print.icon:hover:before, .btn.print.icon:focus:before, .btn.print.icon:active:before {background-position:-178px 0;}
.btn.export.icon:before {background-position:-205px 0;}
.btn.export.icon:hover:before, .btn.export.icon:focus:before, .btn.export.icon:active:before {background-position:-205px  0;}
.btn.help.icon:before {background-position:-228px 0;}
.btn.help.icon:hover:before, .btn.help.icon:focus:before, .btn.help.icon:active:before {background-position:-228px 0;}
.btn.export.icon:before {background-position:-205px 0;}
.btn.export.icon:hover:before, .btn.export.icon:focus:before, .btn.export.icon:active:before {background-position:-205px 0;}
.btn.search.icon:before {background-position:-255px 0;}
.btn.search.icon:hover:before, .btn.search.icon:focus:before, .btn.search.icon:active:before {background-position:-255px 0;}
.btn.onecolumn.icon:before {background-position:0 -26px;}
.btn.onecolumn.icon:hover:before, .btn.onecolumn.icon:focus:before, .btn.onecolumn.icon:active:before {background-position:0 -26px;}
.btn.twocolumn.icon:before {background-position:-24px -26px;}
.btn.twocolumn.icon:hover:before, .btn.twocolumn.icon:focus:before, .btn.twocolumn.icon:active:before {background-position:-24px -26px;}
.btn.settings.icon:before {background-position:-51px -26px;}
.btn.settings.icon:hover:before, .btn.settings.icon:focus:before, .btn.settings.icon:active:before {background-position:-51px -26px;}
.btn.addwatchlist.icon:before {background-position:-78px -26px;}
.btn.addwatchlist.icon:hover:before, .btn.addwatchlist.icon:focus:before, .btn.addwatchlist.icon:active:before {background-position:-78px -26px;}
.btn.viewprofile.icon:before {background-position:-104px -26px;}
.btn.viewprofile.icon:hover:before, .btn.viewprofile.icon:focus:before, .btn.viewprofile.icon:active:before {background-position:-104px -26px;}
.btn.opennewin.icon:before {background-position:-127px -26px;}
.btn.opennewin.icon:hover:before, .btn.opennewin.icon:focus:before, .btn.opennewin.icon:active:before {background-position:-127px -26px;}
.btn.edit.icon:before {background-position:-152px -26px;}
.btn.edit.icon:hover:before, .btn.edit.icon:focus:before, .btn.edit.icon:active:before {background-position:-152px -26px;}
.btn.exportprofile.icon:before {background-position:-178px -26px;}
.btn.exportprofile.icon:hover:before, .btn.exportprofile.icon:focus:before, .btn.exportprofile.icon:active:before {background-position:-178px -26px;}
.btn.compareprofile.icon:before {background-position:-205px -26px;}
.btn.compareprofile.icon:hover:before, .btn.compareprofile.icon:focus:before, .btn.compareprofile.icon:active:before {background-position:-205px -26px;}
.btn.quickbio.icon:before {background-position:-228px -26px;}
.btn.quickbio.icon:hover:before, .btn.quickbio.icon:focus:before, .btn.quickbio.icon:active:before {background-position:-228px -26px;}
.btn.newsarticle.icon:before {background-position:-255px -26px;}
.btn.newsarticle.icon:hover:before, .btn.newsarticle.icon:focus:before, .btn.newsarticle.icon:active:before {background-position:-255px -26px;}
.btn.verdict.icon:before {background-position:0 -53px;}
.btn.verdict.icon:hover:before, .btn.verdict.icon:focus:before, .btn.verdict.icon:active:before {background-position:0 -53px;}
.btn.decision.icon:before {background-position:-24px -53px;}
.btn.decision.icon:hover:before, .btn.decision.icon:focus:before, .btn.decision.icon:active:before {background-position:-24px -53px;}
.btn.blog.icon:before {background-position:-51px -53px;}
.btn.blog.icon:hover:before, .btn.blog.icon:focus:before, .btn.blog.icon:active:before {background-position:-51px -53px;}
.btn.legalpublic.icon:before {background-position:-78px -53px;}
.btn.legalpublic.icon:hover:before, .btn.legalpublic.icon:focus:before, .btn.legalpublic.icon:active:before {background-position:-78px -53px;}
.btn.tweet.icon:before {background-position:-104px -53px;}
.btn.tweet.icon:hover:before, .btn.tweet.icon:focus:before, .btn.tweet.icon:active:before {background-position:-104px -53px;}
.btn.event.icon:before {background-position:-127px -53px;}
.btn.event.icon:hover:before, .btn.event.icon:focus:before, .btn.event.icon:active:before {background-position:-127px -53px;}
.btn.barchartvert.icon:before {background-position:-152px -53px;}
.btn.barchartvert.icon:hover:before, .btn.barchartvert.icon:focus:before, .btn.barchartvert.icon:active:before {background-position:-152px -53px;}
.btn.barcharthori.icon:before {background-position:-178px -53px;}
.btn.barcharthori.icon:hover:before, .btn.barcharthori.icon:focus:before, .btn.barcharthori.icon:active:before {background-position:-178px -53px;}
.btn.stackedbarchart.icon:before {background-position:-205px -53px;}
.btn.stackedbarchart.icon:hover:before, .btn.stackedbarchart.icon:focus:before, .btn.stackedbarchart.icon:active:before {background-position:-205px -53px;}
.btn.linechartsingle.icon:before {background-position:-228px -53px;}
.btn.linechartsingle.icon:hover:before, .btn.linechartsingle.icon:focus:before, .btn.linechartsingle.icon:active:before {background-position:-228px -53px;}
.btn.linechartmultiple.icon:before {background-position:-255px -53px;}
.btn.linechartmultiple.icon:hover:before, .btn.linechartmultiple.icon:focus:before, .btn.linechartmultiple.icon:active:before {background-position:-255px -53px;}
.btn.piechart.icon:before {background-position:0 -80px;}
.btn.piechart.icon:hover:before, .btn.piechart.icon:focus:before, .btn.piechart.icon:active:before {background-position:0 -80px;}
.btn.mountainchart.icon:before {background-position:-24px -80px;}
.btn.mountainchart.icon:hover:before, .btn.mountainchart.icon:focus:before, .btn.mountainchart.icon:active:before {background-position:-24px -80px;}
.btn.tornadochart.icon:before {background-position:-51px -80px;}
.btn.tornadochart.icon:hover:before, .btn.tornadochart.icon:focus:before, .btn.tornadochart.icon:active:before {background-position:-51px -80px;}
.btn.error.icon:before {background-position:-78px -80px;}
.btn.error.icon:hover:before, .btn.error.icon:focus:before, .btn.error.icon:active:before {background-position:-78px -80px;}
.btn.dropdownarrow.icon:before {background-position:-104px -80px;}
.btn.dropdownarrow.icon:hover:before, .btn.dropdownarrow.icon:focus:before, .btn.dropdownarrow.icon:active:before {background-position:-104px -80px;}
.btn.addpositive.icon:before {background-position:-127px -80px;}
.btn.addpositive.icon:hover:before, .btn.addpositive.icon:focus:before, .btn.addpositive.icon:active:before {background-position:-127px -80px;}
.btn.subtractneg.icon:before {background-position:-152px -80px;}
.btn.subtractneg.icon:hover:before, .btn.subtractneg.icon:focus:before, .btn.subtractneg.icon:active:before {background-position:-152px -80px;}
.btn.tickmark.icon:before {background-position:-178px -80px;}
.btn.tickmark.icon:hover:before, .btn.tickmark.icon:focus:before, .btn.tickmark.icon:active:before {background-position:-178px -80px;}
.btn.elipses.icon:before {background-position:-205px -80px;}
.btn.elipses.icon:hover:before, .btn.elipses.icon:focus:before, .btn.elipses.icon:active:before {background-position:-205px -80px;}
.btn.close.icon:before {background-position:-228px -80px;}
.btn.close.icon:hover:before, .btn.close.icon:focus:before, .btn.close.icon:active:before {background-position:-228px -80px;}
.btn.closemini.icon:before {background-position:-255px -80px;}
.btn.closemini.icon:hover:before, .btn.closemini.icon:focus:before, .btn.closemini.icon:active:before {background-position:-255px -80px;}
.btn.share.icon:before {background-position:0 -106px;}
.btn.share.icon:hover:before, .btn.share.icon:focus:before, .btn.share.icon:active:before {background-position:0 -106px;}
.btn.updates.icon:before {background-position:-24px -106px;}
.btn.updates.icon:hover:before, .btn.updates.icon:focus:before, .btn.updates.icon:active:before {background-position:-24px -106px;}
.btn.updatesmini.icon:before {background-position:-51px -106px;}
.btn.updatesmini.icon:hover:before, .btn.updatesmini.icon:focus:before, .btn.updatesmini.icon:active:before {background-position:-51px -106px;}
.btn.rank1.icon:before {background-position:-78px -106px;}
.btn.rank1.icon:hover:before, .btn.rank1.icon:focus:before, .btn.updates.icon:active:before {background-position:-78px -106px;}
.btn.rank2.icon:before {background-position:-104px -106px;}
.btn.rank2.icon:hover:before, .btn.rank2.icon:focus:before, .btn.rank2.icon:active:before {background-position:-104px -106px;}
.btn.rank3.icon:before {background-position:-127px -106px;}
.btn.rank3.icon:hover:before, .btn.rank3.icon:focus:before, .btn.rank3.icon:active:before {background-position:-127px -106px;}
.btn.rank4.icon:before {background-position:-152px -106px;}
.btn.rank4.icon:hover:before, .btn.rank4.icon:focus:before, .btn.rank4.icon:active:before {background-position:-152px -106px;}
.btn.rank5.icon:before {background-position:-178px -106px;}
.btn.rank5.icon:hover:before, .btn.rank5.icon:focus:before, .btn.rank5.icon:active:before {background-position:-178px -106px;}
.btn.myaccount.icon:before {background-position:-205px -106px;}
.btn.myaccount.icon:hover:before, .btn.myaccount.icon:focus:before, .btn.myaccount.icon:active:before {background-position:-205px -106px;}
.btn.signout.icon:before {background-position:-228px -106px;}
.btn.signout.icon:hover:before, .btn.signout.icon:focus:before, .btn.signout.icon:active:before {background-position:-228px -106px;}
.btn.inprogress.icon:before {background-position:-255px -106px;}
.btn.inprogress.icon:hover:before, .btn.inprogress.icon:focus:before, .btn.inprogress.icon:active:before {background-position:-255px -106px;}
.btn.chalendar.icon:before {background-position:0 -132px;}
.btn.chalendar.icon:hover:before, .btn.chalendar.icon:focus:before, .btn.chalendar.icon:active:before {background-position:0 -132px;}
.btn.settingsgry.icon:before {background-position:-51px -134px;}
.btn.settingsgry.icon:hover:before, .btn.settingsgry.icon:focus:before, .btn.settingsgry.icon:active:before {background-position:-51px -134px;}
.btn.takeactiongry.icon:before {background-position:-78px -132px;}
.btn.takeactiongry.icon:hover:before, .btn.takeactiongry.icon:focus:before, .btn.takeactiongry.icon:active:before {background-position:-78px -132px;}
.btn.closewhite.icon:before {background-position:-104px -132px;}
.btn.closewhite.icon:hover:before, .btn.closewhite.icon:focus:before, .btn.closewhite.icon:active:before {background-position:-104px -132px;}
.btn.closegry.icon:before {background-position:-127px -132px;}
.btn.closegry.icon:hover:before, .btn.closegry.icon:focus:before, .btn.closegry.icon:active:before {background-position:-127px -132px;}
.btn.drpdwngry.icon {color:#fff}
.btn.drpdwngry.icon:before {background-position:-148px -130px; float:right; margin-right:0; height:16px}
.btn.drpdwngry.icon:hover:before, .btn.drpdwngry.icon:focus:before, .btn.drpdwngry.icon:active:before {background-position:-152px -132px;}
.btn.addgry.icon {color:#fff}
.btn.addgry.icon:before {background-position:-178px -133px; height:16px; margin-right:0}
.btn.addgry.icon:hover:before, .btn.addgry.icon:focus:before, .btn.addgry.icon:active:before {background-position:-178px -133px;}
.btn.printgry.icon:before {background-position:-228px -133px}
.btn.printgry.icon:hover:before, .btn.printgry.icon:focus:before, .btn.printgry.icon:active:before {background-position:-228px -133px;}
.btn.exportgry.icon:before {background-position:-205px -130px}
.btn.exportgry.icon:hover:before, .btn.exportgry.icon:focus:before, .btn.exportgry.icon:active:before {background-position:-205px -130px;}
/*** HEADING (CF) ***/
h4.heading {font:normal 17px Arial, Helvetica, sans-serif; color:#ba850f; margin-bottom:5px; text-transform:uppercase}
/*** BREADCRUMBS (CF) ***/
.breadcrumbs {color:#aaa; font:normal 18px Arial, Helvetica, sans-serif; margin:20px 0 0px; text-transform:uppercase}
.breadcrumbs a, .breadcrumbs span {color:#222}
/*** TABS (CF) ***/
#tabs {overflow:hidden; margin:0 0 -2px; padding:0; list-style:none;}
#tabs li {float:left; margin:0 -25px 0 0;}
#tabs a {background:url(../images/tabBack.png) 0 0 no-repeat; position:relative; padding-left:33px; float:left; text-decoration:none; color:#444; height:35px; line-height:35px}
#tabs a span {background:url(../images/tabBack.png) 100% -35px no-repeat; float:left; padding-right:40px; padding-left:8px; height:35px}
#tabs a:hover, #tabs a.active {background:url(../images/tabBack.png) 0 -90px no-repeat; position:relative; z-index:999}
#tabs a:hover span, #tabs a.active span {background:url(../images/tabBack.png) 100% -125px no-repeat; position:relative; z-index:999}
#tabs a:focus {outline:0;}
/* ------------------------------------------------- */
#content {background:#fff; padding:20px; border:1px solid #dfdfdf; position:relative; z-index:2}
#dropdown #droplist {padding:15px 0px 0px 0px; margin:0px; color:#000; float:left; width:1220px; font-family:arial, helvetica, sans-serif; font-size:12px; font-weight:lighter;}
#dropdown #droplist li {position:relative; z-index:1000}
#dropdown #droplist li label {display:block; width:100%; color:#777777; margin-bottom:2px}
#dropdown #droplist li {padding:0; float:left; margin:0 5px 0 0; display:inline;}
#dropdown #droplist li .srchBox {border:1px solid #ddd; background:#fff; width:147px; float:left; border-right:none}
#dropdown #droplist li .srchBox .input {background:none; border:none; float:left; width:110px; padding:5px 5px 6px}
#dropdown #droplist li .srchBox .srchBack {background:url(../images/srchBack.png) 0 0 no-repeat; width:16px; height:16px; display:block; float:left; border:none; margin-right:7px; margin-top:6px; cursor:pointer}
#dropdown #droplist li .drpDwn {background:url(../images/icnlist.png) 0 0 no-repeat; width:30px; height:29px; border:1px solid #ddd; float:right; cursor:pointer; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
#dropdown #droplist li .typeSel {background:url(../images/icnlist.png) 100% 0 no-repeat; width:30px; height:29px; border:1px solid #ddd; float:right; cursor:pointer; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
#dropdown #droplist li .firmPage, #dropdown ul#droplist li .datePage {background:#fff; border:1px solid #b1b0ae; position:absolute; left:0; width:323px; top:49px; display:none; padding:15px 10px; color:#777}
#dropdown #droplist li .datePage {width:200px}
/*** LIST NAME ***/
.listView {margin-right:-15px}
.listView li {float:left; position:relative; z-index:99}
.listView li a {text-decoration:none}
.listView li .actionSec {background:#fff; border:1px solid #ddd; padding:1px; position:absolute; right:15px; top:20px; display:none; width:170px}
.listView li .actionSec h5 {background:#CCC; font:bold 12px Arial, Helvetica, sans-serif; color:#333; padding:3px 5px}
.listView li .actionSec ul {margin:7px 13px 10px 5px}
.listView li .actionSec ul li {border:1px solid #ccc; cursor:pointer; display:block; width:100%; color:#666 !important; padding:3px; margin-bottom:5px}
.listView li .actionSec ul li:hover {background:#ccc}
.listView li .actionSec ul li:hover a {color:#333}
.listView li .actionSec ul li a {background:none; padding:0 0 0 5px; text-decoration:none; color:#666}
.listView li .actionSec ul li span {float:left; border:1px solid #999; padding:0 4px; line-height:1.3}
.listView li:hover > .actionSec {display:block}
.listView .viewBox {position:absolute; right:5px; top:18px; width:280px; background:#f0f0f0; border:1px solid #a4a1a1; display:none; padding:10px; -moz-box-shadow:0px 3px 3px #888; -webkit-box-shadow:0px 3px 3px #888; box-shadow:0px 3px 3px #888; color:#222}
.listView .viewBox .btmdiv {border-top:1px solid #c0c0c0; padding-top:5px; margin-top:5px}
.listView li:hover > .viewBox {display:block}
.listView li input[type="checkbox"] {margin-right:4px}

.list2 li {margin:10px 0 5px; display:block; width:100%}
.list2 li input[type="radio"] {vertical-align:middle; float:left; margin-right:10px; margin-top:2px}
.list2 li .btn.onecolumn.icon:before {background-position:0 -23px;}
.list2 li .btn.onecolumn.icon:hover:before, .btn.onecolumn.icon:focus:before, .btn.onecolumn.icon:active:before {background-position:0 -23px;}
.list2 li .btn.twocolumn.icon:before {background-position:-23px -23px;}
.list2 li .btn.twocolumn.icon:hover:before, .btn.twocolumn.icon:focus:before, .btn.twocolumn.icon:active:before {background-position:-23px -23px;}

.list3 {margin:10px 0 0}
.list3 li {float:left; width:300px; padding:5px; margin:0 8px 8px 0; border:1px solid #ddd}
.list3 li:hover {background:#ccc; cursor:pointer}
.list3 li h4 {font:normal 14px Arial, Helvetica, sans-serif; color:#222}
.list3 li .imgdiv {float:left; border:1px solid #999; width:30px; height:30px}
.list3 li .disc {float:left; width:255px; margin-left:10px}

.list4 {margin:0 0 10px}
.list4 li {margin:10px 0 5px; float:left; margin-left:10px}
.list4 li input[type="radio"] {vertical-align:middle; float:left; margin-right:10px; margin-top:2px}
/*** VIEW SETTING ***/
.viewSetting {color:#888888; margin-top:10px; position:relative; z-index:999}
.viewSetting h6 {color:#222}
.viewSetting a {text-decoration:none; padding-bottom:15px}
.viewSetting span {padding:2px 0px 3px 0}
.viewSetting span span.btn.dropdownarrow.icon:before {float:right; padding-right:5px; background-position:-98px -75px; color:#888}
.viewSetting .viewBox {position:absolute; width:180px; background:#f0f0f0; border:1px solid #a4a1a1; display:none; padding:10px; -moz-box-shadow:0px 3px 3px #888; -webkit-box-shadow:0px 3px 3px #888; box-shadow:0px 3px 3px #888;}
.viewSetting .viewBox .btmdiv {border-top:1px solid #c0c0c0; padding-top:5px; margin-top:5px}
.viewSetting:hover > .viewBox {display:block}
.resultsec {color:#777}
.resultsec span {color:#888}
/*** FILTER BAR (CF) ***/
.filtersPage .barSec {background:url(../images/additinalBack.png) center 0 no-repeat; width:100%; height:24px; margin:10px 0}
.filtersPage .dwnBx {display:block; text-align:center; text-decoration:none; color:#fff; padding:5px 0}
.filtersPage .upBx {display:block; text-align:center; text-decoration:none; color:#fff; padding:5px 0}
/*** CONTENT MENU RIGHT (CF) ***/
.menuRight {margin-top:5px}
.menuRight li {float:left; display:block; margin-right:10px; position:relative; z-index:1000}
.menuRight li a {float:left; display:block; padding:0 0 4px 0; color:#777}
.menuRight li a.btn.icon:before {margin-right:5px}
.menuRight li .actionSec {background:#fff; border:1px solid #ddd; padding:1px; position:absolute; right:-5px; top:20px; display:none; width:140px}
.menuRight li .actionSec h5 {background:#CCC; font:bold 12px Arial, Helvetica, sans-serif; color:#333; padding:3px 5px}
.menuRight li .actionSec ul {margin:7px 13px 10px 5px}
.menuRight li .actionSec ul li {border:1px solid #ccc; cursor:pointer; display:block; width:100%; padding:3px; margin-bottom:5px}
.menuRight li .actionSec ul li:hover {background:#ccc}
.menuRight li .actionSec ul li:hover a {color:#333}
.menuRight li .actionSec ul li a {background:none; padding:0 0 0 5px; text-decoration:none}
.menuRight li .actionSec ul li span {float:left; border:1px solid #999; padding:0 4px; line-height:1.3}
.menuRight li:hover > .actionSec {display:block}
/*** Results Details - TABLE (CF) ***/
.detailsPage {background:#fff; padding:20px; border:1px solid #ddd}
.tblOne {margin:10px 0}
.tblOne thead {background:url(../images/tbth.gif) 0 0 repeat-x; color:#fff}
.tblOne tr th {vertical-align:middle; padding:0 5px; height:31px}
.tblOne tr.odd td {background:#f6f4f2; padding:10px 0; vertical-align:top}
.tblOne tr.even td {padding:10px 0; vertical-align:top}
.tblOne h6 {font-weight:normal}
.tblOne h6 a {text-decoration:underline}
.tblOne h6 a:hover {text-decoration:none}
.tblOne a {color:#777}
/*** PRINT PAGE (CF) ***/
.printSec {color:#333; padding:20px}
.printSec .topBar {border-bottom:1px solid #ccc; padding-bottom:10px; margin-bottom:10px; width:100%}
.printSec #logo {padding-top:10px}
.printSec .dateSec {font:normal 13px Arial, Helvetica, sans-serif; margin-top:10px}
.printSec h4 {font:normal 15px Arial, Helvetica, sans-serif; margin:10px 0}
.printSec .listOne {font-size:14px}
.printSec .listOne li {float:left; margin-right:20px}
.printSec .listOne li a {color:#333}
.printSec .tplist li {float:left; margin-left:10px; padding-left:10px; border-left:1px solid #ccc; line-height:1.2}
.printSec .tplist li:first-child {border:none}
.printSec .tplist li a {float:left; text-decoration:underline; color:#333}
.printSec .tplist li a:hover {text-decoration:none}
.printSec .tbleTwo {border-top:1px solid #000; margin-top:10px}
.printSec .tbleTwo tr th {padding:10px 5px; text-align:left}
.printSec .tbleTwo tr td {padding:10px 5px}
/*** MANAGE WATCH LISTS (CF) ***/
.manageWatchSec {margin:25px 0 0}
.manageWatchSec h4 {font:normal 18px Arial, Helvetica, sans-serif; color:#222; margin-bottom:10px; text-transform:uppercase}
.manageWatchSec h5 {font:normal 17px Arial, Helvetica, sans-serif; color:#ba850f; margin-bottom:10px; text-transform:uppercase}
.manageWatchSec .leftMenuDiv {width:225px}
.manageWatchSec .firmsRightDiv {width:975px}
.manageWatchSec .mywatchTxt {background:#383838; /* Old browsers *//* IE9 SVG, needs conditional override of 'filter' to 'none' */background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM4MzgzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzJlMmUyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzI1MjUyNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZjFmMWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background:-moz-linear-gradient(top,  #383838 0%, #2e2e2e 50%, #252525 51%, #1f1f1f 100%); /* FF3.6+ */ background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#383838), color-stop(50%,#2e2e2e), color-stop(51%,#252525), color-stop(100%,#1f1f1f)); /* Chrome,Safari4+ */ background:-webkit-linear-gradient(top,  #383838 0%,#2e2e2e 50%,#252525 51%,#1f1f1f 100%); /* Chrome10+,Safari5.1+ */ background:-o-linear-gradient(top,  #383838 0%,#2e2e2e 50%,#252525 51%,#1f1f1f 100%); /* Opera 11.10+ */ background:-ms-linear-gradient(top,  #383838 0%,#2e2e2e 50%,#252525 51%,#1f1f1f 100%); /* IE10+ */ background:linear-gradient(to bottom,  #383838 0%,#2e2e2e 50%,#252525 51%,#1f1f1f 100%); /* W3C */ filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#1f1f1f',GradientType=0 ); /* IE6-8 */ border:1px solid #363636; border-bottom:1px solid #141414; color:#b88d2e; text-shadow:1px -1px 1px #000; text-transform:uppercase; padding:4px 10px 5px}
.manageWatchSec .mywatchTxt span.arw {background:url(../images/icnAll.png) 0 -189px no-repeat; padding-left:15px; line-height:2.1}
.manageWatchSec .mywatchTxt .newClick {background:#383838; /* Old browsers *//* IE9 SVG, needs conditional override of 'filter' to 'none' */background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM4MzgzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzJlMmUyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzI1MjUyNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZjFmMWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background:-moz-linear-gradient(top,  #383838 0%, #2e2e2e 50%, #252525 51%, #1f1f1f 100%); /* FF3.6+ */ background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#383838), color-stop(50%,#2e2e2e), color-stop(51%,#252525), color-stop(100%,#1f1f1f)); /* Chrome,Safari4+ */ background:-webkit-linear-gradient(top,  #383838 0%,#2e2e2e 50%,#252525 51%,#1f1f1f 100%); /* Chrome10+,Safari5.1+ */ background:-o-linear-gradient(top,  #383838 0%,#2e2e2e 50%,#252525 51%,#1f1f1f 100%); /* Opera 11.10+ */ background:-ms-linear-gradient(top,  #383838 0%,#2e2e2e 50%,#252525 51%,#1f1f1f 100%); /* IE10+ */ background:linear-gradient(to bottom,  #383838 0%,#2e2e2e 50%,#252525 51%,#1f1f1f 100%); /* W3C */ filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#1f1f1f',GradientType=0 ); /* IE6-8 */ border:1px solid #404040; color:#888; padding:2px 5px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; cursor:pointer; margin-top:3px; margin-bottom:0; text-decoration:none}
.manageWatchSec .mywatchTxt span.add {background:url(../images/icnAll.png) 0 -438px no-repeat; padding-left:13px}
/* MANAGE WATCH LIST LEFT PAGE SUB MENU */
.manageWatchSec .leftMenuDiv .smlTxt {margin-bottom:10px}
.manageWatchSec #leftMenu {float:left; width:100%; background:#363636}
.manageWatchSec #leftMenu li {background:url(../images/bgLine.gif) 0 100% repeat-x}
.manageWatchSec #leftMenu li.last {background:none}
.manageWatchSec #leftMenu li a {background:url(../images/arwRightIcon.png) 12px 15px no-repeat; display:block; padding:10px 0px 10px 25px; text-decoration:none; color:#888;}
.manageWatchSec #leftMenu li li {background:none; padding:0 12px}
.manageWatchSec #leftMenu li a:hover {color:#888}
.manageWatchSec #leftMenu li a.active {background:url(../images/arwDown.png) 12px 17px no-repeat}
.manageWatchSec #leftMenu li ul {display:none; padding-bottom:13px; // used to hide sub-menus}
.manageWatchSec #leftMenu li ul li a {padding:5px 10px; background:#4d4d4d url(../images/icnAll.png) 180px -298px no-repeat; border-bottom:1px solid #363636;}
.manageWatchSec #leftMenu li ul li a:hover, .manageWatchSec #leftMenu li ul li a.active {background:#7f6d41 url(../images/icnAll.png) 180px -298px no-repeat; color:#fff; position:relative}
.manageWatchSec #leftMenu li ul li a.active:after {position:absolute; right:-28px; top:-2px; content:''; width:0; height:0; border-style:solid; border-width:16px 0 16px 18px; border-color:transparent transparent transparent #363636}
/* MANAGE WATCH LIST RIGHT PAGE */
.manageWatchSec .modifyPage {border:1px solid #ddd; width:100%; margin-top:27px}

.topHeader {background:#4f4f4f;/* Old browsers *//* IE9 SVG, needs conditional override of 'filter' to 'none' */ background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRmNGY0ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzQ5NDk0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzQ0NDQ0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MDQwNDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background:-moz-linear-gradient(top,  #4f4f4f 0%, #494949 50%, #444444 50%, #404040 100%); /* FF3.6+ */ background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f4f4f), color-stop(50%,#494949), color-stop(50%,#444444), color-stop(100%,#404040)); /* Chrome,Safari4+ */ background:-webkit-linear-gradient(top,  #4f4f4f 0%,#494949 50%,#444444 50%,#404040 100%); /* Chrome10+,Safari5.1+ */ background:-o-linear-gradient(top,  #4f4f4f 0%,#494949 50%,#444444 50%,#404040 100%); /* Opera 11.10+ */ background:-ms-linear-gradient(top,  #4f4f4f 0%,#494949 50%,#444444 50%,#404040 100%); /* IE10+ */
background:linear-gradient(to bottom,  #4f4f4f 0%,#494949 50%,#444444 50%,#404040 100%); /* W3C */ filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#404040',GradientType=0 ); /* IE6-8 */ color:#ccc; padding:6px 10px 6px 10px}
.topHeader .star {background:url(../images/star-img.png) 100% 2px no-repeat; padding:0 15px 0 0}
.topHeader .icnSrch {background:url(../images/icnAll.png) 100% -304px no-repeat; margin-left:10px; padding-right:45px}
.topHeader .newMod {background:url(../images/icnAll.png) 0 -367px no-repeat; padding:0 0 0 15px; color:#999; font-size:11px; float:right; margin-right:10px}
.topHeader .del {background:url(../images/icnAll.png) 0 -406px no-repeat; padding:0 0 0 15px; color:#ef555c; font-size:11px; float:right}
.topHeader a {color:#ccc; text-decoration:none}
/* MANAGE WATCH LIST TOP HEADER	*/
.manageWatchSec .firmsWatchlist {background:#fff; width:260px; padding:13px; border-right:1px solid #ddd}
.manageWatchSec .findSelectAddPage {width:658px; padding:13px}
/* MANAGE WATCH LIST PAGINATION PAGE */
.pagiList {width:60%}
.pagiList a {float:left}
.pagiList li {float:left; border-left:1px solid #ccc; line-height:1.2; text-shadow:1px 1px 1px #fff; color:#222; margin-left:10px; margin-bottom:10px; padding-left:10px}
.pagiList li:first-child {margin-left:0; padding-left:0; border:none}
/* TABLE */
.tbleTwo {border-bottom:1px solid #999792}
.tbleTwo tr.tpbar th {background:url(../images/tbth.gif) 0 0 repeat-x; color:#ccc; text-shadow:1px 1px 1px #222; vertical-align:middle; padding:0 5px; height:31px; text-align:left; padding-left:12px}
.tbleTwo th {background:#666; color:#ccc; padding:6px 0 8px}
.tbleTwo tr.even td {background:#f6f4f2; padding:6px 0; vertical-align:middle}
.tbleTwo tr.odd td {background:#fff; padding:6px 0; vertical-align:middle}
.tbleTwo a {color:#222; text-decoration:underline}
.tbleTwo a:hover {text-decoration:none}
.tbleTwo .close {background:url(../images/icnAll.png) 0 -218px no-repeat; display:block; width:9px; height:9px; text-decoration:none}
.tbleTwo .add {background:url(../images/icnAll.png) 50px -244px no-repeat; padding-right:15px; text-decoration:none}
.tbleTwo .remove {background:url(../images/icnAll.png) 50px -273px no-repeat; padding-right:15px; text-decoration:none; color:#bd1920}
/* TAB 1 2 3 */
.webwidget_tab {}
.tabContainer {width:100%; overflow:hidden}
.tabContainer li {float:left}
.tabContainer li a {display:block !important; display:inline-block; height:27px; line-height:27px; text-shadow:1px 1px 1px #fff}
.webwidget_tab .tabHead {list-style-type:none; margin:0px 0 0 -5px; padding:0px}
.webwidget_tab .tabBody {margin-top:-1px; border-top:1px solid #d4d4d4}
.webwidget_tab .tabBody ul {margin:0px; padding:0px; list-style:none}
.webwidget_tab .tabBody ul {}
.webwidget_tab .tabBody ul li {}
.webwidget_tab .tabHead li a {background:url(../images/tabBack2.png) 0 0 no-repeat; margin-right:-30px; padding-left:31px; float:left; text-decoration:none; color:#888}
.webwidget_tab .tabHead li a span {background:url(../images/tabBack2.png) 100% -35px no-repeat; padding-right:31px; float:left}
.webwidget_tab .tabHead li a:hover , .webwidget_tab .tabHead li.currentBtn a {background:url(../images/tabBack2.png) 0 -80px no-repeat}
.webwidget_tab .tabHead li a:hover span, .webwidget_tab .tabHead li.currentBtn a span {background:url(../images/tabBack2.png) 100% -115px no-repeat}
.webwidget_tab .tabCot {}
.webwidget_tab .tabContainer li.currentBtn {margin-bottom:-1px; position:relative; z-index:1000}
.webwidget_tab .tabContainer li.currentBtn a {height:29px; color:#222}
.webwidget_tab .tabContainer li.currentBtn a span {height:29px; color:#222}
/* NEWS PUBLICATION PAGE */
.newspublicationPage .colMin {width:580px}
.newspublicationPage .netypepage {border:1px solid #ddd; padding:10px}
.newspublicationPage h6 {font:bold 12px Arial, Helvetica, sans-serif; color:#222}
/* POPUS LIST */
.popusdiv .popHeader {text-transform:none; background: #c3952f; /* Old browsers */ background: -moz-linear-gradient(top,  #c3952f 0%, #bd8e28 50%, #b68821 50%, #b2831d 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c3952f), color-stop(50%,#bd8e28), color-stop(50%,#b68821), color-stop(100%,#b2831d)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #c3952f 0%,#bd8e28 50%,#b68821 50%,#b2831d 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #c3952f 0%,#bd8e28 50%,#b68821 50%,#b2831d 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #c3952f 0%,#bd8e28 50%,#b68821 50%,#b2831d 100%); /* IE10+ */ background: linear-gradient(to bottom,  #c3952f 0%,#bd8e28 50%,#b68821 50%,#b2831d 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3952f', endColorstr='#b2831d',GradientType=0 ); /* IE6-9 */ color:#fff; font-weight:normal; text-shadow:1px 1px 1px #8d6818; padding:5px 10px}
.popusdiv .btn.closewhite.icon:before {top:-1px; left:5px}
.popusdiv .popHeader a {color:#fff; text-decoration:none}
.popusdiv .popFooter {border-top:1px solid #ccc; padding:5px 10px}
.popusdiv .popMiddle {text-transform:none;padding:10px}
.popusdiv.login-popup {display:none; background:#f0f0f0; border:1px solid #a4a1a1; border-top:none; float:left; font-size:1.2em; position:absolute; top:50%; left:50%; z-index:9999; width:320px}
.popusdiv.login-popupOne {display:none; background:#f0f0f0; border:1px solid #a4a1a1; border-top:none; float:left; font-size:1.2em; position:absolute; top:50%; left:50%; z-index:9999; width:320px}
.popusdiv.login-popupTwo {display:none; background:#f0f0f0; border:1px solid #a4a1a1; border-top:none; float:left; font-size:1.2em; position:absolute; top:50%; left:50%; z-index:9999; width:320px}
.popusdiv.login-popupThree {display:none; font-size:1.2em; position:absolute; top:50%; left:50%; z-index:9999; width:350px; position:absolute; background:#f0f0f0; border:1px solid #a4a1a1; -moz-box-shadow:0px 3px 3px #888; -webkit-box-shadow:0px 3px 3px #888; box-shadow:0px 3px 3px #888; color:#222}
.popusdiv.login-popupFour {display:none; font-size:1.2em; position:absolute; top:50%; left:50%; z-index:9999; width:350px; position:absolute;  background:#f0f0f0; border:1px solid #a4a1a1; -moz-box-shadow:0px 3px 3px #888; -webkit-box-shadow:0px 3px 3px #888; box-shadow:0px 3px 3px #888; color:#222}
/* ADD ANALYSIS BUTTON */
.selectchartadd {position:absolute; left:0; top:30px; background:#fff; border:1px solid #a4a1a1; display:none; padding:10px; width:640px; -moz-box-shadow:0px 3px 3px #888; -webkit-box-shadow:0px 3px 3px #888; box-shadow:0px 3px 3px #888;}