.individualfirms { margin:0; border:1px solid #ccc; height:70px; overflow:auto; opacity: 1; filter:alpha(opacity=100);}
.individualfirms input { margin:0 5px}
.firmPage p { margin:5px 0;}

.individualfirms-first  {color:#ffffff; background-color:#666666; border:1px solid #999999}
.individualfirms-first input { margin:0 5px}
.individualfirms-Watchlist  {margin:0; color:#ffffff; background-color:#666666; border:1px solid #999999}
.individualfirms-Watchlist input { margin:0 5px}
.individualfirms-Organization {color:#ffffff; background-color:#666666; border:1px solid #999999}
.individualfirms-Organization input { margin:0 5px}

.individualfirmsWatchList {border:1px solid #ccc; height:70px; overflow:auto; opacity: 1; filter:alpha(opacity=100);}
.individualfirmsWatchList input { margin:0 5px}
.individualfirmsOrganization { border:1px solid #ccc; height:70px; overflow:auto; opacity: 1; filter:alpha(opacity=100);}
.individualfirmsOrganization input { margin:0 5px}

.popupsubmit { margin:10px 0 0 83px; width:auto; float:left;}
.Popup-Calendar { margin:10px 0 0 0; width: auto; float: right;}
#dropdown #droplist li .firmPage, #dropdown ul#droplist li .datePage {background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #B1B0AE; color: #777777; display: none; left: 0; padding: 15px 10px; position: absolute; top: 29px; width: 215px !important;}

/*#allOtherFirmDiv, #practiceAreaDiv, #allOtherLocationsDiv { background-color: none; border: 1px solid #CCCCCC; height: 100px; margin: 0; overflow: auto}*/
.buttonOne {background:url(../images/btn1.png) 0 0 repeat-x !important; border:none !important; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; font:normal 12px Arial, Helvetica, sans-serif !important; padding:5px 10px !important; cursor:pointer; text-shadow:none !important; color:#ffffff !important;}
.buttonOne:hover {background-position:0 -39px !important; border:none!important;}
.buttonTwo {background:url(../images/btn2.png) 0 0 repeat-x !important; border:none !important; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; font:normal 12px Arial, Helvetica, sans-serif !important; padding:5px 10px !important; cursor:pointer; text-shadow:none !important; color:#ffffff !important;}
.buttonTwo:hover {background-position:0 -39px !important; border:none!important;}
.popupsubmenu { margin:0;}
.popupsubmit { margin:10px 10px 0 0; width:auto; float:right;}

#individualFirmsCounter  {padding:2px 0 5px; width:220px; margin:0; color:#ffffff; background-color:#666666; border:1px solid #999999}
#individualFirmsCounter input { margin:0 5px}
#individualPracticeAreaCounter  {padding:2px 0 5px; width:220px; margin:0; color:#ffffff; background-color:#666666; border:1px solid #999999}
#individualPracticeAreaCounter input { margin:0 5px}
#allOtherFirmDiv { padding:2px 0 5px; width:220px !important; margin:0; border:1px solid #ccc; height:70px; overflow:auto; opacity: 1; filter:alpha(opacity=100);}
#allOtherFirmDiv input { margin:0 5px}
#dropdown #droplist li .firmPage { width: 235px !important;}
#dropdown ul#droplist li .datePage { width: 315px !important;}
.ContentType { border:1px solid #999999;}