<div id="header">
	<div class="tpltdiv flLeft">
		#set($drpMenuCss="")
		<h1 id="logo"><a href="#"><img src="/re-theme/images/logo.png" width="154" height="27" alt="logo" /></a></h1>
		<ul class="reset topNav">
#if($is_signed_in)
		<li><a class="dropdown-arrow" href="#">$user.firstName&nbsp;$user.lastName</a>
			<ul class="my-profile-dropdown">
	  			<li><a class="my-accout-icon" href="https://store.law.com/Registration/MyAccount.aspx" title="My Profile">My Profile</a></li>
				<li><a class="log-out-icon" href="/c/portal/logout" title="Logout">Logout</a></li>
		    </ul>
		  	<li><a href="./watchlist" id="manageWatchListLink">Manage Watchlists</a>&nbsp;&nbsp;&nbsp;</li>
	    	<li><a href="./alerts" id="manageAlertsLink">Manage Alerts</li>
		</li>
#else
		<li><a class="drpMenu" href="/c/portal/login">Sign In</a></li>
#end
	  </ul>
	    <div class="clear">&nbsp;</div>
	    
		<ul class="reset mainMenu" id="nav">
			#foreach ($nav_item in $nav_items)				
				#if($layout.getName($w3c_language_id).equalsIgnoreCase("login"))
				#end
				
				#if ($stringUtil.lowerCase($nav_item.getName()) == $stringUtil.lowerCase("PEOPLE"))
					#set($drpMenuCss="btn icon drpmenugry")
				#else
					#set($drpMenuCss="")
				#end
				
				<li>
				#if ($nav_item.isSelected())
					#if ($stringUtil.lowerCase($nav_item.getName()) == $stringUtil.lowerCase("NEWS AND PUBLICATIONS"))
						<a class="$drpMenuCss active" href="./firms-details"><span>$nav_item.icon() $htmlUtil.escape($nav_item.getName())</span></a>
					#elseif ($stringUtil.lowerCase($nav_item.getName()) == $stringUtil.lowerCase("EVENTS"))
						<a class="$drpMenuCss active" href="./events-details"><span>$nav_item.icon() $htmlUtil.escape($nav_item.getName())</span></a>
					#elseif ($stringUtil.lowerCase($nav_item.getName()) == $stringUtil.lowerCase("PEOPLE"))
						<a class="$drpMenuCss active" href="./firm-statistics-details"><span>$nav_item.icon() $htmlUtil.escape($nav_item.getName())</span></a>	
					#elseif ($stringUtil.lowerCase($nav_item.getName()) == $stringUtil.lowerCase("SIGN IN") && !$is_signed_in)
						<a class="$drpMenuCss active" href="$nav_item.getURL()" $nav_item.getTarget()><span>$nav_item.icon() $htmlUtil.escape($nav_item.getName())</span></a>				
					#elseif ($stringUtil.lowerCase($nav_item.getName()) != $stringUtil.lowerCase("Login")  && $stringUtil.lowerCase($nav_item.getName()) != $stringUtil.lowerCase("SIGN IN"))
						<a class="$drpMenuCss active" href="$nav_item.getURL()" $nav_item.getTarget()><span>$nav_item.icon() $htmlUtil.escape($nav_item.getName())</span></a>
					#end
				#else
					#if ($stringUtil.lowerCase($nav_item.getName()) == $stringUtil.lowerCase("NEWS AND PUBLICATIONS"))
						<a class="$drpMenuCss" href="./firms-details"><span>$nav_item.icon() $htmlUtil.escape($nav_item.getName())</span></a>
					#elseif ($stringUtil.lowerCase($nav_item.getName()) == $stringUtil.lowerCase("EVENTS"))
						<a class="$drpMenuCss" href="./events-details"><span>$nav_item.icon() $htmlUtil.escape($nav_item.getName())</span></a>
					#elseif ($stringUtil.lowerCase($nav_item.getName()) == $stringUtil.lowerCase("PEOPLE"))
						<a class="$drpMenuCss" href="./firm-statistics-details"><span>$nav_item.icon() $htmlUtil.escape($nav_item.getName())</span></a>
					#elseif ($stringUtil.lowerCase($nav_item.getName()) == $stringUtil.lowerCase("SIGN IN") && !$is_signed_in)
						<a class="$drpMenuCss active" href="$nav_item.getURL()" $nav_item.getTarget()><span>$nav_item.icon() $htmlUtil.escape($nav_item.getName())</span></a>				
					#elseif ($stringUtil.lowerCase($nav_item.getName()) != $stringUtil.lowerCase("Login") && $stringUtil.lowerCase($nav_item.getName()) != $stringUtil.lowerCase("SIGN IN"))
						<a class="$drpMenuCss" href="$nav_item.getURL()" $nav_item.getTarget()><span>$nav_item.icon() $htmlUtil.escape($nav_item.getName())</span></a>
					#end
				#end
	
				#if ($stringUtil.lowerCase($nav_item.getName()) == $stringUtil.lowerCase("PEOPLE"))
					<ul>
						#foreach ($nav_child in $nav_item.getChildren())
							#if ($stringUtil.lowerCase($nav_child.getName()) == $stringUtil.lowerCase("FIRM STATISTICS"))
								<li>
									<a href="./firm-statistics-details">$nav_child.getName()</a>
								</li>
							#elseif ($stringUtil.lowerCase($nav_child.getName()) == $stringUtil.lowerCase("ATTORNEY SEARCH"))
								<li>
									<a href="./attorney-details">$nav_child.getName()</a>
								</li>
							#elseif ($stringUtil.lowerCase($nav_child.getName()) == $stringUtil.lowerCase("ATTORNEY MOVES"))
								<li>
									<a href="./attorney-moves-details">$nav_child.getName()</a>
								</li>	
							#else
								<li>
									<a href="$nav_child.getURL()" $nav_child.getTarget()>$nav_child.getName()</a>
								</li>
							#end
						#end
					</ul>
				#end
				</li>
			#end
		</ul>
	</div>
	#if ($layout.friendlyURL.equalsIgnoreCase("/firms-details") || $layout.friendlyURL.equalsIgnoreCase("/firms-analysis"))
		<div class="tpltdiv flLeft">
			$theme.runtime("refirmsearchportlet_WAR_refirmportlet")
		</div>
		
		<div class="tprtdiv flRight">
			&nbsp;
		</div>
		
	#elseif ($layout.friendlyURL.equalsIgnoreCase("/events-details") || $layout.friendlyURL.equalsIgnoreCase("/events-analysis"))
		<div class="tpltdiv flLeft">
			$theme.runtime("reeventsearchportlet_WAR_reevent")
		</div>
		<div class="tprtdiv flRight">
			&nbsp;
		</div>
	#elseif ($layout.friendlyURL.equalsIgnoreCase("/firm-statistics-details") || $layout.friendlyURL.equalsIgnoreCase("/firm-statistics-analysis"))
		<div class="tpltdiv flLeft">
			$theme.runtime("repeoplefirmstatssearchportlet_WAR_repeopleportlet")
		</div>
		<div class="tprtdiv flRight">
			&nbsp;
		</div>
	#elseif ($layout.friendlyURL.equalsIgnoreCase("/attorney-details") || $layout.friendlyURL.equalsIgnoreCase("/attorney-analysis") )
		<div class="tpltdiv flLeft">
			$theme.runtime("reattorneysearchportlet_WAR_reattorneyportlet")
		</div>
		<div class="tprtdiv flRight">
			&nbsp;
		</div>
	#elseif ($layout.friendlyURL.equalsIgnoreCase("/attorney-moves-details") || $layout.friendlyURL.equalsIgnoreCase("/attorney-moves-analysis"))
		<div class="tpltdiv flLeft">
			$theme.runtime("reattorneymoveschangessearchportlet_WAR_reattorneymoveschanges")
		</div>
		<div class="tprtdiv flRight">
			&nbsp;
		</div>
	#end
</div>

#if ($layout.friendlyURL.equalsIgnoreCase("/firms-details") || $layout.friendlyURL.equalsIgnoreCase("/firms-analysis"))
	<ul id="tabs">
          <li><a href="./firms-details" class="active-menu" id="firms-details"><span>DETAILS</span></a></li>
          <li><a href="./firms-analysis" id="firms-analysis"><span>ANALYSIS</span></a></li>
          <h4 class="heading AnalyzeResultHeader">Analyze Results</h4>
    </ul>
     
#elseif ($layout.friendlyURL.equalsIgnoreCase("/events-details") || $layout.friendlyURL.equalsIgnoreCase("/events-analysis"))
	<ul id="tabs">
          <li><a href="./events-details" class="active-menu" id="events-details"><span>DETAILS</span></a></li>
          <li><a href="./events-analysis" id="events-analysis"><span>ANALYSIS</span></a></li>
          <h4 class="heading AnalyzeResultHeader">Analyze Results</h4>
    </ul>
        
#elseif ($layout.friendlyURL.equalsIgnoreCase("/firm-statistics-details") || $layout.friendlyURL.equalsIgnoreCase("/firm-statistics-analysis"))
	<ul id="tabs">
          <li><a href="./firm-statistics-details" class="active-menu" id="firm-statistics-details"><span>DETAILS</span></a></li>
          <li><a href="./firm-statistics-analysis" id="firm-statistics-analysis"><span>ANALYSIS</span></a></li>
          <h4 class="heading AnalyzeResultHeader">Analyze Results</h4>
	 </ul>
#elseif ($layout.friendlyURL.equalsIgnoreCase("/attorney-details") || $layout.friendlyURL.equalsIgnoreCase("/attorney-analysis"))
	<ul id="tabs">
          <li><a href="./attorney-details" class="active-menu" id="attorney-details"><span>DETAILS</span></a></li>
          <li><a href="./attorney-analysis" id="attorney-analysis"><span>ANALYSIS</span></a></li>
          <h4 class="heading AnalyzeResultHeader">Analyze Results</h4>
    </ul>	
#elseif ($layout.friendlyURL.equalsIgnoreCase("/attorney-moves-details") || $layout.friendlyURL.equalsIgnoreCase("/attorney-moves-analysis"))
	<ul id="tabs">
          <li><a href="./attorney-moves-details" class="active-menu" id="attorney-moves-details"><span>DETAILS</span></a></li>
          <li><a href="./attorney-moves-analysis" id="attorney-moves-analysis"><span>ANALYSIS</span></a></li>
          <h4 class="heading AnalyzeResultHeader">Analyze Results</h4>
    </ul>
#end

	<div id="chartPlaceHolder" class="cph" style="display:none">0 Results, Please try a different search</div>
