<%--
/**
 * Copyright (c) 2000-2012 Liferay, Inc. All rights reserved.
 *
 * This library is free software; you can redistribute it and/or modify it under
 * the terms of the GNU Lesser General Public License as published by the Free
 * Software Foundation; either version 2.1 of the License, or (at your option)
 * any later version.
 *
 * This library is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more
 * details.
 */
--%>
<%@page import="java.lang.reflect.Array"%>
<%@page import="java.util.Date"%>
<%@page import="java.util.Calendar"%>
<%@page import="com.coach.cip.util.WebServiceUtil"%>
<%@page import="com.liferay.portlet.asset.model.AssetCategory"%>

<style>
.communications{
color:#FFC000;
font-weight: bold;
}
.discover-coach{
color:#FF2D96;
font-weight: bold;
}
.manager-toolkit{
color:black;
font-weight: bold;
}
.people-management{
color:rgb(128,128,0);
font-weight: bold;
}

.productivity-tools{
color:#C2CCFF;
font-weight: bold;
}
.leadership{
color:#B25700;
font-weight: bold;
}
.portlet-calendar .calendar td {
border: 1px solid #616161;
padding: 5px;
}
</style>

<%
/* CIP Code Change : Start

Reading the parameters from the Request and assigning to the URL's below to hold the state.	
*/ 

HttpServletRequest convertReq = PortalUtil.getHttpServletRequest(renderRequest);
HttpServletRequest servletRequest = PortalUtil.getOriginalServletRequest(convertReq);

String assetCategoryId = Validator.isNotNull(servletRequest.getParameter("_8_categoryId")) ?
		servletRequest.getParameter("_8_categoryId") :
    		Validator.isNotNull(servletRequest.getParameter("categoryId")) ?
    		servletRequest.getParameter("categoryId") : "";
	
String parentCategoryName =Validator.isNotNull(servletRequest.getParameter("_8_parentCategoryName")) ?
		servletRequest.getParameter("_8_parentCategoryName") :
    		Validator.isNotNull(servletRequest.getParameter("parentCategoryName")) ?
    		servletRequest.getParameter("parentCategoryName") : "";
	
String categoryName = Validator.isNotNull(servletRequest.getParameter("_8_categoryName")) ?
	    		servletRequest.getParameter("_8_categoryName") : Validator.isNotNull(servletRequest.getParameter("categoryName")) ? 
	    		servletRequest.getParameter("categoryName") : "";

String userSelectedMonth = Validator.isNotNull(servletRequest.getParameter("_8_month")) ?
   		servletRequest.getParameter("_8_month") :   Validator.isNotNull(servletRequest.getParameter("month")) ? 
   		servletRequest.getParameter("month") : "";
   		
String userSelectedYear = Validator.isNotNull(servletRequest.getParameter("_8_year")) ?
  		servletRequest.getParameter("_8_year") :   Validator.isNotNull(servletRequest.getParameter("year")) ? 
  		servletRequest.getParameter("year") : "";   
  		
if(userSelectedMonth.equals("12")){
	userSelectedMonth = "0";
	userSelectedYear = String.valueOf(Integer.parseInt(userSelectedYear)+1);
}  		
if(userSelectedMonth.equals("-1")){
	userSelectedMonth = "11";
	userSelectedYear = String.valueOf(Integer.parseInt(userSelectedYear)-1);
}  		

if(Validator.isNull(userSelectedMonth) && Validator.isNull(userSelectedYear)){  		
currentURL = currentURL+"&categoryId="+assetCategoryId+"&categoryName="+categoryName+"&parentCategoryName="+parentCategoryName;
}else{
	currentURL = currentURL+"&categoryId="+assetCategoryId+"&categoryName="+categoryName+"&parentCategoryName="+parentCategoryName
					+ "&month=" + userSelectedMonth + "&year=" + userSelectedYear;
}

if(Validator.isNull(assetCategoryId)){
	String layoutTitle = Validator.isNotNull(parentCategoryName) ? parentCategoryName : layout.getHTMLTitle(locale);
	List<AssetCategory> assetCategoryList = WebServiceUtil.fetchAssetCategoryByName(layoutTitle,"CALENDAR",locale);
	if(Validator.isNotNull(assetCategoryList) && assetCategoryList.size() == 1 ){
	List<AssetCategory> childCategoryList = WebServiceUtil.getChildAssetCategories(assetCategoryList.get(0).getCategoryId());
	for (AssetCategory assetCategory : childCategoryList){
		if(Validator.isNull(assetCategoryId)){
			 assetCategoryId = String.valueOf(assetCategory.getCategoryId());
		   }else{
			   assetCategoryId = assetCategoryId+","+assetCategory.getCategoryId();
		   }
		}
  	}
}
String catIds = null;
String[] eventTypeArray = null;	
if(assetCategoryId.contains(",")){
	catIds = assetCategoryId;
	if(!catIds.startsWith("%")){
		catIds = "%"+catIds;
	}
	if(!catIds.endsWith("%")){
		catIds = catIds+"%";
	}
	if(!catIds.contains("%,%")){
		catIds = catIds.replaceAll(",","%,%");
	} 	
	eventTypeArray = catIds.split(",");
}else{	
	catIds = "%"+assetCategoryId+"%"; 
	eventTypeArray = new String[]{catIds};
}

/* CIP Code Change : End */	

Calendar cal = (Calendar)selCal.clone();

cal.set(Calendar.DATE, 1);

if(Validator.isNotNull(userSelectedMonth)){
	cal.set(Calendar.MONTH, Integer.parseInt(userSelectedMonth));
}
if(Validator.isNotNull(userSelectedYear)){
	cal.set(Calendar.YEAR, Integer.parseInt(userSelectedYear));
	selYear = Integer.parseInt(userSelectedYear);
} 

int month = cal.get(Calendar.MONTH);
int year = cal.get(Calendar.YEAR);

int maxDayOfMonth = cal.getActualMaximum(Calendar.DATE);
int dayOfWeek = cal.get(Calendar.DAY_OF_WEEK);

Format dateFormat = FastDateFormatFactoryUtil.getSimpleDateFormat("MMMM, yyyy", locale);
Format timeFormat = FastDateFormatFactoryUtil.getSimpleDateFormat("h:mma", locale);
Format monthDateFormat = FastDateFormatFactoryUtil.getSimpleDateFormat("MMMM", locale);
String cohDayOfLaunch = PropsUtil.get("coach.day.Of.launch");
String coachNoOfMonthsBackFromLaunch= PropsUtil.get("coach.no.of.months.back.from.launch");
SimpleDateFormat coachDateFormatter = new SimpleDateFormat("MMMMM/yyyy");
%>
<div>
	
	<h2><%=monthDateFormat.format(Time.getDate(cal)) %> <%=selYear %></h2>

</div>

<br />
<div style="border:1px solid #616161">
<table class="calendar"  border="0" bordercolor="#616161">
<tbody>
<tr>
		<%
		
		Calendar currentCalendar = Calendar.getInstance();
		currentCalendar.add(Calendar.DATE,-1);
		Calendar beforeCoachCal = Calendar.getInstance();
		Date launchDate = null;
		Calendar calMonthsBackFromLaunchDate = Calendar.getInstance();	
		
		try
		{
			launchDate = (Date)coachDateFormatter.parse(cohDayOfLaunch);
			calMonthsBackFromLaunchDate.setTime(launchDate);
			
			if(coachNoOfMonthsBackFromLaunch != null)
			{
				calMonthsBackFromLaunchDate.add(Calendar.MONTH, -(Integer.parseInt(coachNoOfMonthsBackFromLaunch)));
			}
		}
		catch(Exception e) {
			out.print(e.getMessage());
		}
		
		Calendar cal1 = Calendar.getInstance();  
		cal1.setTime(new Date());  
		int todayMonth =  cal1.get(Calendar.MONTH);
		int todayYear = cal1.get(Calendar.YEAR);
		cal1.setTime(launchDate);  
		int launchMonth =  cal1.get(Calendar.MONTH);
		int launchYear = cal1.get(Calendar.YEAR);
		  
		int differanceInMonth =(todayYear - launchYear) * 12 + (todayMonth - launchMonth);
		
		if(differanceInMonth < 12)
		{
			beforeCoachCal.setTime(calMonthsBackFromLaunchDate.getTime());
			beforeCoachCal.add(Calendar.MONTH, 1);
		}
		else
		{
			beforeCoachCal.setTime(new Date());
			beforeCoachCal.add(Calendar.YEAR, -1);
		}
				 
		%>
		
		<td colspan="2" height="45" style="border-right-width: 0px">
		<%if((beforeCoachCal.getTime().before(cal.getTime())))
		{ %>
			<a style="float:left;" href="<%= urlWithoutAnchor %>&<portlet:namespace />month=<%= cal.get(Calendar.MONTH) - 1 %>&<portlet:namespace />day=<%= selDay %>&<portlet:namespace />year=<%= selYear %>&<portlet:namespace />categoryId=<%= assetCategoryId %>&<portlet:namespace />categoryName=<%= categoryName %>&<portlet:namespace />parentCategoryName=<%= parentCategoryName %>&<portlet:namespace />eventType=<%= HtmlUtil.escape(assetCategoryId) + urlAnchor %>">
			<img alt="<liferay-ui:message key="previous" />" border="0" src="<%= themeDisplay.getPathThemeImages() %>/01_leftOne.png" />
			</a>
			<div style="float:left;"><b>PREVIOUS</br>MONTH</b></div>
		<%} %>
		</td>
		
		<td align="center" height="45" colspan="2" style="border-left-width: 0px; border-right-width: 0px" font-weight: bold;>
			<%= dateFormat.format(Time.getDate(cal)) %>
		</td>
		<%
		Calendar afterCoachCal = Calendar.getInstance();
		try
		{
			//Date date = (Date)coachDateFormatter.parse(cohDayOfLaunch);
		//	afterCoachCal.setTime(new Date());
			afterCoachCal.setTime(launchDate);
			//afterCoachCal.add(Calendar.YEAR, 1);
			afterCoachCal.add(Calendar.MONTH, 11);
		}
		catch(Exception e) {
			out.print(e.getMessage());
		}

		%>
		<td colspan="2" height="45" style="border-left-width: 0px" align="right">
		<%if(!(cal.getTime().after(afterCoachCal.getTime())))
		{ %>
			<a  style="float:right;" href="<%= urlWithoutAnchor %>&<portlet:namespace />month=<%= cal.get(Calendar.MONTH) + 1 %>&<portlet:namespace />day=<%= selDay %>&<portlet:namespace />year=<%= selYear %>&<portlet:namespace />categoryId=<%= assetCategoryId %>&<portlet:namespace />categoryName=<%= categoryName %>&<portlet:namespace />parentCategoryName=<%= parentCategoryName %>&<portlet:namespace />eventType=<%= HtmlUtil.escape(assetCategoryId) + urlAnchor %>">
			<img alt="<liferay-ui:message key="next" />" border="0" src="<%= themeDisplay.getPathThemeImages() %>/01_rightOne.png" />
			</a>
			<div style="float:right;"><b>NEXT</br>MONTH</b></div>
		<%} %>
		</td>
	</tr>

	<tr>
		<%
		for (int i = 0; i < 7; i++) {
			int daysIndex = (selCal.getFirstDayOfWeek() + i) % 7;
		%>

			<td align="center" height="25" width="<%= (i == 0 || i == 6) ? "15" : "14" %>%">
				<%= LanguageUtil.get(pageContext, days[daysIndex]) %>
				<%
				if(daysIndex == 6)
				{
					i++;
				%>
					/ <%= LanguageUtil.get(pageContext, days[0]) %>
				<%	
				}
				%>
			</td>
		<%
		}
		%>

	</tr>

	<tr>

		<%
		if (((selCal.getFirstDayOfWeek()) == Calendar.MONDAY)) {
			if (dayOfWeek == 1) {
				dayOfWeek += 6;
			}
			else {
				dayOfWeek --;
			}
		}
 		
		if (((selCal.getFirstDayOfWeek()) == Calendar.SUNDAY)) {
			if (dayOfWeek == 1) {
				dayOfWeek += 6;
			}
		}
	   if(dayOfWeek > 1)
	   {
		for (int i = 1; i < dayOfWeek-1; i++) {
		%>
			<td height="30"></td>
		<%
		}
	   }
	   
	   SimpleDateFormat sdf = new SimpleDateFormat("EEEEEEEE");
	   String firstDay = sdf.format(cal.getTime());
	   boolean firstSunday = false;
	   if(firstDay.equalsIgnoreCase("Sunday"))
	   {
		   firstSunday = true;
	   }
	   
		for (int i = 1; i <= maxDayOfMonth; i++) {
			if (dayOfWeek > 7) {
		%>
				</tr>
				<tr>
			<%
				dayOfWeek = 2;
			}

			dayOfWeek++;

			Calendar tempCal = (Calendar)selCal.clone();

			tempCal.set(Calendar.MONTH, month);
			tempCal.set(Calendar.DATE, i);
			tempCal.set(Calendar.YEAR, year);

			String className = StringPool.BLANK;

			if ((tempCal.get(Calendar.MONTH) == curMonth) &&
				(tempCal.get(Calendar.DATE) == curDay) &&
				(tempCal.get(Calendar.YEAR) == curYear)) {

				className = "current-day";
			}
			else if ((tempCal.get(Calendar.MONTH) == selMonth) &&
					 (tempCal.get(Calendar.DATE) == selDay) &&
					 (tempCal.get(Calendar.YEAR) == selYear)) {

				className = "selected-day";
			}
			%>

			<td class="lfr-top <%= className %>" height="30">
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td>
						<table border="0" cellpadding="4" cellspacing="0" width="100%">
						<tr>
							<td>
							    <%if(Validator.isNull(userSelectedMonth)){
							    	userSelectedMonth = String.valueOf(selMonth);
							    } 
							    
							   cal.set(Calendar.DATE,i);
						    if(/* (curDay <= i && curMonth <= Integer.parseInt(userSelectedMonth)) || curMonth < Integer.parseInt(userSelectedMonth) || */
							    		/* selYear > curYear */ cal.after(currentCalendar)){%>
								<a href="<portlet:renderURL>
											 <portlet:param name="struts_action" value="/calendar/edit_event" />
											 <portlet:param name="redirect" value="<%= currentURL %>" />
											 <portlet:param name="backURL" value="<%= currentURL %>" />
											 <portlet:param name="month" value="<%= String.valueOf(tempCal.get(Calendar.MONTH)) %>" />
											 <portlet:param name="day" value="<%= String.valueOf(tempCal.get(Calendar.DATE)) %>" />
											 <portlet:param name="year" value="<%= String.valueOf(tempCal.get(Calendar.YEAR)) %>" />
											 <portlet:param name="parentCategoryName" value="<%= parentCategoryName %>" />
											 <portlet:param name="categoryName" value="<%= categoryName %>" />
											 <portlet:param name="categoryId" value="<%= assetCategoryId %>" />
										 </portlet:renderURL>">
								<%= i %>
								
								<%
								if(!(firstSunday)) {
								if(dayOfWeek > 7 && i < maxDayOfMonth) {
									i++;
								%>
								<a href="<portlet:renderURL>
											 <portlet:param name="struts_action" value="/calendar/edit_event" />
											 <portlet:param name="redirect" value="<%= currentURL %>" />
											 <portlet:param name="backURL" value="<%= currentURL %>" />
											 <portlet:param name="month" value="<%= String.valueOf(tempCal.get(Calendar.MONTH)) %>" />
											 <portlet:param name="day" value="<%= String.valueOf(tempCal.get(Calendar.DATE) + 1) %>" />
											 <portlet:param name="year" value="<%= String.valueOf(tempCal.get(Calendar.YEAR)) %>" />
											 <portlet:param name="parentCategoryName" value="<%= parentCategoryName %>" />
											 <portlet:param name="categoryName" value="<%= categoryName %>" />
											  <portlet:param name="categoryId" value="<%= assetCategoryId %>" />
										 </portlet:renderURL>">/ <%= i %>
								</a>		 
								<%
								} }
								firstSunday = false;
								%>
								</a>
								<%}else{
									out.print(i);									
									if(!(firstSunday)) {
										if(dayOfWeek > 7 && i < maxDayOfMonth) {
											i++;
											out.print(" / "+i);
										}}
									firstSunday = false;
								} %>
							</td>
						</tr>
						</table>
					</td>
				</tr>

				<%
				List events = CalEventServiceUtil.getEvents(scopeGroupId, tempCal, eventTypeArray);
				if(!(firstSunday)) {
					if(dayOfWeek > 7 && i < maxDayOfMonth) {
						tempCal.add(Calendar.DATE, 1);
						List sundayEvents = CalEventServiceUtil.getEvents(scopeGroupId, tempCal, eventTypeArray);
						events.addAll(sundayEvents);
					}
				}
				events = ListUtil.sort(events, new EventTimeComparator(timeZone, locale));

				for (int j = 0; j < events.size(); j++) {
					CalEvent event = (CalEvent)events.get(j);

					event = event.toEscapedModel();

					boolean allDay = CalUtil.isAllDay(event, timeZone, locale);

					className = "portlet-section-body results-row";

					if (MathUtil.isEven(j)) {
						className = "portlet-section-alternate results-row alt";
					}
				%>

					<tr>
						<td>
							
							<a class="<%= event.getType() %>" href="<portlet:renderURL>
																		<portlet:param name="struts_action" value="/calendar/view_event" />
																		<portlet:param name="redirect" value="<%= currentURL %>" />
																		<portlet:param name="eventId" value="<%= String.valueOf(event.getEventId()) %>" />
																		<portlet:param name="parentCategoryName" value="<%= parentCategoryName %>" />
																		<portlet:param name="categoryName" value="<%= categoryName %>" />
																		<portlet:param name="categoryId" value="<%= assetCategoryId %>" />
																	</portlet:renderURL>">
							<%= StringUtil.shorten(event.getTitle(), 14) %>
							</a>
							<c:if test="<%= !allDay %>">
							<%
							Calendar startDateCal  = Calendar.getInstance();
							startDateCal.setTime(event.getStartDate());
							
							startDateCal.add(Calendar.HOUR, event.getDurationHour());
							startDateCal.add(Calendar.MINUTE, event.getDurationMinute());
							
							%>
								<c:choose>
									<c:when test="<%= event.isTimeZoneSensitive() %>">
										<br><%= dateFormatTime.format(Time.getDate(event.getStartDate(), timeZone)) %>
										 - <%= dateFormatTime.format(Time.getDate(startDateCal.getTime(), timeZone)) %>
									</c:when>
									<c:otherwise>
										<br><%= dateFormatTime.format(Time.getDate(event.getStartDate(), TimeZoneUtil.getDefault())) %>
										 - <%= dateFormatTime.format(Time.getDate(startDateCal.getTime(), TimeZoneUtil.getDefault())) %>
									</c:otherwise>
								</c:choose>
							</c:if>
						</td>
					</tr>

				<%
				}
				%>

				</table>
			</td>
		<%
		}

		for (int i = 7; i > dayOfWeek - 1; i--) {
			if(i==7){
		%>
			<td height="30" style="border-right-width: 0px"></td>
			
		<%}else if(i == dayOfWeek){ %>		
			<td height="30" style="border-left-width: 0px"></td>
		<%} else {%>
			<td height="30" style="border-right-width: 0px; border-left-width: 0px"></td>
			<%
		} 
			
		}%>

	</tr>
	<%-- <tr> 
	<div class="event-selector">

		<%
		String taglibOnChange = "location.href = '" + urlWithoutAnchor + "&" + renderResponse.getNamespace() + "month=" + selMonth + "&" + renderResponse.getNamespace() + "day=" + selDay + "&" + renderResponse.getNamespace() + "year=" + selYear + "&" + renderResponse.getNamespace() + "eventType=' + this.value + '" + urlAnchor + "';";
		%>
			<%
			for (int i = 0; i < CalEventConstants.TYPES.length; i++) {
				String color = "colorClass" + i;
			%>
			<td> 
				
				<a class="<%= CalEventConstants.TYPES[i]%>" href="<%= urlWithoutAnchor %>&<portlet:namespace />month=<%= selMonth %>&<portlet:namespace />day=<%= selDay %>&<portlet:namespace />year=<%= selYear %>&<portlet:namespace />eventType=<%= CalEventConstants.TYPES[i] + urlAnchor %>">
				<%=LanguageUtil.get(locale, CalEventConstants.TYPES[i])%></a>
				<span class="<%= CalEventConstants.TYPES[i]%>"> <%=LanguageUtil.get(locale, CalEventConstants.TYPES[i])%></span>
			</td>				
			<%
			}
			%>

	</div>
	 </tr> --%>
</tbody>

</table>
</div>
<%
PortalUtil.setPageSubtitle(dateFormat.format(Time.getDate(cal)), request);
%>