fieldset {
	border: 1px solid #BFBFBF;
	padding: 8px;
}

.ie fieldset {
	padding-top: 0;
}

.aui-fieldset {
	border-width: 0;
	padding: 0;
	position: relative;
}

.configuration-popup .aui-fieldset {
	margin-bottom: 0;
}

.aui-fieldset .aui-field-content, .aui-field-row, .aui-button-holder, .aui-field-wrapper-content {
	margin: 10px 0;
}

.aui-field-inline .aui-field-content, .aui-field-row .aui-field-content {
	margin: 0;
	margin-right: 5px;
}

.aui-search-bar .aui-field-content {
	margin-right: 0;
}

.aui-search-bar .aui-field-content, .aui-search-bar .aui-button-content {
	display: inline-block;
	vertical-align: middle;
}

.aui-field-choice .aui-field-label {
	display: inline-block;
}

.aui-field-date .aui-field-content {
	overflow: hidden;
}

legend {
	font-weight: bold;
	padding: 0 6px;
}

.aui-fieldset-legend {
	color: #000;
	font-size: 120%;
	font-weight: bold;
	padding: 0 0 1.5em;
}

.aui-legend {
	border-bottom: 1px solid #CCC;
	display: block;
	position: absolute;
	width: 90%;
}

input {
	background: #FFF;
}



select {
	padding: 1px;
}

input[type="image"] {
	background: transparent none;
	border: none;
	padding: 0;
}



input.aui-form-validator-error, textarea.aui-form-validator-error, select.aui-form-validator-error {
	border: 1px solid #F00;
}

/* ---------- IE6 chokes on attribute selectors in a chain, so we separate them into their own rule ---------- */

.ie6 input.text, input.password, .ie6 input.submit, .ie6 input.file, .ie6 input.button, .ie6 button {
	background-image: url(../images/forms/input_shadow.png);
	background-repeat: no-repeat;
	border: 1px solid;
	border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
	font: 1em Arial, Helvetica, Verdana, sans-serif;
	padding: 5px 1px;
}

.ie6 input.submit, .ie6 input.button, .ie6 button, .ie6 .aui-button-disabled input.submit, .ie6 .aui-button-disabled input.button, .ie6 .aui-button-disabled button {
	background: #D4D4D4 url(../images/portlet/header_bg.png) repeat-x 0 0;
	border-color: #DEDEDE #BFBFBF #BFBFBF #DEDEDE;
	color: #34404F;
	cursor: pointer;
	font-weight: bold;
	padding: 5px;
}

input.focus, textarea.focus, .ie6 input.focus, .ie6 textarea.focus {
	background: #FFC none;
	border: 0px solid #FFFFFF;
}

.ie6 .aui-button-disabled input.submit, .ie6 .aui-button-disabled input.button, .ie6 .aui-button-disabled button {
	color: #555;
}

.ie .aui-button-disabled input {
	-ms-filter: alpha(opacity=50);
	filter: alpha(opacity=50);
}