/* CSS Document */
/* global styling starts here*/

dl,dd,ul,li,p,a {
	padding: 0px;
	margin: 0px;
	outline: none;
}

a {
	text-decoration: none;
}

body {
	margin:0px;
	padding: 0;
	font-size: 12px;
	font-family: Verdana;
	background: #fff;
}

#wrapper {
	width: 100%;
	margin: 0px;
	padding: 0px 0px 20px 0px;
	min-height: 100%;
	max-width: 980px;
	min-width: 120px;
	position: relative;
	
}
/* global styling ends here*/
#top_bar {
	width: 100%;
	height: 32px;
	text-align: right;
}

#header {
	width: 99.8%;
	background-color: #fff;
	border: 1px solid gray
}

#header #header_top {
	width: 100%;
	height: 30px;
	background-color: #000;
	font-size: 14px;
	display:none;
}

#header  a.leftsection {
	float: left;
	color: #000;
	font-size: 14px;
	text-decoration: none;
	padding-left: 10px;
}

a.rightsection {
color: black;
float: right;
font-size: 11px;
margin-top: 17px;
padding-right: 14px;
text-decoration: none;
font-weight: bold;
}

#header #logoDiv {
	height: 77px;
    width: 100%;
    margin-bottom: 3px;
}

#header #logo {
	width: 120px;
	height: 36px;
	float:left;
	
}

#header #logo img {
	width: 115px;
	height: 80px;
}

#header #logo a img {
	border: none;
	width: 115px;
	height: 80px;
}

#header #welcomeDiv a img{
height: 36px;
width: 168px;
}

#header #stockTicker {
	float: right;
	width: 300px;
	height: 16px;
	display:none;
}

#quick_links_bar {
	width: 100%;
	background-color: #DAD9D7;
	margin: 0px auto;
	padding-bottom: 5px;
}

#quick_links_bar #quick_left_section {
	display:block;
	height:19px;
	padding:5px;
}

#quick_right_section {
	margin-left: 0px;
}





#quick_links_bar .searchbox input {
	width: 122px;
	font-size:8px;
	margin-left: 1.5px !important;
	text-align: center;
	padding-left: 2px;
}

#quick_links_bar .searchbox input.text {
	width: 110px;
	border: 1px solid black;
	font-size:11px;
	background: #fff;
	height: 18px;
	line-height: 18px;
    vertical-align: middle;
	padding: 0px;
	float: left;
}

#quick_links_bar .searchbox .searchButton {
	background: #000;
	color: #fff;
	margin-left: 0px !important;
	font-weight: normal;
	text-shadow: none;
	border: 0px;
	padding: 3px 4px 17px 5px;
	border-radius: 0px;
	float: right;
	margin: 9px 2px 0px 0px;
	font-size:11px !important;
}

#mainSearchButton {
 height: 19px !important;
 margin-left:-2px !important;
 line-height: 19px;
 vertical-align: middle;
 font-size:11px !important;
}

#quick_links_bar .employeeDirectory {
	margin: 0px 0px 5px 5px;
	float: left;
	height: 17px;
}

#quick_links_bar .employeeDirectory span {
	margin: 10px 0px 3px 0px;
	line-height: 16px;
	text-decoration: none;
	font-weight: bold;
	color: #616161;
	font-size: 11px;
}

#quick_links_bar .employeeDirectory span a{
padding: 0px 7px 0px 8px;
}

/*header styles end here*/

/* dropdown styling start*/
.desc {
	color: white;
}

.desc a {
	color: white;
}

.dropdown {
	float: right;
	margin-top: 10px
}

.dropdown dd,.dropdown dt,.dropdown ul {
	margin: -15px 0px 0px 0px;
	padding: 0px;
}

.dropdown dd {
	position: relative;
}

#footer .dropdown a,#footer .dropdown a:visited {
	color: black;
	text-decoration: none;
	outline: none;
}

.dropdown a:hover {
	color: white;
}

.dropdown dt a:hover {
	color: white;
	border: 0px solid #d0c9af;
}

.dropdown dt a {
	background: #FFFFFF url(../images/arrow.png) no-repeat scroll right
		center;
	display: block;
	padding-right: 20px;
	border: 0px solid #d4ca9a;
	width: 150px;
}

.dropdown dt a span {
	cursor: pointer;
	display: block;
	padding: 2px;
	text-align: left;
}

.dropdown dd ul {
	background: #e4dfcb none repeat scroll 0 0;
	border: 0px solid #d4ca9a;
	color: #C5C0B0;
	display: none;
	left: 0px;
	padding: 5px 0px;
	width: auto;
	min-width: 170px;
	list-style: none;
	text-align: left;
}

.dropdown span.value {
	display: none;
}

.dropdown dd ul li a {
	padding: 5px;
	display: block;
}

.dropdown dd ul li a:hover {
	background-color: #d0c9af;
}

.dropdown img.flag {
	border: none;
	vertical-align: middle;
	margin-left: 10px;
}

.flagvisibility {
	display: none;
}

/* dropdown styling end */
/* quick-links styling start */
.desc {
	color: #FFF;
}

.desc a {
	color: #FFF;
}
.quick-links{
	
	width:180px;
	
}

.quick-links dd,.quick-links dt,.quick-links ul {
	margin: 1px 0px 0px 0px;
	padding: 0px;
	width: 100%;
}

.quick-links ul {
	border-bottom: 1px solid;
	height: 253px;
	overflow: auto;
	z-index: 50;
}

.quick-links dd {
	position: relative;
	margin-top: 10px
}

.quick-links a {
	color: #000;
	font-style: normal;
	font-size: 12px;
	font-family: Verdana;
	width: 180px;
}


.quick-links a:hover {
	
}

.quick-links dt a:hover {
	color: #000;
}

.quick-links dt a {
	background: #FFFFFF url(../images/arrow.png) no-repeat scroll right
		center;
	display: block;
	padding-right: 20px;
	width: 88%
}

.quick-links dt a span {
	cursor: pointer;
	display: block;
	padding: 1px;
	color: #000;
	font-style: normal;
	font-size: 11px;
	font-family: Verdana;
}

.quick-links dd ul {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #000;
	color: #C5C0B0;
	display: none;
	left: 0px;
	padding: 5px 0px;
	position: absolute;
	top: -11px;
	width: 99%;
	list-style: none;
	z-index: 5000
}

.quick-links span.value {
	display: none;
}

.quick-links dd ul li a {
	padding: 2px;
	display: block;
	font-size: 13px;
}

.quick-links dd ul li a:hover {
	
}

.quick-links img.flag {
	border: none;
	vertical-align: middle;
	margin-left: 10px;
}

.flagvisibility {
	display: none;
}

#searchLinks {
	
}

/* quick-links styling end*/

/* search-links styling start */
.desc {
	color: #6c6c6c;
}

.desc a {
	color: #6c6c6c;
}

.search-links {
	margin-left: 0px;
	padding-top:0px;
	margin-right:20px;
}

.search-links dd,.search-links dt,.search-links ul {
	margin: 1px 0px 0px 0px;
	padding: 0px;
}

.search-links dd {
	position: relative;
	margin-top: 10px
}

.search-links a {
	
}

.search-links a,.search-links a:visited {
	color: #000;
	text-decoration: none;
	outline: none;
}

.search-links a:hover {
	
}

.search-links dt a:hover {
	color: #6c6c6c;
	border: 0px solid #d0c9af;
}

.search-links dt a {
	background: #FFFFFF url(../images/arrow.png) no-repeat scroll right
		center;
	display: block;
	padding-right: 20px;
	width: 159px;
}

.search-links dt a span {
	cursor: pointer;
	display: block;
	padding: 1px;
	color: #000;
	font-style: normal;
	font-size: 10px;
	font-family: Verdana;
}

.search-links dd ul {
	background: #fff none repeat scroll 0 0;
	border: 0px solid #d4ca9a;
	color: #C5C0B0;
	display: none;
	left: 0px;
	padding: 5px 0px;
	position: absolute;
	top: -10px;
	width: auto;
	min-width: 180px;
	list-style: none;
	z-index: 5000
}

.search-links span.value {
	display: none;
}

.search-links dd ul li a {
	padding: 2px 0px 0px 5px;
	display: block;
}

.search-links dd ul li a:hover {
	font-weight: bold;
	background: rgb(218, 217, 217);
}

.search-links img.flag {
	border: none;
	vertical-align: middle;
	margin-left: 10px;
}

.flagvisibility {
	display: none;
}

/* search-links styling end*/
.cleared {
	clear: both;
}

/*navigation styling starts here*/
.top-menu-bar {
	color: white;
	background-color: black;
	width: 100%;
	font-style: normal;
	font-size: 11px;
	font-family: Verdana;
	position: relative;
	font-weight: bold;
}

.top-menu-bar ul.dropdown a {
	text-decoration: none;
}

.top-menu-bar ul.dropdown,.top-menu-bar ul.dropdown ul,.top-menu-bar ul.dropdown ul ul
	{
	list-style: none;
	padding: 0;
	margin: 0
}

/* 
	LEVEL ONE
*/
.top-menu-bar ul.dropdown {
	width: 100%;
	margin: 0px auto;
	background-color: #000;
	position: relative;
	top: 0px;
}

.top-menu-bar ul.dropdown li {
	zoom: 1;
	background: #000;
	border-bottom:1px solid white; 
}

.top-menu-bar ul.dropdown a:hover {
	color: #fff;
}

.top-menu-bar ul.dropdown a:active {
	color: #fff;
}

.top-menu-bar ul.dropdown li a {
	height: 21px;
	display: block;
	padding: 9px 10px 0px 10px;
	color: #fff;
	font-weight: inherit;
	display: block;
}

.top-menu-bar ul.dropdown ul li a {
	padding: 0px 10px 0px 10px !important;
	font-size: 11px;
	height: 10px !important;
	line-height: 10px
}

.top-menu-bar ul.dropdown ul ul {
	padding: 3px 0px 3px 0px;
	width: 101%;
	
}

.top-menu-bar ul.dropdown ul ul li a {
	padding: 2px 10px 6px 10px !important;
	font-size: 11px;
	height: 10px !important;
	line-height: 10px
}

.top-menu-bar ul.dropdown li:last-child a {
	border-right: none;
} /* Doesn't work in IE */
.top-menu-bar ul.dropdown li.hover,.top-menu-bar ul.dropdown li:hover {
	color: black;
	position: relative;
}

.top-menu-bar ul.dropdown li.hover a {
	
	padding: 9px 10px 0px 10px;
	height: 21px;
}

.top-menu-bar ul.dropdown li.hover ul li a{

    color:black;
} 

.top-menu-bar ul.dropdown ul li.hover a {
	color: black;
	padding: 0px 10px 0px 10px !important;
	height: 10px !important;
}

.top-menu-bar ul.dropdown ul ul li.hover a {
	color: black;
	padding: 0px 10px 0px 10px !important;
	height: 10px !important;
}

.top-menu-bar ul.dropdown li.menu4 ul {
	width: 300px;
}
.top-menu-bar ul.dropdown li.menu5 ul {
	width: 250px;
}
.top-menu-bar ul.dropdown li.menu2 ul ul {
	width: 230px;
}
.top-menu-bar ul.dropdown li.menu1 ul ul {
	width: 250px;
}

.top-menu-bar ul.dropdown li.hover ul ul a {
	color: white;
}
/* 
	LEVEL TWO
*/
.top-menu-bar ul.dropdown ul {
	width: 250px;
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	border: 1px solid black;
	position: absolute;
	z-index: +2000;
	background: #fff;
}

.top-menu-bar ul.dropdown ul li {
	font-weight: normal;
	background: #fff;
	color: #000;
	border: none;
	float: none;
}

/* IE 6 & 7 Needs Inline Block */
.top-menu-bar ul.dropdown ul li a {
	border-right: none;
	width: 100%;
	display: inline-block;
}

/* 
	LEVEL THREE
*/
.top-menu-bar ul.dropdown ul ul {
	left: 16%;
    top: 100%;
    border: none;
    position: absolute;
    z-index: 1000;
}
.top-menu-bar ul.dropdown ul ul.menu0 {
	width: 250px;
}

.top-menu-bar ul.dropdown ul ul.menu4 {
	width: 300px;
}

.top-menu-bar ul.dropdown ul ul.menu5 {
	width: 250px;
}

.top-menu-bar ul.dropdown ul ul a {
	color: white;
}

.top-menu-bar ul.dropdown li:hover>ul {
	visibility: visible;
}

/*navigation styles ends here*/

/*content styles starts here*/
#content {
	width: 100%;
	min-height: 300px;
	background: url(../images/content_bg.png) repeat left top;
	border: 0px solid gray;
	margin-top: 4px;
}

#form_container {
	margin-left: 20px;
	padding: 20px 0px 15px 0px;
}
/*content styles ends here*/
#footer {
	width: 94%;
	height: 40px;
	margin-top: -7px;
	padding: 0px 10px 0 10px;
	background-color: #000000;
	color: #fff;
	text-transform: uppercase;
}

#footer .left_section {
	float: left;
	width: 57%;
	padding-top: 7px;
}

#footer .right_section {
	float: right;
	width: 35%;
	text-align: right;
	font-size: 10px;
	padding-top: 5px;
}

#footer .right_section select {
	width: 175px;
	height: 18px;
	background-color: #fff;
	border: none;
	color: #6c6c6c;
	font-size: 12px;
	padding: 1px;
}

#footer a {
	color: #fff;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

/*portlet stylings */
.portlet {
	background-color: #fff;
	border: 1px solid #000;
	margin: 0 0 10px;
	padding: 0px;
	text-align: left;
	border-radius: 0px;
}


.portlet-title {
	font-family: Verdana;
	font-size: 16px;
	color: #fff;
	float: none;
	font-weight: bold;
	min-width: 50%;
	padding: 5px;
	text-shadow: none;

}

.portlet-storeDetail-topper {
	background-color: #E8317D;
	border: 1px solid;
	border-color: #C8C9CA #9E9E9E #9E9E9E #C8C9CA;
	font-size: 1.1em;
	border-radius: 0px;
	background-position: center;
	background-repeat: repeat;
}

.ie .portlet-title {
	padding-bottom: 5px;
}

.ie6 .portlet-topper {
	zoom: 1;
}

/*side navigation styles*/
ul.level-1  li {
	list-style-image: url("../images/side-arrow.PNG");
}

ul.level-1  ul li {
	list-style: none;
	list-style-image: none;
}

ul.level-1  li a {
	text-decoration: none;
}

ul.level-2 {
	padding: 0px;
}

/*.........................select box styling............................*/
.hidden {
	visibility: hidden
}

.message {
	padding: 10px;
	margin: 15px 0;
	display: block;
	text-align: left
}

.message-title {
	font-weight: bold;
	font-size: 1.25em
}

.message-body {
	margin-top: 4px
}

.error,.notice,.success {
	padding: .8em;
	margin-bottom: 1em;
	border: 2px solid #ddd
}

.error {
	background: #FBE3E4;
	color: #8a1f11;
	border-color: #FBC2C4
}

.notice {
	background: #FFF6BF;
	color: #514721;
	border-color: #FFD324
}

.success {
	background: #E6EFC2;
	color: #264409;
	border-color: #C6D880
}

.error a {
	color: #8a1f11
}

.notice a {
	color: #514721
}

.success a {
	color: #264409
}

.error_message {
	width: 340px;
	float: left;
	font-size: 11px;
	color: red;
	clear: both;
}

.mandetory {
	color: red;
	margin: 0 0 0 10px;
	font-size: 14px;
}

/*.........................Button styling............................*/
.submitClass {
	background-color: black;
	color: white;
	padding: 1px;
	margin-left: 4px;
	height: 34px;
	width: 94px;
	border: none;
}

.editQuickLinks,.addQuickLinks {
	cursor: pointer;
}

/*.........................Employee Directory Search............................*/
#employeeDirectoryFormId {
	border: 1px solid #082C63 !important;
	margin-top: 1px;
	padding: 0px;
	margin-bottom: 12px;
	font-weight: bold;
	font-size: 14PX;
}

#employeeDirectoryDetailFormId {
	border: 1px solid #082C63 !important;
	margin-top: 1px;
	padding: 0px;
	margin-bottom: 12px;
}

#employeeDirectoryResultFormId {
	border: 1px solid #082C63 !important;
	margin-top: 1px;
	padding: 0px;
	margin-bottom: 12px;
}
#attachmentFormId {
	border: 1px solid #082C63 !important;
	margin-top: 1px;
	padding: 0px;
	margin-bottom: 12px;
	font-weight: bold;
	font-size: 14PX;
}

#employeeProfileFormId {
	border: 1px solid #082C63 !important;
	margin-top: 1px;
	padding: 0px;
	margin-bottom: 12px;
	font-weight: bold;
	font-size: 14PX;
}

#newHiresFormId {
	border: 1px solid #082C63 !important;
	margin-top: 1px;
	padding: 0px;
	margin-bottom: 12px;
	font-weight: bold;
	font-size: 14PX;
}

#allNewHiresFormId {
	border: 1px solid #082C63 !important;
	margin-top: 1px;
	padding: 0px;
	margin-bottom: 12px;	
}

#allPromotionsFormId {
	border: 1px solid #082C63 !important;
	margin-top: 1px;
	padding: 0px;
	margin-bottom: 12px;	
}

.fistLineFont-td {
	padding: 10px 0px 0px 10px;	
	font-size:12px;
}
.secondLineFont-td {
	padding: 0px 0px 0px 10px;	
	font-size:12px;
}	

#promotionsFormId {
	border: 1px solid #082C63 !important;
	margin-top: 1px;
	padding: 0px;
	margin-bottom: 12px;
	font-weight: bold;
	font-size: 14PX;
}
.tableEmployee {
	width: 100%;
}

.tableEmployee-heading {
	background-color: #082C63;
	color: white;
	padding: 8px 0px 8px 10px;
	font-size: 14px;
	font-weight: bold;
}

.tableEmployee-td {
	padding: 0px 0px 10px 10px;
}

.aui-column-content,.aui-column-content-center {
	padding: 0 0px;
	margin: 0 0px;
}

.portlet-search .search-layout .search-layout-content .menu .search-facet {
	border-top: none;
	padding: 0px 0;
}

.portlet-search .menu-column .search-layout-content{
	padding-left: 13em;
}

.portlet-search .menu-column .search-layout-content .menu {
	
	border: 1px solid #EB3528;	
	position: relative;
	width: 334px;
	margin-left: -236px;
	margin-right: 10px;
}

.results-header {
	background: #D1D6DC;
}

.results-header th,.results-header td {
	color: white;
	padding: 5px 8px;
	font-family: Verdana;
	font-size:14px !important;
	background: #000000;
}

.results-header-span {
	color: #000;
	padding: 5px 10px;
	font-family: Verdana;
	font-weight: bold;
}

.results-header-employee {
	padding: 5px 10px;
	font-family: Verdana;
}

.refine-search {
	background: #EB3528;
	color: white;
	padding: 5px 0px 7px 7px;
	font-size: 13px;
	font-weight: bold;
	margin-bottom:4px;
}

/*.........................country list............................*/
#sddm {
	margin: 0;
	padding: 0;
	z-index: 999
}

#sddm li {
	margin: 0;
	padding: 2px;
	list-style: none;
	float: left;
	font: bold 11px arial
}

#sddm li a {
	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	width: 60px;
	background: #5970B2;
	color: #FFF;
	text-align: center;
	text-decoration: none
}

#sddm div {
	position: absolute;
	visibility: hidden;
	margin-top: 12px;
	padding: 6px;
	background: #CCC;
	border: 1px solid black;
	z-index: 9999;
	width: 267px;
	left:0px;	
}

#sddm div a {
	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	background: #EAEBD8;
	color: #2875DE;
	font: 11px arial
}

#sddm div a:hover {
	background: #49A3FF;
	color: #FFF
}

#m1 ul {
	display: block;
	font-weight: normal;
	z-index: 999;
}

#m1 ul li {
	display: block;
	font-weight: normal;
}

#p_p_id_quicklinks_WAR_cipportlet_INSTANCE_8AL6vW9zIFXe_ {
	display: none;
}

.stores-intro-message {
	padding: 10px;
	font-size: 11px;
	font-weight: bold;
	font-family: verdana;
}

.taglib-search-iterator-page-iterator-top {
	display: none;
}



.portlet-topper {
	background-color: #EB3528;
	border: 0px solid;
	font-size: 1.1em;
	border-radius: 0px;
}
#portlet-topper1{
	background-color: #EB3528;
	border: 0px solid;
	font-size: 1.1em;
	border-radius: 0px;
}
#portlet-topper2 {
	background-color: #1856AB;
	border: 0px solid;
	font-size: 1.1em;
	border-radius: 0px;
}
#portlet-topper3 {
	background-color: #009864;
	border: 0px solid;
	font-size: 1.1em;
	border-radius: 0px;
}
#portlet-topper4 {
	background-color: #E8317D;
	border: 0px solid;
	font-size: 1.1em;
	border-radius: 0px;
}
#portlet-topper5 {
	background-color: #7D2F29;
	border: 0px solid;
	font-size: 1.1em;
	border-radius: 0px;
}
#portlet-topper6 {
	background-color: #F83229;
	border: 0px solid;
	font-size: 1.1em;
	border-radius: 0px;
}

.portlet-title-text {
	cursor: default;
}

.lfr-header-row {
	background: #8F8F8F url(../images/application/header_row_bg.png) repeat-x 0px 0px;
}


.tag-cloud li, .tag-list li{
	width:200px;
}
	
.search-facet {
	border-top: none !important;
	padding: 0px 0 !important;
}

.searchSubmitClass{	
	background: black;
	color: white;
	width: 187px;
	border-radius: 0px !important;
	font-weight: bold;
	border: 0px;
	font-size: 12px;
	padding:2px 0px 2px 0px;
	margin-top:3px;
}

.portlet-search .search-layout .search-layout-content .menu .search-facet .facet-value a{
	text-decoration: none;
	font-size: 12px;
	color: black;

}

.portlet-search .search-layout .search-layout-content .menu .search-facet .facet-value.current-term{	
	font-weight: bold;	
	background: none;
}

.portlet-search .search-layout .search-layout-content .menu .search-facet .facet-value.current-term a {
	color: #EB3528;	
}

.portlet-search .search-layout .search-layout-content .result{
	width:93%;
	
}

.taglib-social-bookmarks{
		display:none;
}
	
 .portlet-search .portlet{
	border:none !important;
}

 .portlet-search .portlet .portlet-topper{
	display:none !important;
}

.result{
	/*width: 97.8% !important;*/
	margin-top: -10px;
}

.searchdiv{
width:100%;
margin-left: 68px;

}

.portlet-search .search-layout .search-layout-content .result .asset-entry .asset-entry-title{
	color: black;
	display: block;
	font-size: 14px;
	font-weight: bolder;
}


.portlet-column {
display: block !important;
vertical-align: top;
width:100% !important;
}
.portlet-column-content {
padding: 0px;
}

#p_p_id_Webcontent_WAR_cipportlet_{
	display:block;
	
	}
	
	
#stockTickerTwo{
display: block;
height: 40px;
width: 210px;
}

#collapseButton{
Display:none;
}



table.tableEmployee table.taglib-search-iterator tr th{
	color:  #EB3528;
	}
	
	table.webcontentTable{
	width:95%;
	margin-left:24px;
	}
	
td.NewssecondColumn{

width:65%;

}


#searchWrapper {
border: 1px solid #EB3528;
margin: 16px 10px 10px -231px;
width: 203%;
}

#newHiresEmployeeProfileFormId {
	border: 1px solid #082C63 !important;
	margin-top: 1px;
	padding: 0px;
	margin-bottom: 12px;
}
#promotionsEmployeeProfileFormId {
	border: 1px solid #082C63 !important;
	margin-top: 1px;
	padding: 0px;
	margin-bottom: 12px;
}
/* language-links styling start */
.desc {
	color: #6c6c6c;
}

.desc a {
	color: #6c6c6c;
}

.language-links {
	margin-left: 0px;
	padding-top:0px;
	padding-left:122px;
}

.language-links dd,.language-links dt,.language-links ul {
	margin: 1px 0px 0px 0px;
	padding: 0px;
}

.language-links dd {
	position: relative;
	margin-top: 10px
}

.language-links a {
	
}

.language-links a,.language-links a:visited {
	color: #000;
	text-decoration: none;
	outline: none;
}

.language-links a:hover {
	
}

.language-links dt a:hover {
	color: #6c6c6c;
	border: 0px solid #d0c9af;
}

.language-links dt a {
	background: #FFFFFF url(../images/arrow.png) no-repeat scroll right
		center;
	display: block;
	padding-right: 20px;
	width: 170px;
}

.language-links dt a span {
	cursor: pointer;
	display: block;
	padding: 1px;
	color: #000;
	font-style: normal;
	font-size: 11px;
	font-family: Verdana;
	height: 17px;
}

.language-links dd ul {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #000;
	color: #C5C0B0;
	display: none;
	left: 0px;
	padding: 5px 0px;
	position: absolute;
	top: -11px;
	width: 189px;
	min-width: 184px;
	list-style: none;
	z-index: 5000
}

.language-links span.value {
	display: none;
}

.language-links dd ul li a {
	padding: 1px 0px 0px 7px;
	display: block;
}

.language-links dd ul li a:hover {
	font-weight: bold;
	background: rgb(218, 217, 217);
}

.language-links img.flag {
	border: none;
	vertical-align: middle;
	margin-left: 10px;
}

.flagvisibility {
	display: none;
}

#p_p_id_82_{
width:92px;
height:23px;

}

.ticker-wrapper.has-js {
width: 88.4% !important;
}


ticker {
width: 75% !important;
}

.quickHover{
  background: #DAD9D7;
  text-decoration: underline !important;
  font-weight:bold;
}

.logoName{
position:relative;
top:-22px;
font-size:30px;
color: #000;
font-style: italic;
font-family:'Times New Roman',Georgia,Serif;
}


.greetingDiv{
float: left;
margin: -3px 0px 0px 122px;
}




/*allcoach news*/

.container {
	width: 910px;
	height: 50px;
	overflow: hidden;
	position: relative;	
}

.slides {
	position: absolute;
	top: 0;
	left: 0;
	list-style: none;
	padding: 0;
	margin: 0;
}

.slides li {
	position: absolute;
	top: 0;
	height: 60px;
	width: 928px;
	padding: 0;
	margin: 0;
	padding-bottom: 30px;
}

#loopedSlider,#newsSlider {
	width: 928px;
	position: relative;
	clear: both;
	height: 90px;
}

.box {
	width: 190px;
height: 82px;
border-right: 1px solid black;
float: left;
padding: 0px 17px 0px 20px;
margin-right: 3px;
margin-top: 4px;
}

.box p {
	padding: 0 0 5px 0;
	color: #000;
	margin: 0;
	text-transform: uppercase;
}

.box a {
	color: #000;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

.box a:hover {
	text-decoration: none;
}


/*end of allcoachnews css*/

/* SIDE NAVIGATION CSS START  */

.demo-container ul, .demo-container ul li{list-style: none;}
.demo-container {width: 325px;overflow:auto;max-height:610px;min-height: 200px;}
.dcjq-count {float: right;}

.grey .accordion{font-size:12px; border-top: 1px solid #ccc; border-right: 1px solid #ccc; border-left: 1px solid #ccc;}
.grey .accordion, .grey .accordion li {margin: 0; padding: 0; border: none;position: relative;}
.grey .accordion a {padding: 5px 10px 5px 1px;  text-decoration:none; display: block; color: #333;position: relative; text-shadow: 1px 1px 1px #fff;left:20px}
.grey .accordion a.dcjq-parent, .grey .accordion a.dcjq-parent:hover {}
.grey .accordion a.dcjq-parent.active {}
.grey .accordion span.dcjq-icon {position: absolute; width: 12px; margin-top: 0px; height: 24px; background: url(../images/sidenav-arrow.png) no-repeat 0 center;float: left;}
.grey .accordion a:active{}

/* SIDE NAVIGATION CSS START  */



/* Ticker Styling */
.ticker-wrapper.has-js {	
	padding: 0px 20px;
	width: 96%;
	height: 32px;
	display: block;	
	background-color: #f8f0db;
	margin-top: -9px;
	font-size: 0.75em;
}
.ticker {
width: 87%;
height: 23px;
display: block;
position: relative;
overflow: hidden;
background-color: #F8F0DB;
left: 5px;
}
.ticker-title {
	padding-top: 9px;
	color: #990000;
	font-weight: bold;
	background-color: #f8f0db;
	text-transform: uppercase;
}
.ticker-content {
	margin: 0px;
	padding-top: 9px;
	position: absolute;
	color: #1F527B;
	font-weight: bold;
	background-color: #f8f0db;
	overflow: hidden;
	white-space: nowrap;
	line-height: 1.2em;
}
.ticker-content:focus {
	/*none;*/
}
.ticker-content a {
	text-decoration: none;	
	color: #1F527B;
}
.ticker-content a:hover {
	text-decoration: underline;	
	color: #0D3059;
}
.ticker-swipe {
	padding-top: 9px;
	position: absolute;
	top: 0px;
	background-color: #f8f0db;
	display: block;
	width: 800px;
	height: 23px; 
}
.ticker-swipe span {
	margin-left: 1px;
	background-color: #f8f0db;
	border-bottom: 1px solid #1F527B;
	height: 12px;
	width: 7px;
	display: block;
}
.ticker-controls {
	padding: 8px 0px 0px 0px;
	list-style-type: none;
	float: left;
}
.ticker-controls li {
	padding: 0px;
	margin-left: 5px;
	float: left;
	cursor: pointer;
	height: 16px;
	width: 16px;
	display: block;
}
.ticker-controls li.jnt-play-pause {
	background-image: url('../images/controls.png');
	background-position: 32px 16px;
}
.ticker-controls li.jnt-play-pause.over {
	background-position: 32px 32px;
}
.ticker-controls li.jnt-play-pause.down {
	background-position: 32px 0px;
}
.ticker-controls li.jnt-play-pause.paused {
	background-image: url('../images/controls.png');	
	background-position: 48px 16px;
}
.ticker-controls li.jnt-play-pause.paused.over {
	background-position: 48px 32px;
}
.ticker-controls li.jnt-play-pause.paused.down {
	background-position: 48px 0px;
}
.ticker-controls li.jnt-prev {
	background-image: url('../images/controls.png');
	background-position: 0px 16px;		
}
.ticker-controls li.jnt-prev.over {
	background-position: 0px 32px;		
}
.ticker-controls li.jnt-prev.down {
	background-position: 0px 0px;		
}
.ticker-controls li.jnt-next {
	background-image: url('../images/controls.png');	
	background-position: 16px 16px;	
}
.ticker-controls li.jnt-next.over {
	background-position: 16px 32px;	
}
.ticker-controls li.jnt-next.down {	
	background-position: 16px 0px;	
}
.js-hidden {
	display: none;
}
.no-js-news {
	padding: 10px 0px 0px 45px; 
	color: #F8F0DB;
}
.left .ticker-swipe {
	/*left: 80px;*/
}
.left .ticker-controls, .left .ticker-content, .left .ticker-title, .left .ticker {
    float: left;
}
.left .ticker-controls {
    padding-left: 6px;
}
.right .ticker-swipe {
	/*right: 80px;*/
}
.right .ticker-controls, .right .ticker-content, .right .ticker-title, .right .ticker {
    float: right;
}
.right .ticker-controls {
    padding-right: 6px;
}

#footerGlodeDiv{
display:block;
}

#empDirTable input{
  border: 1px solid black !important;
}

#headerGlodeDiv{
display: none;
}

#pdf-placeholder img{
 position: relative;
 top: 200px;
 left: 60px;
}

img.imgBanner{

width:330px;
}

#pdfid{
	 width:100%;
	}
	
.organizations-links{
	display:none;
}


#pdfCSSWrapper {
	min-height:450px;
	width:100%;
	overflow-y:hidden;
	overflow-x:auto;
	-webkit-overflow-scrolling: touch;
}

#myIframeWrapper {
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

#pdfCSSHRCenterWrapper {
	min-height:125px;
	width:100%;
	overflow:auto;
	-webkit-overflow-scrolling: touch;
	height:150px;
}

#jounalArticleCSSWrapperDiv {
 	min-height:125px;
	width:100%;
	overflow:auto;
	-webkit-overflow-scrolling: touch;
	height:150px;
}

#pdfObjectCSSHRCenterWrapper {
	overflow:scroll;
	-webkit-overflow-scrolling: touch;
	height:100%;
	padding-top:5px;
}

#pdfObjectCSSWrapper {
 	overflow:auto;
	-webkit-overflow-scrolling: touch;
    height:600px;
}

#qandAIdCSSWrapper {
  min-height:125px;
  height:100%;
  width : 100%;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
}

#qandAHRCenterCSSWrapper {
  min-height:125px;
  height: 150px;
  width : 100%;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
}

#instructionIdCSSWrapper {
  min-height:125px;
  height:100%;
  width : 100%;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
}

#instructionHRCenterCSSWrapper {
  min-height:125px;
  height: 150px;
  width : 100%;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
}


/* Tiny Table start */
/* * {margin:0; padding:0; outline:0}
body {font:11px Verdana,Arial; margin:25px; background:#fff url(images/bg.gif) repeat-x} */
#editQuickParentDiv {
  width:330px;
   height : auto;
   min-height:125px;  
}

#tablewrapper { 
	width:100%; margin:0 auto
}
#tableheader {
	height:25px;
	padding-bottom:5px;
}

#message-green {
 width:100%;
}

#message-red {
  width:100%;
}

.search { 
	float:left; 
	padding:6px; 
	border:1px solid #c6d5e1;
	background:#fff
	}
#tableheader select {
	float:left;
	font-size:12px; 
	width:50px; 
	padding:2px 4px 4px;
	}
#tableheader input {
	float:left;
	font-size:12px; 
	width:100px; 
	padding:2px 4px 4px;
	margin-left:4px
	}

.details div { 
	float:left;
    padding-top:3px;	
	margin-left:5px; 
	font-size:12px;
	padding-right:2px;
	}
#resetDiv {
	float:right;
	}
	
.tinytable {
	width:100%; 
	border-left:1px solid #c6d5e1; 
	border-top:1px solid #c6d5e1; 
	border-bottom:none;
    margin-bottom:5px;
	
	}
.resultHeader {
  background: #222;
}
.tinytable th {
     background: #222;
	text-align:left; 
	color:#cfdce7;
	border:1px solid #fff; 
	border-right:none
	}
.tinytable th h3 {
	font-size:12px; 
	padding-left: 6px;
    margin : 0px;	
	}
.tinytable td {
	padding:4px 6px 6px; 
	border-bottom:1px solid #c6d5e1; 
	border-right:1px solid #c6d5e1
	}
.tinytable .head h3 {
	background:url(../images/sort.gif) 7px center no-repeat; 
	cursor:pointer;
	padding-left:18px;
	}
.tinytable .desc, .sortable .asc {
	background:url(../images/header-selected-bg.gif)
	}
.tinytable .desc h3 {
	background:url(../images/desc.gif) 7px center no-repeat;
	cursor:pointer; 
	padding-left:18px;
	}
.tinytable .asc h3 {
	background:url(../images/asc.gif) 7px  center no-repeat; 
	cursor:pointer; 
	padding-left:18px
	}
.tinytable .head:hover, .tinytable .desc:hover, .tinytable .asc:hover {
	color:#fff;
	}
.tinytable .evenrow td {
	background:#fff;
	}
.tinytable .oddrow td {
	background:#ecf2f6;
	}
.tinytable td.evenselected {
	background:#ecf2f6;
	}
.tinytable td.oddselected {
	background:#dce6ee;
	}
.tinytable tfoot {
	background:#fff; 
	font-weight:bold;
	}
.tinytable tfoot td {
	padding:6px 8px 8px;
	}
#tablefooter {
	height:15px; 
	margin-top:20px;
	display:inline;
    margin-bottom:5px;
	}
#tablenav {
	float:left;
	padding-left:3px;
	}
#tablenav img {
	cursor:pointer;
	}
#tablenav div {
	float:right; 
	margin-right:15px;
	}
#tablelocation {
	float:left; 
	font-size:12px;
	font-weight:bold;
	}
#tablelocation select {
	margin-right:1px;
	}
#tablelocation div {
	float:left; 
	margin-left:15px;
	}
.page {
	margin-top:2px; 
	font-style:italic;
	}
#selectedrow td {
	background:#c6d5e1;
	}

.pageUrlWidth {
  width: 200px;
}

#assetURLDiv .assetURlDivCSS {
  width:140px;
  padding-right:10px;

}

/*.........................Employee Search............................*/
#employeeSearch .firstNameAndOrLastNameTxtBx{
	
	color: black;
	background-color: white;
	height: 17px;
	line-height: 17px;
	vertical-align: middle;
	border: 1px solid black;
	width: 120px;
	border-radius:0px;
	padding-left: 3px;
	font-size: 8px;
	margin-top:0px;
	
}


#employeeSearch .employeeSearchBtn{
	
	background-color: black; 
	color: white; 
	padding: 1px;
	height: 19px; 
	line-height: 19px; 
	vertical-align: middle;
	width: 128px;
	margin-left: 4px;
	border: none;
	font-size: 11px;
	border-radius: 0px;
	font-weight: bold;
	margin-top:0px;
	padding-bottom:2px;
}

#employeeSearch .advancedSearchLink{
	
	color: black;
	font-size: 8px;
	font-weight: bold;
	text-decoration: underline;
	}
#quick_links_bar #mainSearchId {
 margin-top: 0px !important;
 line-height: 17px;
 vertical-align: middle;
}

/*.........................Employee Directory Search............................*/
#addQLPageName {
background: white;
border: 1px solid gray;
height: 17px;
padding: 2px;
}

#top-panel {
    position:absolute;
	left:0px;
    top:248px;
	z-index:9999;
	background: white;
	float: right;
	color: #000;
	border-bottom: 3px solid #a6c34e;
	padding: 14px 20px;
	width: 350px;
	text-align: right;
	height:300px;
	overflow:auto;
}

#top-panel .li {
   
}

#sub-panel {
    height:30px;
    width: 65px;
	text-align: center;
	margin: 4px 0px 0px 0px;
	float: left;	
}
#sub-panel a {
    height:19px;
    width: 35px;
	float: left;	
	color: red;
	font-size: 9px;
	text-decoration: none;
	margin-left: 10px;
	font-weight: bold;
	 background: url(../images/enevelope.jpg) right bottom no-repeat;
	padding-top:5px;
}
#sub-panel a span {
    height:30px;
    width: 65px;	
	background: url(img/sub-right.png) right bottom no-repeat;
	display: block;
}
strong {
	color: #000000;
}
.face {
	border: solid 2px #a6c34e;
	margin-left: 10px;
	float: right;
}


#top-panel .notification {
text-align: left;
}

#top-panel .coachTitle {
	margin-top: 4px;
	float: left;
	padding-right: 3px;
	padding-bottom : 8px;
}

.clockDivStyle {
  position: relative;
  float: left;
  margin-top: 0px;
  padding: 0px 8px 0px 0px;
}
.highlightNotification:hover {
	text-decoration: none; 
	color:blue !important;
}
