<%-- There is a potential need to render only one table rather than rendering two and displaying one conditionally
Consider it as a cue on performance improvement
--%>
<%@page import="com.alm.rivaledge.util.ALMConstants"%>
<%@page import="com.alm.rivaledge.transferobject.PeopleSearchDTO"%>
<%@page import="com.alm.rivaledge.model.PeopleSearchModelBean"%>
<%@page import="com.alm.rivaledge.util.WebUtil"%>
<%@page import="java.net.URLEncoder"%>
<%@page import="java.util.TreeMap"%>
<%@page import="com.alm.rivaledge.transferobject.PeopleResultDTO"%>
<style>

button 
{
    background:none!important;
     border:none; 
     padding:0!important;
    /*border is optional*/
     border-bottom:1px solid #444; 
}
</style>

<%
  	TreeMap<Double, String> cssClassMap = (TreeMap<Double, String>) request.getAttribute("cssClassMap");
	String 					searchJSON 	= WebUtil.getJson((PeopleSearchModelBean) request.getAttribute("peopleSearchModelBean"));
%>

 <!-- Title grouping results Start -->
<c:if test="${peopleSearchModelBean.orderBy  == -1}"> <%--Group By Title --%>
 <div id="mainResults">
        
         <table  border="0"  cellspacing="0" cellpadding="0" class="tble3">
          <colgroup>
          <col width="12.5%"/>
      	  <col width="6%" id="offices_subheader_col" />
          <col width="6%" id="practices_subheader_col" /> 
          <col width="5%" id="firmHeadcount_subheader_col" />
          <col width="3%" id="plus_firmHeadcount_subheader_col" />
          <col width="3%" id="minus_firmHeadcount_subheader_col" />
          <col width="5%" id="partners_subheader_col" />
          <col width="3%" id="plus_partners_subheader_col" />
          <col width="3%" id="minus_partners_subheader_col" />
          <col width="5%" id="associates_subheader_col" />
          <col width="3%" id="plus_associates_subheader_col" />
          <col width="3%" id="minus_associates_subheader_col" />
          <col width="5%" id="otherCounsel_subheader_col" />
          <col width="3%" id="plus_otherCounsel_subheader_col" />
          <col width="3%" id="minus_otherCounsel_subheader_col" />
          <col width="5%" id="admin_subheader_col" />
          <col width="3%" id="plus_admin_subheader_col" />
          <col width="3%" id="minus_admin_subheader_col" />
          <col width="5%" id="other_subheader_col" />
          <col width="3%" id="plus_other_subheader_col" />
          <col width="3%" id="minus_other_subheader_col" />
          <col width="5%" />
         
          </colgroup>
          
          <tr class="tpbar">
            <th align="left">Firm</th>
            <th	id="offices_header">Offices</th>
            <th	id="practices_header">Practices</th> 
            <th	id="firmHeadcount_header" colspan="3">Firm Headcount</th>
            <th id="partners_header" colspan="3">Partners</th>
            <th id="associates_header" colspan="3">Associates</th>
            <th id="otherCounsel_header" colspan="3">Other Counsel</th>
            <th id="admin_header" colspan="3">Admin</th>
            <th id="other_header" colspan="3">Other</th>
           <th>% Chg. (Attorneys)</th>
           
          </tr>
          <tr>
            <th align="left">&nbsp;</th>
        	<th	id="offices_subheader">Total</th>
            <th	id="practices_subheader">Total</th> 
            <th id="firmHeadcount_subheader">Total</th>
            <th	id="plus_firmHeadcount_subheader"><span class="btn icon addgry">&nbsp;</span></th>
            <th	id="minus_firmHeadcount_subheader"><span class="btn icon negry">&nbsp;</span></th>
            <th id="partners_subheader">Total</th>
            <th	id="plus_partners_subheader"><span class="btn icon addgry">&nbsp;</span></th>
            <th	id="minus_partners_subheader"><span class="btn icon negry">&nbsp;</span></th>
            <th id="associates_subheader">Total</th>
            <th	id="plus_associates_subheader"><span class="btn icon addgry">&nbsp;</span></th>
            <th	id="minus_associates_subheader"><span class="btn icon negry">&nbsp;</span></th>
            <th id="otherCounsel_subheader">Total</th>
            <th	id="plus_otherCounsel_subheader"><span class="btn icon addgry">&nbsp;</span></th>
            <th id="minus_otherCounsel_subheader"><span class="btn icon negry">&nbsp;</span></th>
            <th	id="admin_subheader">Total</th>
            <th	id="plus_admin_subheader"><span class="btn icon addgry">&nbsp;</span></th>
            <th	id="minus_admin_subheader"><span class="btn icon negry">&nbsp;</span></th>
            <th	id="other_subheader">Total</th>
            <th id="plus_other_subheader"><span class="btn icon addgry">&nbsp;</span></th>
            <th id="minus_other_subheader"><span class="btn icon negry">&nbsp;</span></th>
            <th>%</th>
          </tr>
         
	       <c:choose>
		         <c:when test="${fn:length(fsResultsList) gt 0}">          	
		          <c:forEach var="results" items="${fsResultsList}" varStatus="loopStatus">
<%
	PeopleResultDTO thisResultDTO 	= (PeopleResultDTO) pageContext.getAttribute("results");
	String			drilldownURL  	= "?firmStatsDrilldown=" + URLEncoder.encode(thisResultDTO.getCompanyName(), "UTF-8") + "&drilldownSearch=" + URLEncoder.encode(searchJSON, "UTF-8");
	String			titlePartner	= URLEncoder.encode(ALMConstants.PARTNERS, "UTF-8");
	String			titleAssociate	= URLEncoder.encode(ALMConstants.ASSOCIATES, "UTF-8");
	String			titleCounsel	= URLEncoder.encode(ALMConstants.OTHER_COUNSEL, "UTF-8");
	String			titleAdmin		= URLEncoder.encode(ALMConstants.ADMINISTRATIVE, "UTF-8");
	String			titleOther		= URLEncoder.encode(ALMConstants.OTHER, "UTF-8");
	String			typeAdditions	= URLEncoder.encode(ALMConstants.ADDITIONS, "UTF-8");
	String			typeRemovals	= URLEncoder.encode(ALMConstants.REMOVALS, "UTF-8");
%>
			         <c:if test="${(comparisonResultCount eq loopStatus.index) and (comparisonResultCount gt 0)}"> 
			          <%--Differentiate between comparison data and normal results --%>
				          <tr style="border-bottom:2px black solid; height :0px"><td colspan="22"></td></tr> 
			          </c:if>
			    
			          <tr class="odd">
			            <td>
			            <div style="text-align:left;margin-left:10px">
			               <c:choose>
			               	<c:when test="${not empty results.companyWebsite}">
			               		<a href="${results.companyWebsite}" target="_blank">${results.companyName}</a>
			               	</c:when>
			               	<c:otherwise>
			               		${results.companyName}
			               	</c:otherwise>
			               </c:choose>
			               </div>
			            </td>
			            <td id="offices_${results.companyId}">
			            	<button id="officeExpand_${results.companyId}" value="${results.companyId}">
			            		${results.officesCount}
			            	</button>
			            </td>
	            		<td id="practices_${results.companyId}">
	            			<button id="practiceExpand_${results.companyId}" value="${results.companyId}">
	            				${fn:length(results.practicesMap)}
	            			</button>
	            		</td> 
			            <td	id="firmHeadcount_${results.companyId}">
			            	<a href="attorney-details<%= drilldownURL %>">
			            		${results.companyPeople.headCount}
			            	</a>
			            </td>
			            <td id="plus_firmHeadcount_${results.companyId}">
			            	<div class="blue">
			            		<a href="attorney-moves-details<%= drilldownURL %>&mode=<%= typeAdditions %>">
			            			${results.companyPeople.headCountPlus}
			            		</a>
			            	</div>
			            </td>
			            <td id="minus_firmHeadcount_${results.companyId}">
			            	<div class="red">
			            		<a href="attorney-moves-details<%= drilldownURL %>&mode=<%= typeRemovals %>">
			            			${results.companyPeople.headCountMinus}
			            		</a>
			            	</div>
			            </td>
			            <td id="partners_${results.companyId}">
			            	<a href="attorney-details<%= drilldownURL %>&title=<%= titlePartner %>">
			            		${results.companyPeople.partnerCount}
		            		</a>
		            	</td>
			            <td id="plus_partners_${results.companyId}">
			            	<div class="blue">
			            		<a href="attorney-moves-details<%= drilldownURL %>&mode=<%= typeAdditions %>&title=<%= titlePartner %>">
			            			${results.companyPeople.partnerCountPlus}
			            		</a>
			            	</div>
			            </td>
			            <td id="minus_partners_${results.companyId}">
			            	<div class="red">
			            		<a href="attorney-moves-details<%= drilldownURL %>&mode=<%= typeRemovals %>&title=<%= titlePartner %>">
			            			${results.companyPeople.partnerCountMinus}
			            		</a>
			            	</div>
			            </td>
			            <td id="associates_${results.companyId}">
			            	<a href="attorney-details<%= drilldownURL %>&title=<%= titleAssociate %>">
			            		${results.companyPeople.associateCount}
			            	</a>
			            </td>
			            <td id="plus_associates_${results.companyId}">
			            	<div class="blue">
			            		<a href="attorney-moves-details<%= drilldownURL %>&mode=<%= typeAdditions %>&title=<%= titleAssociate %>">
			            			${results.companyPeople.associateCountPlus}
			            		</a>
			            	</div>
			            </td>
			            <td id="minus_associates_${results.companyId}">
			            	<div class="red">
			            		<a href="attorney-moves-details<%= drilldownURL %>&mode=<%= typeRemovals %>&title=<%= titleAssociate %>">
			            			${results.companyPeople.associateCountMinus}
		            			</a>
		            		</div>
		            	</td>
			            <td id="otherCounsel_${results.companyId}">
			            	<a href="attorney-details<%= drilldownURL %>&title=<%= titleCounsel %>">
			            		${results.companyPeople.otherCounselCount}
			            	</a>
			            </td>
			            <td id="plus_otherCounsel_${results.companyId}">
			            	<div class="blue">
			            		<a href="attorney-moves-details<%= drilldownURL %>&mode=<%= typeAdditions %>&title=<%= titleCounsel %>">
			            			${results.companyPeople.otherCounselCountPlus}
			            		</a>
			            	</div>
			            </td>
			            <td id="minus_otherCounsel_${results.companyId}">
			            	<div class="red">
			            		<a href="attorney-moves-details<%= drilldownURL %>&mode=<%= typeRemovals %>&title=<%= titleCounsel %>">
			            			${results.companyPeople.otherCounselCountMinus}
			            		</a>
			            	</div>
			            </td>
			            <td id="admin_${results.companyId}">
			            	<a href="attorney-details<%= drilldownURL %>&title=<%= titleAdmin %>">
			            		${results.companyPeople.adminCount}
		            		</a>
	            		</td>
			            <td id="plus_admin_${results.companyId}">
			            	<div class="blue">
			            		<a href="attorney-moves-details<%= drilldownURL %>&mode=<%= typeAdditions %>&title=<%= titleAdmin %>">
			            			${results.companyPeople.adminCountPlus}
			            		</a>
			            	</div>
			            </td>
			            <td id="minus_admin_${results.companyId}">
			            	<div class="red">
			            		<a href="attorney-moves-details<%= drilldownURL %>&mode=<%= typeRemovals %>&title=<%= titleAdmin %>">
			            			${results.companyPeople.adminCountMinus}
			            		</a>
			            	</div>
			            </td>
			            <td id="other_${results.companyId}">
			            	<a href="attorney-details<%= drilldownURL %>&title=<%= titleOther %>">
			            		${results.companyPeople.otherCount}
			            	</a>
			            </td>
			            <td id="plus_other_${results.companyId}">
			            	<div class="blue">
			            		<a href="attorney-moves-details<%= drilldownURL %>&mode=<%= typeAdditions %>&title=<%= titleOther %>">
			            			${results.companyPeople.otherCountPlus}
			            		</a>
			            	</div>
			            </td>
			            <td id="minus_other_${results.companyId}">
			            	<div class="red">
			            		<a href="attorney-moves-details<%= drilldownURL %>&mode=<%= typeRemovals %>&title=<%= titleOther %>">
			            			${results.companyPeople.otherCountMinus}
			            		</a>
			            	</div>
			            </td>
			            <%--Send the corresponding PeopleResult Object --%>
<%
			            String data[] =  calculatePercentageData(((PeopleResultDTO)pageContext.getAttribute("results")).getCompanyPeople(), cssClassMap); 
%>
			            <td class="<%=data[0]%>">
			            	<%=data[1]%>
			            </td>
			          </tr>	          
		          </c:forEach>
		          </c:when>
		           <c:otherwise>
			      		<tr class="levelhead"  >
			      			<td align="center"  colspan="100%">0 Results, Please try a different search</td>
			      		</tr>     		
		      		</c:otherwise>
		      </c:choose>
       </table>
 </div>     
 </c:if>
 <!-- Title grouping results End -->

 <!-- Head count grouping results Start -->
 <c:if test="${peopleSearchModelBean.orderBy  == -2}"> <%--Group By Head count --%>
       
        <div id="groupedData">
       
       		<table border="0" cellspacing="0" class="tble3" cellpadding="0">
		      <colgroup>
				 <col width="6%" />
				 <col width="3%" id="offices_subheader_col" />
		          <col width="3%" id="practices_subheader_col" /> 
		          <col width="3%" id="plus_firmHeadcount_subheader_col" />
		          <col width="3%" id="minus_firmHeadcount_subheader_col" />
		          <col width="3%" id="plus_partners_subheader_col" />
		          <col width="3%" id="minus_partners_subheader_col" />
		          <col width="3%" id="plus_associates_subheader_col" />
		          <col width="3%" id="minus_associates_subheader_col" />
		          <col width="3%" id="plus_otherCounsel_subheader_col" />
		          <col width="3%" id="minus_otherCounsel_subheader_col" />
		          <col width="3%" id="plus_admin_subheader_col" />
		          <col width="3%" id="minus_admin_subheader_col" />
		          <col width="3%" id="plus_other_subheader_col" />
		          <col width="3%" id="minus_other_subheader_col" />
				  <col width="3%" />
				
			  </colgroup>
		          <tr class="tpbar">
		            <th colspan="3" rowspan="2" class="backbrdnone">&nbsp;</th>
		            <th colspan="4" id="headcount">Headcount</th>
		            <th colspan="9" id="changes_grouped">Changes</th>
		          </tr>
		          <tr>
		            <th rowspan="2" id="firmHeadcount_subheader_grouped">Total</th>
		            <th rowspan="2" id="partners_subheader_grouped">Partner</th>
		            <th rowspan="2" id="associates_subheader_grouped">Associate</th> 
		            <th rowspan="2" id="otherCounsel_subheader_grouped">Counsel</th>
		            <th colspan="2" id="firmHeadcount_subheader_total_grouped">Total</th>
		            <th colspan="2" id="partners_subheader_total_grouped" >Partner</th>
		            <th colspan="2" id="associates_subheader_total_grouped">Associate</th>
		            <th colspan="2" id="otherCounsel_subheader_total_grouped">Counsel</th>
		            <th rowspan="2">% Chg. (Attorneys)</th>
		          </tr>
		          <tr>
		            <th >Firm</th>
		            <th id="offices_header_grouped">Offices</th>
		            <th id="practices_header_grouped">Practices</th>
		            <th id="plus_firmHeadcount_subheader_total_grouped"><span class="btn icon addgry">&nbsp;</span></th>
		            <th id="minus_firmHeadcount_subheader_total_grouped"><span class="btn icon negry">&nbsp;</span></th>
		            <th id="plus_partners_subheader_total_grouped"><span class="btn icon addgry">&nbsp;</span></th>
		            <th id="minus_partners_subheader_total_grouped"><span class="btn icon negry">&nbsp;</span></th>
		            <th id="plus_associates_subheader_total_grouped"><span class="btn icon addgry">&nbsp;</span></th>
		            <th id="minus_associates_subheader_total_grouped"><span class="btn icon negry">&nbsp;</span></th>
		            <th id="plus_otherCounsel_subheader_total_grouped"><span class="btn icon addgry">&nbsp;</span></th>
		            <th id="minus_otherCounsel_subheader_total_grouped"><span class="btn icon negry">&nbsp;</span></th>
		          </tr>
		         
					<c:choose>
					<c:when test="${fn:length(fsResultsList) gt 0}"> 
						<c:forEach var="results" items="${fsResultsList}">
<%
	PeopleResultDTO thisResultDTO 	= (PeopleResultDTO) pageContext.getAttribute("results");
	String			drilldownURL  	= "?firmStatsDrilldown=" + URLEncoder.encode(thisResultDTO.getCompanyName(), "UTF-8") + "&drilldownSearch=" + URLEncoder.encode(searchJSON, "UTF-8");
	String			titlePartner	= URLEncoder.encode(ALMConstants.PARTNERS, "UTF-8");
	String			titleAssociate	= URLEncoder.encode(ALMConstants.ASSOCIATES, "UTF-8");
	String			titleCounsel	= URLEncoder.encode(ALMConstants.OTHER_COUNSEL, "UTF-8");
	String			titleAdmin		= URLEncoder.encode(ALMConstants.ADMINISTRATIVE, "UTF-8");
	String			titleOther		= URLEncoder.encode(ALMConstants.OTHER, "UTF-8");
	String			typeAdditions	= URLEncoder.encode(ALMConstants.ADDITIONS, "UTF-8");
	String			typeRemovals	= URLEncoder.encode(ALMConstants.REMOVALS, "UTF-8");
%>
							<tr class="odd">
								<td style="text-align:left">
									<div style="margin-left:10px">
								    	<c:choose>
											<c:when test="${not empty results.companyWebsite}">
												<a href="${results.companyWebsite}" target="_blank">${results.companyName}</a>
								            </c:when>
								            <c:otherwise>
								            	${results.companyName}
								            </c:otherwise>
							            </c:choose>
									</div>
								</td>
							    <td>
									<button id="officeExpand_${results.companyId}_grouped" value="${results.companyId}">
										${results.officesCount}
									</button>
					            </td>
			            		<td>
			            			<button id="practiceExpand_${results.companyId}_grouped" value="${results.companyId}">
			            				${fn:length(results.practicesMap)}
			            			</button>
			            		</td> 
					            <td	id="firmHeadcount_grouped_${results.companyId}">
					            	<a href="attorney-details<%= drilldownURL %>">
					            		${results.companyPeople.headCount}
					            	</a>
					            </td>
					            <td id="partners_grouped_${results.companyId}">
					            	<a href="attorney-details<%= drilldownURL %>&title=<%= titlePartner %>">
					            		${results.companyPeople.partnerCount}
				            		</a>
				            	</td>
					            <td id="associates_grouped_${results.companyId}">
					            	<a href="attorney-details<%= drilldownURL %>&title=<%= titleAssociate %>">
					            		${results.companyPeople.associateCount}
					            	</a>
					            </td>
					            <td id="otherCounsel_grouped_${results.companyId}">
					            	<a href="attorney-details<%= drilldownURL %>&title=<%= titleCounsel %>">
					            		${results.companyPeople.otherCounselCount}
					            	</a>
					            </td>
					            <td id="plus_firmHeadcount_grouped_${results.companyId}">
					            	<div class="blue">
					            		<a href="attorney-moves-details<%= drilldownURL %>&mode=<%= typeAdditions %>">
					            			${results.companyPeople.headCountPlus}
					            		</a>
					            	</div>
					            </td>
					            <td id="minus_firmHeadcount_grouped_${results.companyId}">
					            	<div class="red">
					            		<a href="attorney-moves-details<%= drilldownURL %>&mode=<%= typeRemovals %>">
					            			${results.companyPeople.headCountMinus}
					            		</a>
					            	</div>
					            </td>
					            <td id="plus_partners_grouped_${results.companyId}">
					            	<div class="blue">
					            		<a href="attorney-moves-details<%= drilldownURL %>&mode=<%= typeAdditions %>&title=<%= titlePartner %>">
					            			${results.companyPeople.partnerCountPlus}
					            		</a>
					            	</div>
					            </td>
					            <td id="minus_partners_grouped_${results.companyId}">
					            	<div class="red">
					            		<a href="attorney-moves-details<%= drilldownURL %>&mode=<%= typeRemovals %>&title=<%= titlePartner %>">
					            			${results.companyPeople.partnerCountMinus}
					            		</a>
					            	</div>
					            </td>
					            <td id="plus_associates_grouped_${results.companyId}">
					            	<div class="blue">
					            		<a href="attorney-moves-details<%= drilldownURL %>&mode=<%= typeAdditions %>&title=<%= titleAssociate %>">
					            			${results.companyPeople.associateCountPlus}
					            		</a>
					            	</div>
					            </td>
					            <td id="minus_associates_grouped_${results.companyId}">
					            	<div class="red">
					            		<a href="attorney-moves-details<%= drilldownURL %>&mode=<%= typeRemovals %>&title=<%= titleAssociate %>">
					            			${results.companyPeople.associateCountMinus}
				            			</a>
				            		</div>
				            	</td>
					            <td id="otherCounsel_grouped_${results.companyId}">
					            	<a href="attorney-details<%= drilldownURL %>&title=<%= titleCounsel %>">
					            		${results.companyPeople.otherCounselCount}
					            	</a>
					            </td>
					            <td id="plus_otherCounsel_grouped_${results.companyId}">
					            	<div class="blue">
					            		<a href="attorney-moves-details<%= drilldownURL %>&mode=<%= typeAdditions %>&title=<%= titleCounsel %>">
					            			${results.companyPeople.otherCounselCountPlus}
					            		</a>
					            	</div>
					            </td>
<%
					            String data[] =  calculatePercentageData(((PeopleResultDTO)pageContext.getAttribute("results")).getCompanyPeople(), cssClassMap); 
%>
					            <td class="<%=data[0]%>">
						            <%=data[1]%>
					            </td>

				          </tr>
				        </c:forEach> 
					</c:when>
		           	<c:otherwise>
			      		<tr class="levelhead"  >
			      			<td align="center"  colspan="100%">0 Results, Please try a different search</td>
			      		</tr>     		
		      		</c:otherwise>
		      </c:choose>
          </table>
       </div>
    </c:if>
 <!-- Head count grouping results End -->