 
             <div id="mainWrapper" class="navbg">
            <div id="wrapper">
            <!-- Navigation Section -->
            <div class="hometab"><a href="/web/guest/home" class="active">Home</a></div>
        
   <nav class="mainnav">
	
	<ul>
		#foreach ($nav_item in $nav_items)
			#if ($nav_item.isSelected())
				<li class="selected">
			#else
				<li>
			#end
				<a href="$nav_item.getURL()" $nav_item.getTarget()><span>$nav_item.icon() $nav_item.getName()</span></a>

				#if ($nav_item.hasChildren())
					<ul class="mainsub">
						#foreach ($nav_child in $nav_item.getChildren())
							#if ($nav_child.isSelected())
								<li class="selected">
							#else
								<li>
							#end
								<a href="$nav_child.getURL()" $nav_child.getTarget()>$nav_child.getName()</a>
							</li>
						#end
					</ul>
				#end
			</li>
		#end
		<li id="demo"> <a href="/web/guest/demo"><span> Demo</span></a> </li>
	</ul>
</nav>
<div style="margin-left:40px">
#set ($VOID = $velocityPortletPreferences.setValue('display-style', '1'))
#set ($VOID = $velocityPortletPreferences.setValue('portlet-setup-show-borders', 'false'))
#set ($myPortletId = "ShoppingCart_WAR_teachweblearnportlets10")
$theme.runtime($myPortletId, '', $velocityPortletPreferences.toString())
##$theme.runtime('portlet_ShoppingCart_WAR_teachweblearnportlets10_INSTANCE_dhJbFzPswV60', '', $velocityPortletPreferences.toString())
#set ($VOID = $velocityPortletPreferences.reset())
</div>
</div>
        </div>
        