/* HOVER STYLES */
div#popupPieChartDiv {
	display: none;
	position: absolute;
	width: 280px;
	padding: 10px;
	background: #eeeeee;
	color: #000000;
	border: 1px solid #1a1a1a;
	font-size: 90%;
}

div#individualFirmDetailsDiv {
	display: none;
	position: absolute;
	width: 150px;
	padding: 10px;
	background: #eeeeee;
	color: #000000;
	border: 1px solid #1a1a1a;
	font-size: 90%;
}

span.popupTotal {
	background-color: #A4A4A4;
	border: 1px solid;
	color: #FAFAFA;
	height: 10px;
	margin-left: 30px;
	width: 37px;
}

span.popupIndividual {
	margin-left: 30px;
	color: #2E64FE;
	width: 20px;
	border: 1px solid;
}

.amntNewsNpubs {
	background: url(../images/netchart.gif) 88px -168px no-repeat;
}

.percNewsNpubs {
	background: url(../images/percent-image.gif) 88px -168px no-repeat;
}

div#hoverOverTable {
	display: none;
	position: absolute;
	width: 150px;
	padding: 10px;
	background: #eeeeee;
	color: #000000;
	border: 1px solid #1a1a1a;
	font-size: 90%;
}

div#percentageHoverOver {
	display: none;
	position: absolute;
	width: 150px;
	padding: 10px;
	background: #eeeeee;
	color: #000000;
	border: 1px solid #1a1a1a;
	font-size: 90%;
}

.individualfirms {
	padding: 2px 0 5px;
	width: 198px;
	margin: 0;
	border: 1px solid #ccc;
	height: 70px;
	overflow: auto;
	opacity: 1;
	filter: alpha(opacity = 100);
}

.individualfirms input {
	margin: 0 5px
}

.firmPage p {
	margin: 5px 0;
}

.individualfirms-first {
	padding: 2px 0 5px;
	/*width: 198px;*/
	margin: 0;
	color: #ffffff;
	background-color: #666666;
	border: 1px solid #999999
}

.individualfirms-first input {
	margin: 0 5px
}

.individualfirms-Watchlist-peopleFirmStats {
	padding: 2px 0 5px;
	width: 198px;
	margin: 0;
	color: #ffffff;
	background-color: #666666;
	border: 1px solid #999999
}

.individualfirms-Watchlist input {
	margin: 0 5px
}

.individualfirms-Organization {
	padding: 2px 0 5px;
	width: 198px;
	margin: 0;
	color: #ffffff;
	background-color: #666666;
	border: 1px solid #999999
}

.individualfirms-Organization input {
	margin: 0 5px
}

.individualfirmsWatchListPeopleFirmStats {
	padding: 2px 0 5px;
	width: 198px;
	margin: 0;
	border: 1px solid #ccc;
	height: 70px;
	overflow: auto;
	opacity: 1;
	filter: alpha(opacity = 100);
}

.individualfirmsWatchList input {
	margin: 0 5px
}

.individualfirmsOrganization {
	padding: 2px 0 5px;
	width: 198px;
	margin: 0;
	border: 1px solid #ccc;
	height: 70px;
	overflow: auto;
	opacity: 1;
	filter: alpha(opacity = 100);
}

.individualfirmsOrganization input {
	margin: 0 5px
}

/*.popupsubmit {
	margin: 10px 0 0 70px;
	width: auto;
	float: left;
}
*/
.Popup-Calendar { margin:10px 0 0 0; width: auto; float: right;}

#dropdown #droplist li .firmPage {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #B1B0AE;
	color: #777777;
	display: none;
	left: 0;
	padding: 15px 10px;
	position: absolute;
	top: 29px;
	/*width: 215px !important;*/
}

#dropdown ul#droplist li .datePage {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #B1B0AE;
	color: #777777;
	display: none;
	left: 0;
	padding: 15px 10px;
	position: absolute;
	top: 29px;
	/*width: 320px !important;*/
}

/*
#allOtherFirmDiv,#practiceAreaDiv, #allOtherLocationsDiv {
	background-color: #ffffff;
	border: 1px solid #CCCCCC;
	height: 100px;
	margin: 0;
	width: 188px !important;
	padding: 5px;
	overflow: auto;
}
*/

.buttonOne {
	background: url(../images/btn1.png) 0 0 repeat-x !important;
	border: none !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font: normal 12px Arial, Helvetica, sans-serif !important;
	padding: 5px 10px !important;
	cursor: pointer;
	text-shadow: none !important;
	color: #ffffff !important;
}

.buttonOne:hover {
	background-position: 0 -39px !important;
	border: none !important;
}

.buttonTwo {
	background: url(../images/btn2.png) 0 0 repeat-x !important;
	border: none !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font: normal 12px Arial, Helvetica, sans-serif !important;
	padding: 5px 10px !important;
	cursor: pointer;
	text-shadow: none !important;
	color: #ffffff !important;
}

.buttonTwo:hover {
	background-position: 0 -39px !important;
	border: none !important;
}

.popupsubmenu {
	margin: 0;
}
