@charset "utf-8";
/*** Global Resets ***/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}
html,body {height:100%}
body {line-height:1;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
nav ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
a {margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent;}
ins {background-color:#ff9; color:#000; text-decoration:none;}
mark {background-color:#ff9; color:#000; font-style:italic; font-weight:bold;}
del {text-decoration:line-through;}
abbr[title], dfn[title] {border-bottom:1px dotted; cursor:help;}
table {border-collapse:collapse; border-spacing:0;}
hr {display:block; height:1px; border:0; border-top:1px solid #cccccc; margin:1em 0; padding:0;}
input, select {vertical-align:middle;}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, p, blockquote, embed, object {padding:0; margin:0;}
body, html {padding:0; margin:0;}
fieldset, img, abbr {border:0;}
ul {list-style:none;}
img {border:none; max-width:100%}
a:focus {outline:0;}
* {outline:none }
a {text-decoration:none; cursor:pointer;}
a:hover {text-decoration:underline;}
input[type=radio] {vertical-align:middle;}
img {border:none;}
.hidden {display:none;}
.clear {clear:both; width:100%; overflow:hidden; height:0; font-size:0}
.redLink {color:#FF3C00}
div.nofloat, .nofloat {float:none}
.flLeft {float:left}
.flRight {float:right}

a:link {color:#000; text-decoration:none}
a:visited {color:#000; text-decoration:none}
a:active {color:#000; text-decoration:none}
a:hover {color:#000; text-decoration:underline}
