@charset "utf-8";
/* CSS Document */
/*** BODY (GLOBAL SETTING)***/
html {}
body {background:#ecebe8 url(../images/bybg.gif) 0 0 repeat-x; font:normal 12px Arial, Helvetica, sans-serif; color:#777; line-height:18px}
html , body {height:100%}
#page_wrapper {margin-left:auto; margin-right:auto; width:1220px; text-align:left;}
#page_Header {background:url(../images/header_bar2.gif) top left repeat-x; height:106px;}
#navcontainer {float:right}
#navcontainer ul {padding:16px 0px 0px 0px; margin:0px; color:#FFFFFF; float:left; width:495px; font-family:arial, helvetica, sans-serif; font-size:12px; font-weight:lighter;}
#navcontainer ul li {display:inline;}
#navcontainer ul li a {padding-top:0px; padding-bottom:0px; padding-left:15px; padding-right:15px; background-color:transparent; color:#FFFFFF; text-decoration:none; float:left; background:url(../images/divider.gif) top left no-repeat;}
#navcontainer ul li a:hover {color:#FC0;}
#menu {width:495px; float:left;}
#menu ul {padding:12px 0px 0px 0px; margin:0px; color:#FFFFFF; float:left; width:495px; font-family:arial, helvetica, sans-serif; font-size:12px; font-weight:lighter;}
#menu ul li {display:inline;}
#menu ul li a {padding-top:0px; padding-bottom:0px; padding-left:15px; padding-right:15px; background-color:transparent; color:#FFFFFF; text-decoration:none; float:left; background:url(../images/menu_division.gif) top left no-repeat; height:37px;}
#menu ul li a:hover {background:url(../images/menu_hover.gif) center left no-repeat; margin:0px 0px 0px 0px; padding:0px 2px 0px 2px; width:81px; height:46px; color:#FC0;}
#dropdown ul#droplist {padding:15px 0px 0px 0px; margin:0px; color:#000; float:left; width:1220px; font-family:arial, helvetica, sans-serif; font-size:12px; font-weight:lighter;}
#dropdown ul#droplist li label {display:block; width:100%; color:#777777; margin-bottom:2px}
#dropdown ul#droplist li {padding:0; float:left; margin:0 5px 0 0; display:inline;}
#dropdown ul#droplist li .srchBox {border:1px solid #ddd; background:#fff; width:147px; float:left; border-right:none}
#dropdown ul#droplist li .srchBox .input {background:none; border:none; float:left; width:110px; padding:5px 5px 6px}
#dropdown ul#droplist li .srchBox .srchBack {background:url(../images/srchBack.png) 0 0 no-repeat; width:16px; height:16px; display:block; float:left; border:none; margin-right:7px; margin-top:6px; cursor:pointer}
#dropdown ul#droplist li .drpDwn {background:url(../images/icnlist.png) 0 0 no-repeat; width:30px; height:29px; border:1px solid #ddd; float:right; cursor:pointer; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
#dropdown ul#droplist li .typeSel {background:url(../images/icnlist.png) 100% 0 no-repeat; width:30px; height:29px; border:1px solid #ddd; float:right; cursor:pointer; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}

#button {float:right}
#button ul {padding:0px 0px 0px 0px; margin:0px; color:#FFFFFF; float:left; width:425px; font-family:arial, helvetica, sans-serif; font-size:12px; font-weight:lighter;}
#button ul li {display:inline;}
#button ul li a {padding-top:0px; padding-bottom:0px; padding-left:5px; padding-right:5px; background-color:transparent; color:#FFFFFF; text-decoration:none; float:left; height:32px; width:82px; background:url(../images/grey_button.jpg) top left no-repeat;}
#button ul li a:hover {background:#FF4517 url(../images/btn-hover.jpg) bottom left repeat-x; color:#fff;}
.title h1 {margin:0px; padding:0px; font-family:Myriad Pro; font-size:17px; color:#000; font-weight:bold;}
.midddle {margin:0px; padding:0px 0px 0px 0px; background:#fff; width:1220px; border-bottom:1px solid #000;}
.tablesection {margin:0px; padding:0px 0px 0px 0px; background:url(../images/table_bg.gif) top left repeat-x; height:31px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; color:#CCCCCC;}
.tableitems {margin:0px 0px 0px 0px; padding:7px 0px 0px 8px; float:left;}
.grayrow {margin:0px 0px 0px 0px; padding:0px 0px 0px px; background:url(../images/grey_row.gif) top left repeat-x; height:52px;}
.whiterow {margin:0px 0px 0px 0px; padding:0px 0px 0px px; height:52px; background:#FFFFFF;}
.rowitems {margin:0px 0px 0px 0px; padding:7px 0px 0px 8px; float:left; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px; font-weight:normal; color:#000;}
.rowitems h1 {margin:0px 0px 0px 0px; padding:0px 0px 0px px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; color:#000; text-decoration:underline;}
.rowitems h2 {margin:0px 0px 0px 0px; padding:0px 0px 0px px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:13px; font-weight:normal; color:#666;}
.rowitems h3 {margin:0px 0px 0px 0px; padding:0px 0px 0px px; font-family:Trebuchet MS, Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; color:#777;}
.endline {margin:0px 16px 0px 16px; padding:0px 0px 0px 0px; background:url(../images/end_line.gif) top left repeat-x; height:1px;}
#page_footer {background:url(../images/footer_img.gif) top left repeat-x}

.buttonOne {background:url(../images/btn1.png) 0 0 repeat-x; border:1px solid #bf8d1f; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; font:normal 12px Arial, Helvetica, sans-serif; color:#fff; padding:5px 10px; cursor:pointer}
.buttonOne:hover {background-position:0 -39px}
.buttonTwo {background:url(../images/btn2.png) 0 0 repeat-x; border:1px solid #565656; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; font:normal 12px Arial, Helvetica, sans-serif; color:#fff; padding:5px 10px; cursor:pointer}
.buttonTwo:hover {background-position:0 -39px}

.viewSetting {color:#888}
.viewSetting span {background:url(../images/icnAll.png) 0 0 no-repeat; padding:2px 0px 3px 15px;}
.viewSetting span span {background-position:100% -30px; padding-right:50px}

.filtersPage .barSec {background:url(../images/additinalBack.png) center 0 no-repeat; width:100%; height:24px; margin:10px 0}
.filtersPage .dwnBx {display:block; text-align:center; text-decoration:none; color:#fff; padding:5px 0}
.filtersPage .upBx {display:block; text-align:center; text-decoration:none; color:#fff; padding:5px 0}

h4.heading {font:normal 17px Arial, Helvetica, sans-serif; color:#ba850f; margin-bottom:5px; text-transform:uppercase}
.menuRight {margin-bottom:5px}
.menuRight li {float:left; display:block; margin-right:15px}
.menuRight li a {background:url(../images/icnAll.png) 0 0 no-repeat; float:left; display:block; padding:0 0 4px 22px; color:#777}
.menuRight li a.alert {background-position:0 -50px}
.menuRight li a.print {background-position:0 -85px}
.menuRight li a.export {background-position:0 -112px}
.menuRight li a.help {background-position:0 -136px}

.detailsPage {background:#fff; padding:20px; border:1px solid #ddd}
.tblOne {margin:10px 0}
.tblOne thead {background:url(../images/tbth.gif) 0 0 repeat-x; color:#fff; height:31px}
.tblOne tr th {vertical-align:middle; padding:0 5px}
.tblOne tr.odd td {background:#f6f4f2; padding:10px 0; vertical-align:top}
.tblOne tr.even td {padding:10px 0; vertical-align:top}
.tblOne h6 {font-weight:normal}
.tblOne h6 a {text-decoration:underline}
.tblOne h6 a:hover {text-decoration:none}

