/* HOVER STYLES */
div#popupPieChartDiv {
	display: none;
	background: #eeeeee;
	border: 1px solid #1A1A1A;
    color: #000000;
    float: right;
    font-size: 90%;
    padding: 10px;
    position: absolute;
    width: 280px;
    z-index: 999;
}

div#individualFirmDetailsDiv {
	display: none;
	position: absolute;
	width: 150px;
	padding: 10px;
	background: #eeeeee;
	color: #000000;
	border: 1px solid #1a1a1a;
	font-size: 90%;
}

span.popupTotal{
	background-color: #A4A4A4;
    border: 1px solid;
    color: #FAFAFA;
    height: 10px;
    margin-left: 30px;
    width: 37px;
}
span.popupIndividual{
	margin-left: 30px;
	color: #2E64FE;
	width: 20px;
	border: 1px solid;
}
/* Pop up hower */
.popuponhover{
	position:absolute;
	z-index:999;
}
.popuptitle {
	color: #000000;
	font-size: 12px;
}
.statistics
{
	text-align:center;
}
.statistics-type
{
	margin:0 0 0 10px;
}
.clickToViewDetails
{
	text-align:center;
}

/*#allOtherFirmDiv , #practiceAreaDiv, #allOtherLocationsDiv { background: none !important; border: 1px solid #CCCCCC; height: 100px; margin: 0; overflow: auto; padding:2px 0 5px; width:220px}*/
.buttonOne {background:url(../images/btn1.png) 0 0 repeat-x !important; border:none !important; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; font:normal 12px Arial, Helvetica, sans-serif !important; padding:5px 10px !important; cursor:pointer; text-shadow:none !important; color:#ffffff !important;}
.buttonOne:hover {background-position:0 -39px !important; border:none!important;}
.buttonTwo {background:url(../images/btn2.png) 0 0 repeat-x !important; border:none !important; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; font:normal 12px Arial, Helvetica, sans-serif !important; padding:5px 10px !important; cursor:pointer; text-shadow:none !important; color:#ffffff !important;}
.buttonTwo:hover {background-position:0 -39px !important; border:none!important;}
.popupsubmenu { margin:0;}
/*.popupsubmit { margin:10px 10px 0 0; width:auto; float:right;}*/

.individualfirms-first {padding:2px 0 5px; width:220px; margin:0; color:#ffffff; background-color:#666666; border:1px solid #999999}
.individualfirms-Watchlist-Firm  { color:#ffffff; background-color:#666666; border:1px solid #999999}
.individualfirmsWatchListFirm { border:1px solid #ccc; height:70px; overflow:auto; opacity: 1; filter:alpha(opacity=100);}
#individualFirmsCounter input { margin:0 5px}
.individualPracticeAreaCounterNewsPubs  {padding:2px 0 5px; width:220px; margin:0; color:#ffffff; background-color:#666666; border:1px solid #999999}
#individualPracticeAreaCounter input { margin:0 5px}
#allOtherFirmDiv input { margin:0 5px}
/*#dropdown #droplist li .firmPage { width: 235px !important;}
#dropdown ul#droplist li .datePage { width: 315px !important;}
*/.ContentType { border:1px solid #999999;}