@charset "utf-8";
/*** Global Resets ***/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}
html,body {height:100%}
body {line-height:1;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
nav ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
a {margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent;}
ins {background-color:#ff9; color:#000; text-decoration:none;}
mark {background-color:#ff9; color:#000; font-style:italic; font-weight:bold;}
del {text-decoration:line-through;}
abbr[title], dfn[title] {border-bottom:1px dotted; cursor:help;}
table {border-collapse:collapse; border-spacing:0;}
hr {display:block; height:1px; border:0; border-top:1px solid #cccccc; margin:1em 0; padding:0;}
input, select {vertical-align:middle;}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, p, blockquote, embed, object {padding:0; margin:0;}
body, html {padding:0; margin:0;}
fieldset, img, abbr {border:0;}
ul {list-style:none;}
img {border:none; max-width:100%}
a:focus {outline:0;}
* {outline:none }
a {text-decoration:none; cursor:pointer;}
a:hover {text-decoration:underline;}
input[type=radio] {vertical-align:middle;}
img {border:none;}
.hidden {display:none;}
.clear {clear:both; width:100%; overflow:hidden; height:0; font-size:0}
.redLink {color:#FF3C00}
div.nofloat, .nofloat {float:none}
.flLeft {float:left}
.flRight {float:right}
.reset { list-style:none; padding:0; margin:0 }
a:link {color:#000; text-decoration:none}
a:visited {color:#000; text-decoration:none}
a:active {color:#000; text-decoration:none}
a:hover {color:#000; text-decoration:underline}
/* text TRANSFORMS */
.allCaps,.allCaps a {text-transform:capitalize}
.upperCase, .upperCase a {text-transform:uppercase}
.underlined, .underlined a {text-decoration:underline}
/* text ALIGN & content ALIGN for inline level ELEMENTS */
.centerAll {text-align:center}
.leftAlign {text-align:left}
.rightAlign {text-align:right}
.justified {text-align:justify}
/* FIXED PADDINGs - horizontal inner space right/left/top/btm side */
.nopadding {padding:0} .nomargin {margin:0}
/* Add these to a column to append empty space. */
.padrt1 {padding-right:5px} .padrt2 {padding-right:10px} .padrt3 {padding-right:15px} .padrt4 {padding-right:20px} .padrt5 {padding-right:25px} .padrt6 {padding-right:30px}
/* Add these to a column to prepend empty space. */
.padlt1 {padding-left:5px} .padlt2 {padding-left:10px} .padlt3 {padding-left:15px} .padlt4 {padding-left:20px} .padlt5 {padding-left:25px} .padlt6 {padding-left:30px}
/* Add these to a column to prepend top space. */
.padtp1 {padding-top:5px} .padtp2 {padding-top:10px} .padtp3 {padding-top:15px} .padtp4 {padding-top:20px} .padtp5 {padding-top:25px} .padtp6 {padding-top:30px}
/* Add these to a column to prepend bottom space. */
.padbtm1 {padding-bottom:5px} .padbtm2 {padding-bottom:10px} .padbtm3 {padding-bottom:15px} .padbtm4 {padding-bottom:20px} .padbtm5 {padding-bottom:25px} .padbtm6 {padding-bottom:30px}

/* FIXED MARGINs - vertical outer space right/left/top/btm side */
/* Add these to a column to prepend empty space. */
.mart1 {margin-right:5px} .mart2 {margin-right:10px} .mart3 {margin-right:15px} .mart4 {margin-right:20px} .mart5 {margin-right:25px} .mart6 {margin-right:30px}
/* Add these to a column to prepend empty space. */
.marlt1 {margin-left:5px} .marlt2 {margin-left:10px} .marlt3 {margin-left:15px} .marlt4 {margin-left:20px} .marlt5 {margin-left:25px} .marlt6 {margin-left:30px}
/* Add these to a column to prepend top space. */
.martp1 {margin-top:5px} .martp2 {margin-top:10px} .martp3 {margin-top:15px} .martp4 {margin-top:20px} .martp5 {margin-top:25px} .martp6 {margin-top:30px}
/* Add these to a column to prepend bottom space. */
.marbtm1 {margin-bottom:5px} .marbtm2 {margin-bottom:10px} .marbtm3 {margin-bottom:15px} .marbtm4 {margin-bottom:20px} .marbtm4 {margin-bottom:25px} .marbtm6 {margin-bottom:30px}
